<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/pc_assets/css/reset.css}">
    <link rel="stylesheet" th:href="@{/pc_assets/css/common.css}">
    <link rel="stylesheet" th:href="@{/pc_assets/css/calendar.css}">
    <link rel="stylesheet" th:href="@{/pc_assets/css/component.css}">
    <link rel="stylesheet" th:href="@{/pc_assets/css/main.css}">
    <link rel="stylesheet" th:href="@{/pc_assets/css/content.css}">
    <link rel="stylesheet" th:href="@{/pc_assets/css/reserve.css}">
    <link rel="stylesheet" th:href="@{/js/air-datepicker/dist/css/datepicker.min.css}">
    <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/js/air-datepicker/dist/js/datepicker.js}"></script>
    <script th:src="@{/js/air-datepicker/dist/js/i18n/datepicker.ko.js}"></script>
    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="css"></th:block>
</head>
<body>
    <th:block th:replace="fragments/header::headerFragment"></th:block>
    <th:block layout:fragment="content"> </th:block>
    <th:block th:replace="fragments/footer::footerFragment"></th:block>
</body>
</html>