<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="content">
<div class="container">
    <div class="inner">
        <div class="contents">
            <div class="title_wrap"><h2 class="title_30 mb0">차량상세</h2></div>
            <div class="top_product">
                <div class="img_area"><img
                        src="/img/morning.png"
                        alt=""></div>
                <div class="product_box"><p class="car_logo"><img src="https://homepage.skcarrental.com/pc_assets/img/contents/logo_kia.svg"
                                                                  alt="기아자동차"></p>
                    <div class="brand_info"><h2>기아자동차<strong> 모닝</strong></h2>
                        <p class="sub_title">[제휴사차량] 모닝 1.0 가솔린</p></div>
                </div>
                <div class="detail_info affi_wrap">
                    <div class="detail_info__tit"><p class="title_20"><span>에어카가 보장하는</span> 제휴사차량</p></div>
                    <hr class="mini">
                    <ul class="dot_list">
                        <li>이 차량은 에어카가 제휴사(한국렌트카, 금강렌트카, 제주자연렌트카)로부터<br> 위탁받아 운영하는 차량이에요.</li>
                        <li>최상의 차량 상태를 위해 에어카가 직접 관리해요.</li>
                        <li>모든 서비스는 에어카와 동일하게 이용 가능해요.</li>
                    </ul>
                </div>
                <ul class="spec_list">
                    <li><p class="ico"><img src="/img/oil.png" alt=""></p>
                        <p class="sbj">연료</p>
                        <p class="obj">가솔린</p></li>
                    <li><p class="ico"><img src="/img/ico_persons.png" alt=""></p>
                        <p class="sbj">승차인원</p>
                        <p class="obj">5 <em> 명</em></p></li>
                    <li><p class="ico"><img src="/img/ico_car_year.png" alt=""></p>
                        <p class="sbj">연식</p>
                        <p class="obj">2021</p></li>
                    <li><p class="ico"><img src="/img/ico_persons.png" alt=""></p>
                        <p class="sbj">운전자나이</p>
                        <p class="obj"><em>만 </em>21<em> 세 이상</em></p></li>
                    <li><p class="ico"><img src="/img/ico_driverEx1.png" alt=""></p>
                        <p class="sbj">운전경력</p>
                        <p class="obj">1<em> 년 이상</em></p></li>
                </ul>
            </div>
            <div class="detail_info user_review_box" style="margin-top: 32px;">
                <div class="detail_info__tit"><p class="title_20">이용자 리뷰</p>
                    <p class="title_14">고객들은 이런 경험을 했어요</p></div>
                <div class="more_btn"><a>더보기</a></div>
                <div class="chips_list">
                    <div class="chips chips_icon"><span class="img_icon"><img src="/assets/img/common/ico_rv_map.png"
                                                                              alt=""></span><span class="txt">지점 내 시설이 잘되어 있어요</span><em
                            class="number">2</em></div>
                    <div class="chips chips_icon"><span class="img_icon"><img src="/assets/img/common/ico_rv_info.png"
                                                                              alt=""></span><span class="txt">차량 대여/반납이 신속해요</span><em
                            class="number">2</em></div>
                    <div class="chips chips_icon"><span class="img_icon"><img src="/assets/img/common/ico_rv_find.png"
                                                                              alt=""></span><span class="txt">지점에 찾아가기 쉬워요</span><em
                            class="number">2</em></div>
                    <div class="chips chips_icon"><span class="img_icon"><img src="/assets/img/common/ico_rv_card.png"
                                                                              alt=""></span><span class="txt">홈페이지 예약 및 결제가 편리해요</span><em
                            class="number">2</em></div>
                    <div class="chips chips_icon"><span class="img_icon"><img src="/assets/img/common/ico_rv_clean.png"
                                                                              alt=""></span><span class="txt">차량 관리 상태가 좋아요</span><em
                            class="number">1</em></div>
                    <div class="chips chips_icon"><span class="img_icon"><img src="/assets/img/common/ico_rv_board.png"
                                                                              alt=""></span><span class="txt">주행 성능이 우수해요</span><em
                            class="number">1</em></div>
                </div>
            </div>
            <div class="detail_info" style="margin-top: 32px;">
                <div class="detail_info__tit"><p class="title_20">차량옵션</p></div>
                <div class="option_box">
                    <ul>
                        <li>
                            <div class="option_list"><img src="/img/ico_camera_24x24.png" alt="">
                                <div class="option_txt"><p>내비게이션 · 블루투스 · 후방카메라</p></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="detail_info" style="margin-top: 32px;">
                <div class="detail_info__tit"><p class="title_20">적재공간</p><span class="s_txt">정보제공: 겟차</span></div>
                <div class="option_box">
                    <ul>
                        <li class="space_list">
                            <div class="option_list"><img src="/img/ico_goldbag_32x32.png" alt="골프백 이미지">
                                <div class="option_txt"><p>골프백</p><span>가로 42cm · 세로 129cm 기준</span></div>
                            </div>
                            <div class="right_txt"><p>0 개</p></div>
                        </li>
                        <li class="space_list">
                            <div class="option_list"><img src="/img/ico_stroller_32x32.png"
                                                          alt="골프백 이미지">
                                <div class="option_txt"><p>유모차</p></div>
                            </div>
                            <div class="right_txt"><p>휴대용까지 가능</p></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="detail_info" style="margin-top: 32px;">
                <div class="detail_info__tit"><p class="title_20">인수 및 반납장소</p><span class="s_txt">정보제공: 네이버지도</span>
                </div>
                <div class="navy_box">
                    <div class="navy_wrap">
                        <div id="react-naver-map" tabindex="0"
                             style="width: 100%; height: 190px; position: relative; overflow: hidden; background: rgb(248, 249, 250);">
                            <div style="position: absolute; display: block; margin: 0px; padding: 0px; border: 0px none; top: 0px; left: 0px; overflow: visible; width: 100%; height: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); z-index: 0; cursor: url(&quot;https://ssl.pstatic.net/static/maps/mantle/1x/openhand.cur&quot;), default;">
                                <div style="position: absolute; display: block; margin: 0px; padding: 0px; border: 0px none; top: 0px; left: 0px; overflow: visible; width: 100%; height: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); z-index: 0;">
                                    <div style="overflow: visible; width: 100%; height: 0px; position: absolute; display: block; margin: 0px; padding: 0px; border: 0px none; top: 829422px; left: -2.94772e+06px; z-index: 1;">
                                        <div style="overflow: visible; width: 100%; height: 0px; position: absolute; display: none; margin: 0px; padding: 0px; border: 0px none; top: 0px; left: 0px; z-index: 0; user-select: none;"></div>
                                        <div style="overflow: visible; width: 100%; height: 0px; position: absolute; display: block; margin: 0px; padding: 0px; border: 0px none; top: 0px; left: 0px; z-index: 1; user-select: none;">
                                            <div style="position: absolute; top: 0px; left: 0px; z-index: 0; margin: 0px; padding: 0px; border: 0px solid transparent; display: block; width: 0px; height: 0px; overflow: visible; box-sizing: content-box !important;">
                                                <div draggable="false" unselectable="on"
                                                     style="position: absolute; top: -829344px; left: 2.94791e+06px; z-index: 0; margin: 0px; padding: 0px; border: 0px solid transparent; user-select: none; -webkit-user-drag: none; box-sizing: content-box !important; opacity: 1; width: 256px; height: 256px;">
                                                    <img draggable="false" unselectable="on" alt=""
                                                         crossorigin="anonymous" width="256" height="256"
                                                         src="https://nrbe.pstatic.net/styles/basic/1693547540/15/27898/13144.png?mt=bg.ol.sw.ar.lko"
                                                         style="margin: 0px; padding: 0px; border: 0px solid transparent; display: block; user-select: none; -webkit-user-drag: none; box-sizing: content-box !important; max-width: none !important; max-height: none !important; min-width: 0px !important; min-height: 0px !important; opacity: 1; position: absolute; left: 0px; top: 0px; z-index: 0; width: 256px; height: 256px;">
                                                </div>
                                                <div draggable="false" unselectable="on"
                                                     style="position: absolute; top: -829600px; left: 2.94791e+06px; z-index: 0; margin: 0px; padding: 0px; border: 0px solid transparent; user-select: none; -webkit-user-drag: none; box-sizing: content-box !important; opacity: 1; width: 256px; height: 256px;">
                                                    <img draggable="false" unselectable="on" alt=""
                                                         crossorigin="anonymous" width="256" height="256"
                                                         src="https://nrbe.pstatic.net/styles/basic/1693547540/15/27898/13143.png?mt=bg.ol.sw.ar.lko"
                                                         style="margin: 0px; padding: 0px; border: 0px solid transparent; display: block; user-select: none; -webkit-user-drag: none; box-sizing: content-box !important; max-width: none !important; max-height: none !important; min-width: 0px !important; min-height: 0px !important; opacity: 1; position: absolute; left: 0px; top: 0px; z-index: 0; width: 256px; height: 256px;">
                                                </div>
                                                <div draggable="false" unselectable="on"
                                                     style="position: absolute; top: -829600px; left: 2.94817e+06px; z-index: 0; margin: 0px; padding: 0px; border: 0px solid transparent; user-select: none; -webkit-user-drag: none; box-sizing: content-box !important; opacity: 1; width: 256px; height: 256px;">
                                                    <img draggable="false" unselectable="on" alt=""
                                                         crossorigin="anonymous" width="256" height="256"
                                                         src="https://nrbe.pstatic.net/styles/basic/1693547540/15/27899/13143.png?mt=bg.ol.sw.ar.lko"
                                                         style="margin: 0px; padding: 0px; border: 0px solid transparent; display: block; user-select: none; -webkit-user-drag: none; box-sizing: content-box !important; max-width: none !important; max-height: none !important; min-width: 0px !important; min-height: 0px !important; opacity: 1; position: absolute; left: 0px; top: 0px; z-index: 0; width: 256px; height: 256px;">
                                                </div>
                                                <div draggable="false" unselectable="on"
                                                     style="position: absolute; top: -829344px; left: 2.94766e+06px; z-index: 0; margin: 0px; padding: 0px; border: 0px solid transparent; user-select: none; -webkit-user-drag: none; box-sizing: content-box !important; opacity: 1; width: 256px; height: 256px;">
                                                    <img draggable="false" unselectable="on" alt=""
                                                         crossorigin="anonymous" width="256" height="256"
                                                         src="https://nrbe.pstatic.net/styles/basic/1693547540/15/27897/13144.png?mt=bg.ol.sw.ar.lko"
                                                         style="margin: 0px; padding: 0px; border: 0px solid transparent; display: block; user-select: none; -webkit-user-drag: none; box-sizing: content-box !important; max-width: none !important; max-height: none !important; min-width: 0px !important; min-height: 0px !important; opacity: 1; position: absolute; left: 0px; top: 0px; z-index: 0; width: 256px; height: 256px;">
                                                </div>
                                                <div draggable="false" unselectable="on"
                                                     style="position: absolute; top: -829344px; left: 2.94817e+06px; z-index: 0; margin: 0px; padding: 0px; border: 0px solid transparent; user-select: none; -webkit-user-drag: none; box-sizing: content-box !important; opacity: 1; width: 256px; height: 256px;">
                                                    <img draggable="false" unselectable="on" alt=""
                                                         crossorigin="anonymous" width="256" height="256"
                                                         src="https://nrbe.pstatic.net/styles/basic/1693547540/15/27899/13144.png?mt=bg.ol.sw.ar.lko"
                                                         style="margin: 0px; padding: 0px; border: 0px solid transparent; display: block; user-select: none; -webkit-user-drag: none; box-sizing: content-box !important; max-width: none !important; max-height: none !important; min-width: 0px !important; min-height: 0px !important; opacity: 1; position: absolute; left: 0px; top: 0px; z-index: 0; width: 256px; height: 256px;">
                                                </div>
                                                <div draggable="false" unselectable="on"
                                                     style="position: absolute; top: -829600px; left: 2.94766e+06px; z-index: 0; margin: 0px; padding: 0px; border: 0px solid transparent; user-select: none; -webkit-user-drag: none; box-sizing: content-box !important; opacity: 1; width: 256px; height: 256px;">
                                                    <img draggable="false" unselectable="on" alt=""
                                                         crossorigin="anonymous" width="256" height="256"
                                                         src="https://nrbe.pstatic.net/styles/basic/1693547540/15/27897/13143.png?mt=bg.ol.sw.ar.lko"
                                                         style="margin: 0px; padding: 0px; border: 0px solid transparent; display: block; user-select: none; -webkit-user-drag: none; box-sizing: content-box !important; max-width: none !important; max-height: none !important; min-width: 0px !important; min-height: 0px !important; opacity: 1; position: absolute; left: 0px; top: 0px; z-index: 0; width: 256px; height: 256px;">
                                                </div>
                                                <div draggable="false" unselectable="on"
                                                     style="position: absolute; top: -829600px; left: 2.94842e+06px; z-index: 0; margin: 0px; padding: 0px; border: 0px solid transparent; user-select: none; -webkit-user-drag: none; box-sizing: content-box !important; opacity: 1; width: 256px; height: 256px;">
                                                    <img draggable="false" unselectable="on" alt=""
                                                         crossorigin="anonymous" width="256" height="256"
                                                         src="https://nrbe.pstatic.net/styles/basic/1693547540/15/27900/13143.png?mt=bg.ol.sw.ar.lko"
                                                         style="margin: 0px; padding: 0px; border: 0px solid transparent; display: block; user-select: none; -webkit-user-drag: none; box-sizing: content-box !important; max-width: none !important; max-height: none !important; min-width: 0px !important; min-height: 0px !important; opacity: 1; position: absolute; left: 0px; top: 0px; z-index: 0; width: 256px; height: 256px;">
                                                </div>
                                                <div draggable="false" unselectable="on"
                                                     style="position: absolute; top: -829344px; left: 2.9474e+06px; z-index: 0; margin: 0px; padding: 0px; border: 0px solid transparent; user-select: none; -webkit-user-drag: none; box-sizing: content-box !important; opacity: 1; width: 256px; height: 256px;">
                                                    <img draggable="false" unselectable="on" alt=""
                                                         crossorigin="anonymous" width="256" height="256"
                                                         src="https://nrbe.pstatic.net/styles/basic/1693547540/15/27896/13144.png?mt=bg.ol.sw.ar.lko"
                                                         style="margin: 0px; padding: 0px; border: 0px solid transparent; display: block; user-select: none; -webkit-user-drag: none; box-sizing: content-box !important; max-width: none !important; max-height: none !important; min-width: 0px !important; min-height: 0px !important; opacity: 1; position: absolute; left: 0px; top: 0px; z-index: 0; width: 256px; height: 256px;">
                                                </div>
                                                <div draggable="false" unselectable="on"
                                                     style="position: absolute; top: -829344px; left: 2.94842e+06px; z-index: 0; margin: 0px; padding: 0px; border: 0px solid transparent; user-select: none; -webkit-user-drag: none; box-sizing: content-box !important; opacity: 1; width: 256px; height: 256px;">
                                                    <img draggable="false" unselectable="on" alt=""
                                                         crossorigin="anonymous" width="256" height="256"
                                                         src="https://nrbe.pstatic.net/styles/basic/1693547540/15/27900/13144.png?mt=bg.ol.sw.ar.lko"
                                                         style="margin: 0px; padding: 0px; border: 0px solid transparent; display: block; user-select: none; -webkit-user-drag: none; box-sizing: content-box !important; max-width: none !important; max-height: none !important; min-width: 0px !important; min-height: 0px !important; opacity: 1; position: absolute; left: 0px; top: 0px; z-index: 0; width: 256px; height: 256px;">
                                                </div>
                                                <div draggable="false" unselectable="on"
                                                     style="position: absolute; top: -829600px; left: 2.9474e+06px; z-index: 0; margin: 0px; padding: 0px; border: 0px solid transparent; user-select: none; -webkit-user-drag: none; box-sizing: content-box !important; opacity: 1; width: 256px; height: 256px;">
                                                    <img draggable="false" unselectable="on" alt=""
                                                         crossorigin="anonymous" width="256" height="256"
                                                         src="https://nrbe.pstatic.net/styles/basic/1693547540/15/27896/13143.png?mt=bg.ol.sw.ar.lko"
                                                         style="margin: 0px; padding: 0px; border: 0px solid transparent; display: block; user-select: none; -webkit-user-drag: none; box-sizing: content-box !important; max-width: none !important; max-height: none !important; min-width: 0px !important; min-height: 0px !important; opacity: 1; position: absolute; left: 0px; top: 0px; z-index: 0; width: 256px; height: 256px;">
                                                </div>
                                            </div>
                                        </div>
                                        <div style="overflow: visible; width: 100%; height: 0px; position: absolute; display: block; margin: 0px; padding: 0px; border: 0px none; top: 0px; left: 0px; z-index: 100;">
                                            <div style="overflow: visible; width: 100%; height: 0px; position: absolute; display: block; margin: 0px; padding: 0px; border: 0px none; top: 0px; left: 0px; z-index: 101;"></div>
                                            <div style="overflow: visible; width: 100%; height: 0px; position: absolute; display: block; margin: 0px; padding: 0px; border: 0px none; top: 0px; left: 0px; z-index: 103;">
                                                <div title="null"
                                                     style="position: absolute; overflow: hidden; box-sizing: content-box !important; cursor: inherit; left: 2.94803e+06px; top: -829360px; width: 22px; height: 33px;">
                                                    <map name="nmarker-DAD682AA-AB9E-4D7F-AA28-B450FB2B6F63">
                                                        <area href="#" shape="poly"
                                                              coords="11,0,9,0,6,1,4,2,2,4,0,8,0,12,1,14,2,16,5,19,5,20,6,23,8,26,9,30,9,34,13,34,13,30,14,26,16,23,17,20,17,19,20,16,21,14,22,12,22,12,22,8,20,4,18,2,16,1,13,0"
                                                              alt="마커의 경위도는 126.5022148,33.5041230 입니다."
                                                              style="display: block; cursor: pointer;">
                                                    </map>
                                                    <img draggable="false" unselectable="on"
                                                         src="https://ssl.pstatic.net/static/maps/mantle/1x/marker-default.png"
                                                         alt=""
                                                         style="margin: 0px; padding: 0px; border: 0px solid transparent; display: block; user-select: none; -webkit-user-drag: none; box-sizing: content-box !important; max-width: none !important; max-height: none !important; min-width: 0px !important; min-height: 0px !important; position: absolute; cursor: inherit; width: 22px; height: 33px; left: 0px; top: 0px;"><img
                                                        src="https://ssl.pstatic.net/static/maps/mantle/1x/dot.gif"
                                                        alt="" usemap="#nmarker-DAD682AA-AB9E-4D7F-AA28-B450FB2B6F63"
                                                        style="position: absolute; border: 0px; left: 0px; top: 0px; max-width: none !important; max-height: none !important; min-width: 0px !important; min-height: 0px !important; user-select: none; width: 22px; height: 33px;">
                                                </div>
                                            </div>
                                            <div style="overflow: visible; width: 100%; height: 0px; position: absolute; display: block; margin: 0px; padding: 0px; border: 0px none; top: 0px; left: 0px; z-index: 106;"></div>
                                        </div>
                                    </div>
                                    <div style="position: absolute; display: none; margin: 0px; padding: 0px; border: 0px none; top: 0px; left: 0px; overflow: visible; width: 100%; height: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); background-color: rgb(255, 255, 255); z-index: 10000; opacity: 0.5;"></div>
                                </div>
                            </div>
                            <div style="position: absolute; z-index: 100; margin: 0px; padding: 0px; pointer-events: none; bottom: 0px; right: 0px;">
                                <div style="border: 0px none; margin: -3px 0px 0px; padding: 0px; pointer-events: none; float: right; height: 20px;">
                                    <div style="position: relative; width: 75px; height: 14px; margin: 0px 12px 6px 2px; overflow: hidden; pointer-events: auto;">
                                        <span style="display: block; margin: 0px; padding: 0px 4px; text-align: center; font-size: 10px; line-height: 11px; font-family: Helvetica, AppleSDGothicNeo-Light, nanumgothic, NanumGothic, 나눔고딕, Dotum, 돋움, sans-serif; font-weight: 700; color: rgb(34, 34, 37); text-shadow: rgba(255, 255, 255, 0.8) -1px 0px, rgba(255, 255, 255, 0.8) 0px 1px, rgba(255, 255, 255, 0.8) 1px 0px, rgba(255, 255, 255, 0.8) 0px -1px;">300m</span><img
                                            src="https://ssl.pstatic.net/static/maps/mantle/1x/new-scale-normal-b.png"
                                            width="69" height="3" alt=""
                                            style="position: absolute; left: 3px; bottom: 0px; z-index: 2; display: block; width: 69px; height: 3px; overflow: hidden; margin: 0px; padding: 0px; border: 0px none; max-width: none !important; max-height: none !important; min-width: 0px !important; min-height: 0px !important;"><img
                                            src="https://ssl.pstatic.net/static/maps/mantle/1x/new-scale-normal-l.png"
                                            width="3" height="8" alt=""
                                            style="position:absolute;left:0;bottom:0;z-index:2;display:block;width:3px;height:8px;overflow:hidden;margin:0;padding:0;border:0 none;max-width:none !important;max-height:none !important;min-width:0 !important;min-height:0 !important;"><img
                                            src="https://ssl.pstatic.net/static/maps/mantle/1x/new-scale-normal-r.png"
                                            width="3" height="8" alt=""
                                            style="position:absolute;right:0;bottom:0;z-index:2;display:block;width:3px;height:8px;overflow:hidden;margin:0;padding:0;border:0 none;max-width:none !important;max-height:none !important;min-width:0 !important;min-height:0 !important;">
                                    </div>
                                </div>
                                <div style="border: 0px none; margin: 0px; padding: 0px; pointer-events: none; float: right;">
                                    <a href="https://ssl.pstatic.net/static/maps/mantle/notice/legal.html"
                                       target="_blank"
                                       style="display: block; width: 45px; height: 10px; overflow: hidden; margin: 0px 5px 7px 12px; pointer-events: auto;"><img
                                            src="https://ssl.pstatic.net/static/maps/mantle/1x/naver-logo-normal-new.png"
                                            width="45" height="10" alt="NAVER"
                                            style="display:block;width:45px;height:10px;overflow:hidden;border:0 none;margin:0;padding:0;max-width:none !important;max-height:none !important;min-width:0 !important;min-height:0 !important;"></a>
                                </div>
                            </div>
                            <div style="position: absolute; z-index: 100; margin: 0px; padding: 0px; pointer-events: none; bottom: 0px; left: 0px;">
                                <div style="border: 0px none; margin: 0px; padding: 0px; pointer-events: none; float: left; height: 19px;">
                                    <div class="map_copyright"
                                         style="margin: 0px; padding: 0px 0px 2px 10px; height: 19px; line-height: 19px; color: rgb(68, 68, 68); font-family: Helvetica, AppleSDGothicNeo-Light, nanumgothic, NanumGothic, 나눔고딕, Dotum, 돋움, sans-serif; font-size: 11px; clear: both; white-space: nowrap; pointer-events: none;">
                                        <div style="float: left;"><span
                                                style="white-space: pre; color: rgb(68, 68, 68);">© NAVER Corp.</span>
                                        </div>
                                        <a href="#"
                                           style="font-family: Helvetica, AppleSDGothicNeo-Light, nanumgothic, NanumGothic, 나눔고딕, Dotum, 돋움, sans-serif; font-size: 11px; line-height: 19px; margin: 0px 0px 0px 5px; padding: 0px; color: rgb(68, 68, 68); float: left; pointer-events: auto; text-decoration: underline; display: none;">더보기</a>
                                        <div style="float: left;"><a target="_blank"
                                                                     href="http://www.openstreetmap.org/copyright"
                                                                     style="pointer-events: auto; white-space: pre; display: none; color: rgb(68, 68, 68);">
                                            /OpenStreetMap</a></div>
                                    </div>
                                </div>
                            </div>
                            <div style="border: 1px solid rgb(41, 41, 48); background: rgb(255, 255, 255); padding: 15px; color: rgb(51, 51, 51); position: absolute; font-size: 11px; line-height: 1.5; clear: both; display: none; max-width: 350px !important; max-height: 300px !important;">
                                <h5 style="font-size: 12px; margin-top: 0px; margin-bottom: 10px;">지도 데이터</h5><a
                                    href="#"
                                    style="position: absolute; top: 8px; right: 8px; width: 14px; height: 14px; font-size: 14px; line-height: 14px; display: block; overflow: hidden; color: rgb(68, 68, 68); text-decoration: none; font-weight: bold; text-align: center;">x</a>
                                <div><span
                                        style="white-space: pre; color: rgb(68, 68, 68); float: left;">© NAVER Corp.</span><a
                                        target="_blank" href="http://www.openstreetmap.org/copyright"
                                        style="pointer-events: auto; white-space: pre; color: rgb(68, 68, 68); float: left; display: none;">
                                    /OpenStreetMap</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="navy_txt"><h4 class="point_name">제주지점</h4>
                        <ul class="spot_text_sb">
                            <li>
                                <dl>
                                    <dt>주소</dt>
                                    <dd>제주특별자치도 제주시 용담이동 735-22
                                        <div class="right_btn"><a>네이버 지도로 보기</a></div>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>전화</dt>
                                    <dd>064-726-6460</dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>이용 가능한 시간</dt>
                                    <dd>인수 07:30 ~ 22:00</dd>
                                    <dd>반납 06:00 ~ 21:00</dd>
                                </dl>
                            </li>
                        </ul>
                        <hr class="small">
                        <div class="rule_info"><p class="title">인수 및 반납 규정</p>
                            <ul class="dot_list">
                                <li>인수 및 반납은 지점별 이용 가능한 시간 내 가능해요</li>
                                <li>예약자(제1운전자) 뿐 아니라 사전에 등록된 제2운전자와 제3운전자도 인수 및 반납이 가능해요</li>
                                <li>차량 인수 시, 운전면허 지참은 필수예요(도로교통법상 유효한 운전면허 소지자)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail_info noti_wrap" style="margin-top: 32px;">
                <div class="detail_info__tit"><p class="title_16 mb0">유의사항</p></div>
                <div class="info_txt">
                    <ul class="dot_list">
                        <li>
                            <div class="notice_box">이미지와 실제 차량은 사양 및 색상이 다를 수 있어요</div>
                        </li>
                        <li>
                            <div class="notice_box">100% 금연차량으로 운영하고 있어요</div>
                        </li>
                        <li>
                            <div class="notice_box"><span class="list_txt">반려동물은 같이 탈 수 없어요</span>
                                <button class="question_mark"><span class="blind">도움말</span></button>
                            </div>
                        </li>
                        <li>
                            <div class="notice_box"><span class="list_txt">낚시용품을 실을 수 없어요</span>
                                <button class="question_mark"><span class="blind">도움말</span></button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="detail_info" style="margin-top: 32px;">
                <div class="detail_info__tit mask"><p class="title_16">COVID-19 방역 안내</p></div>
                <p class="info_txt">SK렌터카는 COVID-19 감염 예방을 위해 전 차량 항균 소독하고 있습니다.</p></div>
            <div class="btn_group single"><a class="btn">목록으로 돌아가기</a></div>
        </div>
        <div class="sidebar">
            <div id="sideScroll" class="inner scroll_p">
                <div class="rental_area">
                    <ul class="rental_sel">
                        <li class="place">제주지점</li>
                        <li class="date">09.25(월) 11:00 ~ 09.27(수) 15:00</li>
                        <li class="brand">[제휴사차량] 모닝 1.0 가솔린</li>
                    </ul>
                    <div class="rental_price">
                        <div class="sale"><span class="sale_price">회원 할인가</span><span class="price">78,300 원</span><span
                                class="sale_rate">81%</span></div>
                        <div class="default"><span class="default_price">표준가</span><span class="price">403,500원</span>
                        </div>
                    </div>
                    <div class="btn_group type01">
                        <button class="btn type01">78,300원으로 예약하기</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="float_wrap">
            <div class="inner">
                <div class="chat_cont">
                    <div class="chat_btn"><a> 상담하기</a></div>
                    <ul class="chat_list">
                        <li class="chat"><a>채팅상담</a></li>
                        <li class="inquiry"><a>1:1문의 작성</a></li>
                    </ul>
                </div>
                <div class="top_cont"><a class="top_btn"><span class="blind">TOP</span></a></div>
            </div>
        </div>
    </div>
</div>
</body>
</th:block>
</html>