<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">


<!-- header -->

<!-- Page Content Start -->
<!-- ================== -->
<th:block layout:fragment="admin_content">


    <!-- Page Content Start -->
    <!-- ================== -->

    <div class="wraper container-fluid">
        <div class="page-title">
            <h3 class="title inline">게시글 관리</h3>
        </div>


        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="table-responsive clear_bt">
                            <table class="table text-center">
                                <thead>
                                <tr>
                                    <th>등록번호</th>
                                    <th>브랜드</th>
                                    <th>차종</th>
                                    <th>작성자</th>
                                    <th>등록일</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="car : ${carList}">

                                        <td th:text="${car.carNum}"></td>

                                        <td th:text="${car.brand}"></td>

                                        <td>
                                            <a th:href="@{carView(carNum=${car.carNum})}" th:text="${car.name}"></a>
                                        </td>

                                        <td th:text="${car.modifyBy}"></td>

                                        <td th:text="${#temporals.format(car.regTime, 'yyyy-MM-dd')}"></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <nav aria-label="Page navigation example ">
                            <th:block th:if="${carList.totalElements > 0}">
                                <ul class="pagination justify-content-center" style="display: flex; justify-content: center;"
                                    th:with="start=${(carList.number/carList.totalPages)*carList.totalPages + 1},
                    end=${(carList.totalPages == 0) ? 1 :
                    (start + (carList.totalPages - 1) < carList.totalPages ? start + (carList.totalPages - 1) : carList.totalPages)}">

                                    <li th:class="${carList.first} ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" th:href="@{/admin/car(page=0)}">First</a>
                                    </li>
                                    <li th:class="${carList.first} ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" th:href="${carList.first} ? '#' : @{/admin/car(page=${memberList.number} - 1)}">Previous</a>
                                    </li>
                                    <li th:each="page: ${#numbers.sequence(start, end)}" th:class="${page == carList.number + 1} ? 'page-item active' : 'page-item' ">
                                        <a class="page-link" th:href="@{/admin/car(page=${page - 1})}">[[${page}]]</a>
                                    </li>
                                    <li th:class="${carList.last} ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" th:href="${carList.last} ? '#' : @{/admin/car(page=${carList.number} + 1)}">Next</a>
                                    </li>
                                    <li th:class="${carList.last} ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" th:href="@{/admin/car(page=${carList.totalPages - 1})}">Last</a>
                                    </li>
                                </ul>
                            </th:block>
                            <th:block th:unless="${carList.totalElements > 0}">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item active">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                </ul>
                            </th:block>
                        </nav>
                        <nav class="navbar bg-body-tertiary" style="display: flex; justify-content: center;">
                            <div class="container-fluid">
                                <form action="/admin/notices" id="searchForm" class="d-flex" role="search" style="display: flex; align-items: center;">
                                    <select name="searchType" class="form-select" aria-label="Default select example" style="height: 30px">
                                        <option value="" th:selected="${searchType} == ''">--</option>
                                        <option value="nickname" th:selected="${searchType} == 'carname'">차종</option>
                                        <option value="email" th:selected="${searchType} == 'email'">작성자</option>
                                    </select>
                                    <input class="form-control me-2" type="search" name="keyword" placeholder="Search" aria-label="Search" th:value="${keyword}">
                                    <button class="btn btn-outline-success" id="btnSearch" type="submit">Search</button>
                                </form>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->




    </div>
    <!-- Page Content Ends -->
    <!-- ================== -->

