<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout2}">

<!-- header -->

<!-- Page Content Start -->
<!-- ================== -->
<th:block layout:fragment="admin_content">

    <!-- Page Content Start -->
    <!-- ================== -->

    <div id="root" style="height: 100%">
        <div class="pc_wrap" style="">
            <div class="wrap sub_wrap">
                <div class="container">
                    <div class="inner">
                        <div class="contents" style="margin: auto;">
                            <div class="title_wrap"><h2 class="title_30 search_form__row">게시글 관리</h2></div>
                            <!-- car 객체가 null인 경우 처리 -->
                            <div th:if="${car != null}" class="car-details">
                                <form action="/admin/carDelete" method="post">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                    <input type="hidden" name="carNum" th:value="${car.carNum}"/>

                                    <div class="board_detail" style="margin-bottom: 50px">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1">브랜드</span>
                                            <pre style="width: 650px"><span th:text="${car.brand}"></span></pre>
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon2">차량명</span>
                                            <pre style="width: 650px"><span th:text="${car.name}"></span></pre>
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon2">색상</span>
                                            <pre style="width: 650px"><span th:text="${car.color}"></span></pre>
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon2">가격</span>
                                            <pre style="width: 650px"><span th:text="${car.cost}"></span></pre>
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon2">옵션</span>
                                            <pre style="width: 650px"><span th:text="${car.options}"></span></pre>
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon2">승차인원</span>
                                            <pre style="width: 650px"><span th:text="${car.fuel}"></span></pre>
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon2">운전자나이</span>
                                            <pre style="width: 650px"><span th:text="${car.people}"></span></pre>
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon2">운전경력</span>
                                            <pre style="width: 650px"><span th:text="${car.area}"></span></pre>
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon2">차량하자</span>
                                            <pre style="width: 650px"><span th:text="${car.detailarea}"></span></pre>
                                        </div>
                                        <!-- 다른 속성들도 필요한 대로 출력합니다. -->
                                    </div>

                                    <div class="input-group mb-3 pagination justify-content-center">
                                        <button type="button" class="btn btn-warning" style="margin-right: 20px; width: 100px"
                                                th:onclick="|location.href='@{/admin/carUpdate(carNum=${car.carNum})}'|">수정</button>
                                        <button type="submit" class="btn btn-danger btnDelete" style="margin-right: 20px; width: 100px" id="deleteBoard">삭제</button>
                                        <button type="button" class="btn btn-primary" style="width: 100px"
                                                th:onclick="|location.href='@{/admin/car}'|">목록</button>
                                    </div>
                                </form>
                            </div>
                            <!-- car 객체가 null인 경우에 대한 처리 -->
                            <div th:unless="${car != null}" class="car-not-found">
                                <p>차량 정보를 찾을 수 없습니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/skrentalApp/bundle.29105ee17c.js"></script>

    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps-geocoder.js"></script>
    <script id="kakao-sdk" src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <div id="naverIdLogin" style="position: absolute; top: -10000px;"><a id="naverIdLogin_loginButton" href="#"><img
            src="https://static.nid.naver.com/oauth/big_g.PNG?version=js-2.0.0" height="60"></a></div>
</th:block>
</html>
