<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout2}">

<!-- header -->

<!-- Page Content Start -->
<!-- ================== -->
<th:block layout:fragment="admin_content">

    <!-- Page Content Start -->
    <!-- ================== -->

    <div id="root" style="height: 100%">
        <div class="pc_wrap" style="">
            <div class="wrap sub_wrap">
                <div class="container">
                    <div class="inner">
                        <div class="contents" style="margin: auto;">
                            <div class="title_wrap"><h2 class="title_30 search_form__row">게시글 관리</h2></div>
                            <!-- car 객체가 null인 경우 처리 -->

                                <form action="/admin/carDelete" method="post">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                    <input type="hidden" name="carNum" th:value="${car.carNum}"/>

                                    <div class="board_detail" style="margin-bottom: 50px">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" >브랜드</span>
                                            <pre style="width: 650px"><span th:text="${car.brand}"></span></pre>
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">차종</span>
                                            <pre style="width: 650px"><span th:text="${car.name}"></span></pre>
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">시작일</span>
                                            <pre style="width: 650px"><span th:text="${car.startDate}"></span></pre>
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">반납일</span>
                                            <pre style="width: 650px"><span th:text="${car.endDate}"></span></pre>
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">색상</span>
                                            <pre style="width: 650px"><span th:text="${car.color}"></span></pre>
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">연료종류</span>
                                            <pre style="width: 650px"><span th:text="${car.fuel}"></span></pre>
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">가격</span>
                                            <pre style="width: 650px"><span th:text="${car.cost}"></span></pre>
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">연식</span>
                                            <pre style="width: 650px"><span th:text="${car.year}"></span></pre>
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">옵션</span>
                                            <pre style="width: 650px"><span th:text="${car.options}"></span></pre>
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">승차인원</span>
                                            <pre style="width: 650px"><span th:text="${car.people}"></span></pre>
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">운전자나이(이상)</span>
                                            <pre style="width: 650px"><span th:text="${car.driverAge}"></span></pre>
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">운전경력(이상)</span>
                                            <pre style="width: 650px"><span th:text="${car.driverCareer}"></span></pre>
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">차량 하자</span>
                                            <pre style="width: 650px"><span th:text="${car.detailarea}"></span></pre>
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">사용자분께</span>
                                            <pre style="width: 650px"><span th:text="${car.kind}"></span></pre>
                                        </div>
                                        <!-- 다른 속성들도 필요한 대로 출력합니다. -->
                                    </div>

                                    <div class="input-group mb-3 pagination justify-content-center">
                                        <!-- 수정 버튼 -->
                                        <button type="button" class="btn btn-warning" style="margin-right: 20px; width: 100px"
                                                th:onclick="|location.href='@{/admin/carUpdate(carNum=${car.carNum})}'|">수정</button>
                                        <!-- 삭제 버튼 클릭 시 모달 열기 -->
                                        <button type="button" class="btn btn-danger btnDelete" style="margin-right: 20px; width: 100px" id="deleteCar">삭제</button>
                                        <!-- 모달 다이얼로그 -->
                                        <div id="carModal" class="modal">
                                            <div class="modal-content">
                                                <span class="close" style="position: absolute; right: 10px; top: 10px;">&times;</span>
                                                <div style="text-align: center;">
                                                    <p>정말로 삭제하시겠습니까?</p>
                                                    <button id="confirmDeleteCarBtn" type="submit" class="btn btn-danger" style="width: 100px">확인</button>
                                                    <button id="cancelDeleteCarBtn" type="button" class="btn btn-primary" style="width: 100px">취소</button>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary" style="width: 100px"
                                                th:onclick="|location.href='@{/admin/car}'|">목록</button>
                                    </div>
                                </form>
                            </div>
                            <!-- car 객체가 null인 경우에 대한 처리 -->
                            <div th:unless="${car != null}" class="car-not-found">
                                <p>차량 정보를 찾을 수 없습니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <script>
        // Get the modal
        var carModal = document.getElementById("carModal");

        // Get the button that opens the modal
        var deleteCarBtn = document.getElementById("deleteCar");

        // Get the <span> element that closes the modal
        var carModalClose = carModal.getElementsByClassName("close")[0];

        // Get the confirmation buttons
        var confirmDeleteCarBtn = document.getElementById("confirmDeleteCarBtn");
        var cancelDeleteCarBtn = document.getElementById("cancelDeleteCarBtn");

        // When the user clicks the delete button, open the modal
        deleteCarBtn.onclick = function () {
            carModal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        carModalClose.onclick = function () {
            carModal.style.display = "none";
        }

        // When the user clicks on the confirm delete button, submit the form
        confirmDeleteCarBtn.onclick = function () {
            document.forms[0].submit(); // Submit the form
            carModal.style.display = "none"; // Close the modal
        }

        // When the user clicks on the cancel delete button, close the modal
        cancelDeleteCarBtn.onclick = function () {
            carModal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target === carModal) {
                carModal.style.display = "none";
            }
        }
    </script>
</th:block>
</html>
