<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">


<!-- header -->

<!-- Page Content Start -->
<!-- ================== -->
<th:block layout:fragment="admin_content">


    <!-- Page Content Start -->
    <!-- ================== -->

    <div class="wraper container-fluid">
        <div class="page-title">
            <h3 class="title inline">이벤트 관리</h3> <a class="btn btn-info m-b-5 m-l-10" href="news_register.php"><i class="fa fa-pencil"></i> <span>아씨오뉴스 등록</span> </a>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="btn-group m-b-10 pull-left">
                            <button type="button" class="btn btn-default">일시중지</button>
                            <button type="button" class="btn btn-default">중지해제</button>
                        </div>

                        <div class="table-responsive clear_bt">
                            <table class="table text-center">
                                <thead>
                                <tr>
                                    <th><label class="cr-styled"><input type="checkbox"><i class="fa"></i></label></th>
                                    <th>번호</th>
                                    <th>이벤트 타입</th>
                                    <th>이벤트명</th>
                                    <th>이벤트 상태</th>
                                    <th>등록일</th>
                                    <th>삭제여부</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><label class="cr-styled"><input type="checkbox"><i class="fa"></i></label></td>
                                    <td>1111</td>
                                    <td>이벤트</td>
                                    <td><a href="#">한국어</a></td>
                                    <td><span class="badge bg-success">진행중</span></td>
                                    <td>2015.12.15</td>
                                    <td><button class="btn btn-danger btn-xs">삭제</button></td>
                                </tr>
                                <tr>
                                    <td><label class="cr-styled"><input type="checkbox"><i class="fa"></i></label></td>
                                    <td>1111</td>
                                    <td>신상품소개</td>
                                    <td><a href="#">한국어</a></td>
                                    <td><span class="badge bg-warning">일시중지</span></td>
                                    <td>2015.12.15</td>
                                    <td><button class="btn btn-danger btn-xs">삭제</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <ul class="pagination m-b-5 pull-right">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li class="disabled"><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->




    </div>
    <!-- Page Content Ends -->
    <!-- ================== -->
