<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">


<!-- header -->

<!-- Page Content Start -->
<!-- ================== -->
<th:block layout:fragment="admin_content">


  <!-- Page Content Start -->
  <!-- ================== -->

  <div class="wraper container-fluid">
    <div class="page-title">
      <h3 class="title inline">AirCar 관리자 페이지 입니다.</h3>
    </div>




  </div>
  <!-- Page Content Ends -->
  <!-- ================== -->
