<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout2}">

<!-- header -->

<!-- Page Content Start -->
<!-- ================== -->
<th:block layout:fragment="admin_content">

    <!-- Page Content Start -->
    <!-- ================== -->

    <div id="root" style="height: 100%">
        <div class="pc_wrap" style="">
            <div class="wrap sub_wrap">
                <div class="container">
                    <div class="inner">
                        <div class="contents" style="margin: auto;">
                            <div class="title_wrap"><h2 class="title_30 search_form__row">예약 관리</h2></div>
                            <!-- reserve 객체가 null인 경우 처리 -->

                            <form action="/admin/reserverDelete" method="post">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                <input type="hidden" name="rno" th:value="${reserve.rno}"/>

                                <div class="board_detail" style="margin-bottom: 50px">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" >예약번호</span>
                                        <pre style="width: 650px"><span th:text="${reserve.rno}"></span></pre>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" >차량명</span>
                                        <pre style="width: 650px"><span th:text="${reserve.carName}"></span></pre>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">예약자</span>
                                        <pre style="width: 650px"><span th:text="${reserve.email}"></span></pre>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" >시작일</span>
                                        <pre style="width: 650px"><span th:text="${reserve.startDate}"></span></pre>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" >반납일</span>
                                        <pre style="width: 650px"><span th:text="${reserve.endDate}"></span></pre>
                                    </div>

                                    <!-- 다른 속성들도 필요한 대로 출력합니다. -->
                                </div>

                                <div class="input-group mb-3 pagination justify-content-center">
                                    <!-- 수정 버튼 -->
                                    <button type="button" class="btn btn-warning" style="margin-right: 20px; width: 100px"
                                            th:onclick="|location.href='@{/admin/reserveUpdate(rno=${reserve.rno})}'|">수정</button>
                                    <!-- 삭제 버튼 클릭 시 모달 열기 -->
                                    <button type="button" class="btn btn-danger btnDelete" style="margin-right: 20px; width: 100px" id="deleteReserve">삭제</button>
                                    <!-- 모달 다이얼로그 -->
                                    <div id="reserveModal" class="modal">
                                        <div class="modal-content">
                                            <span class="close" style="position: absolute; right: 10px; top: 10px;">&times;</span>
                                            <div style="text-align: center;">
                                                <p>정말로 삭제하시겠습니까?</p>
                                                <button id="confirmDeleteReserveBtn" type="submit" class="btn btn-danger" style="width: 100px">확인</button>
                                                <button id="cancelDeleteReserveBtn" type="button" class="btn btn-primary" style="width: 100px">취소</button>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary" style="width: 100px"
                                            th:onclick="|location.href='@{/admin/car}'|">목록</button>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Get the modal
        var reserveModal = document.getElementById("reserveModal");

        // Get the button that opens the modal
        var deleteReserveBtn = document.getElementById("deleteReserve");

        // Get the <span> element that closes the modal
        var reserveModalClose = reserveModal.getElementsByClassName("close")[0];

        // Get the confirmation buttons
        var confirmDeleteReserveBtn = document.getElementById("confirmDeleteReserveBtn");
        var cancelDeleteReserveBtn = document.getElementById("cancelDeleteReserveBtn");

        // When the user clicks the delete button, open the modal
        deleteReserveBtn.onclick = function () {
            reserveModal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        reserveModalClose.onclick = function () {
            reserveModal.style.display = "none";
        }

        // When the user clicks on the confirm delete button, submit the form
        confirmDeleteReserveBtn.onclick = function () {
            document.forms[0].submit(); // Submit the form
            reserveModal.style.display = "none"; // Close the modal
        }

        // When the user clicks on the cancel delete button, close the modal
        cancelDeleteReserveBtn.onclick = function () {
            reserveModal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target === reserveModal) {
                reserveModal.style.display = "none";
            }
        }
    </script>
</th:block>
</html>
