<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="side_menu">
    <ul class="member_a">
        <li><a>
            <div class="prof"><span class="txt">서해명님 안녕하세요</span></div>
        </a></li>
        <li><a class="logout">로그아웃</a></li>
    </ul>
</div>
<!-- 로그아웃 클릭시 아래 팝업 -->
<div class="layerPopup alertPopup">
    <div class="layerPopup_wrap">
        <div class="layerPopup_content">
            <div class="pop_info"><p class="txt"><span>로그아웃 하시겠어요?<br></span></p></div>
        </div>
        <div class="layerPopup_bottom">
            <div class="btn_group btn_prompt">
                <button class="btn type04">취소</button>
                <button class="btn type01">로그아웃</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>


<div class="valid_box"><p class="txt">비밀번호를 다시 입력해주세요</p></div>