<!DOCTYPE html>


<th:block th:fragment="conselling">
    <div class="float_wrap">
        <div class="inner">
            <div class="chat_cont">
                <div class="chat_btn"><a href="/counseling"> 상담하기</a></div>
                <ul class="chat_list">
                    <li class="chat"><a>채팅상담</a></li>
                    <li class="inquiry"><a>1:1문의 작성</a></li>
                </ul>
            </div>
            <div class="top_cont"><a class="top_btn"><span class="blind">TOP</span></a></div>
        </div>
    </div>

</th:block>
