<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <div class="footer_wrap">
        <footer class="footer" style="background-color: #DEE2E6">
            <div class="footer_l"><img src="/img/logo.png" alt="" class="logo">
                <div class="footer_cont">
                    <ul class="footer_terms">
                        <li><a>회사소개</a></li>
                        <li><a>이용약관</a></li>
                        <li><a>개인정보 처리방침</a></li>
                        <li><a>이메일무단수집거부 </a></li>
                    </ul>
                    <ul class="footer_info">
                        <li>고객센터 <a href="tel:1599-9111">1599-9111</a></li>
                        <li><span>SK렌터카(주)</span><span>서울특별시 구로구 서부샛길 822(구로동)</span></li>
                        <li><span>대표이사 황일문</span><span>사업자번호 113-81-32864</span></li>
                        <li>통신판매업신고 구로구청 제2006-03389</li>
                    </ul>
                    <p class="copyright">Copyright ⓒ SK렌터카. All Rights Reserved</p></div>
            </div>
            <div class="footer_r">
                <ul class="sns">
                    <li class="instar"><a><span class="blind">인스타그램</span></a></li>
                    <li class="youtube"><a><span class="blind">유튜브</span></a></li>
                    <li class="blog"><a><span class="blind">블로그</span></a></li>
                    <li class="facebook"><a><span class="blind">페이스북</span></a></li>
                    <li class="tstory"><a><span class="blind">티스토리</span></a></li>
                </ul>
                <div class="select_wrap"><select class="family_site">
                    <option value="">FamilySite</option>
                    <option value="https://company.skcarrental.com">SK렌터카</option>
                    <option value="https://www.sknetworks.co.kr">SK Networks</option>
                    <option value="http://www.skcarrentalservice.co.kr">SK렌터카서비스</option>
                </select></div>
                <ul class="mark">
                    <li><img src="/pc_assets/img/common/logo_ismsp.png" alt="ISMSP"></li>
                    <li><span>인증범위 : 차량렌탈 서비스, 스마트링크서비스</span><span>유효기간 : 2022-12-07 ~ 2025-12-06</span></li>
                    <li><img src="/pc_assets/img/common/logo_ncsi.png" alt="NCSI"></li>
                </ul>
            </div>
        </footer>
    </div>
    </div>
    </div>
    </div>
    <!-- <script src="/skrentalApp/bundle.29105ee17c.js"></script> -->

    <script>
        $(document).ready(function () {
            datePickerSet($("#datepicker1"), $("#datepicker2"), true);

            function datePickerSet(sDate, eDate, flag) {
                // ...

                if (!isValidStr(sDate)) {
                    sDate.datepicker({
                        language: 'ko',
                        autoClose: true,
                        onSelect: function (formattedDate, date, inst) {
                            var selectedDateText = "시작일 :  " + formattedDate;
                            sDate.val(selectedDateText);
                        }
                    });
                }

                if (!isValidStr(eDate)) {
                    eDate.datepicker({
                        language: 'ko',
                        autoClose: true,
                        onSelect: function (formattedDate, date, inst) {
                            var selectedDateText = "종료일 :  " + formattedDate;
                            eDate.val(selectedDateText);
                        }
                    });
                }

                // ...
            }

            function isValidStr(str) {
                return str === null || str === undefined || str === "";
            }
        });
    </script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps-geocoder.js"></script>
</th:block>
</html>