<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="headerFragment">

    <div id="root" style="height: 100%">
        <div class="pc_wrap" style="">
            <div class="wrap sub_wrap main_wrap">
                <header class="header">
                    <div class="util_wrap">
                        <div class="gate_tab">
                            <ul>
                                <li class="on"><a href="/">제주예약</a></li>
                                <li><a href="https://www.skcarrental.com/rent/main_2022.do"
                                       rel="noreferrer">내륙예약</a></li>
                            </ul>
                        </div>
                        <ul>
                            <li><a href="https://www.skdirect.co.kr" target="_blank" rel="noreferrer">SK렌터카 다이렉트</a>
                            </li>
                            <li><a href="https://smartcare.skcarrental.com" target="_blank"
                                   rel="noreferrer">스마트케어</a></li>
                        </ul>
                    </div>
                    <div class="nav_wrap">
                        <div class="inner">
                            <h1><a class="brand"><img src="/img/logo.png" width="107px" height="56px" alt=""
                                                      style="left: 0;width: 148px;height: 91px;"></a></h1>
                            <nav>
                                <ul>
                                    <li><a href="reserve">예약</a></li>
                                    <li><a href="reserve_confirm">예약확인</a></li>
                                    <li><a>이용안내</a></li>
                                    <li><a>고객센터</a></li>
                                </ul>
                            </nav>
                            <div class="side_menu">
                                <ul class="member" sec:authorize="isAnonymous()">
                                    <li><a href="/member/login">로그인</a></li>
                                    <li><a href="/member/login">회원가입</a></li>
                                </ul>
                                <ul class="member" sec:authorize="isAuthenticated()">
                                    <li><span><a href="member/mypage">님</a> 안녕하세요</span></li>
                                    <li><a class="open-layerPopup">로그아웃</a></li>
                                    <li><a class="logout open-layerPopup"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="layerPopup alertPopup" style="display: none">
                    <div class="layerPopup_wrap">
                        <div class="layerPopup_content">
                            <div class="pop_info"><p class="txt"><span>로그아웃 하시겠어요?<br></span></p></div>
                        </div>
                        <div class="layerPopup_bottom">
                            <div class="btn_group btn_prompt">
                                <button class="btn type04 btn_close" >취소</button>
                                <button class="btn type01" onclick="location.href='/member/logout'">로그아웃</button>
                            </div>
                        </div>
                    </div>
                </div>
</th:block>
</html>
