<th:block th:fragment="link">

<link rel="stylesheet" th:href="@{/assets/css/SHM/common.css}">
<link rel="stylesheet" th:href="@{/assets/css/SHM/calendar.css}">
<link rel="stylesheet" th:href="@{/assets/css/SHM/component.css}">
<link rel="stylesheet" th:href="@{/assets/css/SHM/main.css}">
<link rel="stylesheet" th:href="@{/assets/css/SHM/content.css}">
<link rel="stylesheet" th:href="@{/assets/css/SHM/reserve.css}">
<link rel="stylesheet" th:href="@{/js/air-datepicker/dist/css/datepicker.min.css}">

</th:block>