<!DOCTYPE html>


<th:block th:fragment="sidebarBook">

    <form action="/searchCar" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <div class="sidebar">
        <div class="inner scroll_p">
            <div class="res_form">
                <div class="cont"><a class="ico_place" style="cursor: default;" href="/map">부산지점</a>
                    <!--<button class="inland_btn">내륙 예약하기</button>-->
                </div>
                <div class="cont"><a class="ico_date"><input class="dateRangePicker" type="text" readonly/></a></div>
                <div class="cont"><a class="ico_car"><input class="chooseCount" type="text" value="모든 차량" readonly/><i class="ico_reset"></i></a>
                    <div class="option_list">
                        <ul class="btn_option_wrap small">

                            <li class="on"><label class="allcheck" for="chkAll">전체</label><input type="checkbox" id="chkAll" name="check_option" class="option_all" value="전체"></li>

                            <li class=""><label class="chk" for="chk01">전기차</label><input type="checkbox" id="chk01" name="check_option" class="option" value="전기차"></li>
                            <li class=""><label class="chk" for="chk02">스포츠카</label><input type="checkbox" id="chk02" name="check_option" class="option" value="수입전기차"></li>
                            <li class=""><label class="chk" for="chk03">캠핑카 차박</label><input type="checkbox" id="chk03" name="check_option" class="option" value="캠핑카 차박"></li>
                            <li class=""><label class="chk" for="chk04">경형/소형</label><input type="checkbox" id="chk04" name="check_option" class="option" value="경형/소형"></li>
                            <li class=""><label class="chk" for="chk05">중형/대형</label><input type="checkbox" id="chk05" name="check_option" class="option" value="중형/대형"></li>
                            <li class=""><label class="chk" for="chk06">SUV</label><input type="checkbox" id="chk06" name="check_option" class="option" value="SUV"></li>
                            <li class=""><label class="chk" for="chk07">승합</label><input type="checkbox" id="chk07" name="check_option" class="option" value="승합"></li>
                            <li class=""><label class="chk" for="chk08">수입</label><input type="checkbox" id="chk08" name="check_option" class="option" value="수입"></li>
                            <li class=""><label class="chk" for="chk09">휘발유</label><input type="checkbox" id="chk09" name="check_option" class="option" value="휘발유"></li>
                            <li class=""><label class="chk" for="chk10">경유</label><input type="checkbox" id="chk10" name="check_option" class="option" value="경유"></li>



                        </ul>
                    </div>
                </div>
                <div class="btn_group">
                    <button class="btn type01 search-car"  type="submit">차량 조회하고 예약하기</button>
                </div>
            </div>
        </div>
    </div>
        <div class="postDate">
            <input type="hidden" name="start">
            <input type="hidden" name="end">
        </div>
    </form>
</th:block>
