<!DOCTYPE html>

<th:block th:fragment="sidebarCC">
    <div class="sidebar">
        <div id="sideScroll" class="inner scroll_p">
            <div class="fillter_wrap"><h2>어떤 도움이 필요하세요</h2>
                <div class="menu_btns row3">
                    <ul class="btns_list">
                        <li><a>
                            <div class="icon"><img src="../img/ico_cs_main01.png" alt="결제 이미지"></div>
                            <span>예약·변경</span></a></li>
                        <li><a>
                            <div class="icon"><img src="../img/ico_cs_main02.png" alt="결제 이미지"></div>
                            <span>운전자</span></a></li>
                        <li><a>
                            <div class="icon"><img src="../img/ico_cs_main03.png" alt="결제 이미지"></div>
                            <span>제휴·할인</span></a></li>
                        <li><a>
                            <div class="icon"><img src="../img/ico_cs_main04.png" alt="결제 이미지"></div>
                            <span>보험</span></a></li>
                        <li><a>
                            <div class="icon"><img src="../img/ico_cs_main05.png" alt="결제 이미지"></div>
                            <span>고장·사고</span></a></li>
                        <li><a>
                            <div class="icon"><img src="../img/ico_cs_main06.png" alt="결제 이미지"></div>
                            <span>장기렌터카</span></a></li>
                        <li><a>
                            <div class="icon"><img src="../img/ico_cs_main07.png" alt="결제 이미지"></div>
                            <span>유류비</span></a></li>
                        <li><a>
                            <div class="icon"><img src="../img/ico_cs_main08.png" alt="결제 이미지"></div>
                            <span>부가용품</span></a></li>
                    </ul>
                </div>
                <div class="btn_group"><a class="btn type02" href="/crm">고객센터로 이동</a></div>
            </div>
        </div>
    </div>
</th:block>