<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="content">
    <div class="container">
        <div class="inner">
            <div class="contents" style="position: static">
                <div class="title_wrap"><h2 class="title_30">해외예약 </h2>

                </div>
                <div class="sub_cont"><p class="title_18">해외 예약은 현재 준비중에 있어요. <span class="total">^_^</span></p><span
                        class="title_14">보다 멋진 모습으로 찾아갈게요 </span>
                </div>



                <div class="sidebar">
                    <div id="sideScroll" class="inner">
                        <div class="fillter_wrap"><h2>도움이 필요하세요?</h2>
                            <p class="desc">SK렌터카 고객센터는 언제나 열려있어요</p>
                            <div class="btn_group"><a class="btn type02">고객센터로 이동</a></div>
                        </div>
                    </div>
                </div>
                <div class="float_wrap">
                    <div class="inner">
                        <div class="chat_cont">
                            <div class="chat_btn"><a> 상담하기</a></div>
                            <ul class="chat_list">
                                <li class="chat"><a>채팅상담</a></li>
                                <li class="inquiry"><a>1:1문의 작성</a></li>
                            </ul>
                        </div>
                        <div class="top_cont"><a class="top_btn"><span class="blind">TOP</span></a></div>
                    </div>
                </div>
            </div>
        </div>
</th:block>