.pc_wrap .react-google-flight-datepicker .month-name {
  text-align: left !important;
  font-weight: 700;
  margin-left: 12px;
}
.pc_wrap .react-google-flight-datepicker .day.selected.hovered:hover::after {
  background-color: #50555c !important;
}
.pc_wrap .react-google-flight-datepicker .day.selected.hovered:hover {
  color: #fff !important;
}

.pc_wrap .react-google-flight-datepicker .dialog-date-picker {
  display: block !important;
  opacity: 1 !important;
  transform: inherit !important;
  width: inherit !important;
}
.pc_wrap .react-google-flight-datepicker .day .text-desc,
.pc_wrap .react-google-flight-datepicker .date-picker-input,
.pc_wrap .react-google-flight-datepicker .weekdays,
.pc_wrap .react-google-flight-datepicker .flipper-button,
.pc_wrap .react-google-flight-datepicker .calendar-flippers {
  display: none !important;
}

.pc_wrap .react-google-flight-datepicker .calendar-wrapper {
  margin: 0 !important;
}

.pc_wrap .react-google-flight-datepicker .calendar-content {
  display: block !important;
}
.pc_wrap .react-google-flight-datepicker .month-calendar.hidden {
}

.pc_wrap .react-google-flight-datepicker {
  font-size: 14px;
  height: 100%;
}
.pc_wrap .react-google-flight-datepicker > * {
  box-sizing: border-box;
}
.pc_wrap .react-google-flight-datepicker .date-picker-demo {
  width: 400px;
}
.pc_wrap .react-google-flight-datepicker .btn-outline {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
}
.pc_wrap .react-google-flight-datepicker .date-picker {
  position: relative;
  border-radius: 4px;
  background: #fff;
  padding: 6px;
}
.pc_wrap .react-google-flight-datepicker .date-picker.disabled {
  opacity: 0.6;
  cursor: default;
}
.pc_wrap.react-google-flight-datepicker .date-picker-input {
  display: flex;
  width: 100%;
  height: 56px;
  border: 1px solid #dadce0;
  border-radius: 4px;
  color: #3c4043;
  font-size: 14px;
  justify-content: space-between;
  letter-spacing: 0.2px;
  align-items: center;
  overflow: visible;
}
.pc_wrap.react-google-flight-datepicker .date-picker-input svg {
  min-width: 24px;
  min-height: 24px;
}
.pc_wrap .react-google-flight-datepicker .date-picker-date-group {
  display: flex;
  position: relative;
  height: 100%;
  justify-content: space-between;
  flex-grow: 1;
}
.pc_wrap .react-google-flight-datepicker .date {
  display: flex;
  position: relative;
  width: 50%;
  height: 100%;
  padding: 0 13px;
  border-radius: 2px 0 0 2px;
  background: #fff;
  align-items: center;
  flex-grow: 1;
  border-radius: 4px;
}
.pc_wrap .react-google-flight-datepicker .date.is-single::before {
  display: none;
}
.pc_wrap .react-google-flight-datepicker .date:first-child::before {
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 70%;
  content: "";
  transform: translate(0, -50%);
  background: #dadce0;
}
.pc_wrap .react-google-flight-datepicker .selected-date {
  display: flex;
  height: 100%;
  overflow: hidden;
  font-size: 0.9rem;
  text-overflow: ellipsis;
  line-height: normal;
  flex: 1 1 0px;
  align-items: center;
  white-space: nowrap;
}
.pc_wrap .react-google-flight-datepicker .date-placeholder {
  color: rgba(0, 0, 0, 0.56);
}
.pc_wrap .react-google-flight-datepicker .change-date-group {
  width: 48px;
  display: flex;
}
.pc_wrap
  .react-google-flight-datepicker
  .change-date-group
  .change-date-button {
  height: 40px;
  padding: 8px 0;
  color: #5f6368;
  cursor: pointer;
  flex-grow: 1;
}
.pc_wrap
  .react-google-flight-datepicker
  .change-date-group
  .change-date-button:disabled {
  cursor: default;
}
.pc_wrap
  .react-google-flight-datepicker
  .change-date-group
  .change-date-button:disabled
  .icon-arrow {
  fill: #93989e;
}
.pc_wrap .react-google-flight-datepicker .icon-calendar {
  width: 24px;
  height: 24px;
  fill: #1a73e8;
  margin-right: 12px;
}
.pc_wrap .react-google-flight-datepicker .icon-calendar.mobile {
  display: none;
}
.pc_wrap .react-google-flight-datepicker .icon-arrow {
  width: 24px;
  height: 24px;
  fill: #5f6368;
}
@keyframes showPopup {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes hidePopup {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0.7);
    visibility: hidden;
  }
}
.pc_wrap .react-google-flight-datepicker .dialog-date-picker {
  z-index: 120;
  top: -2px;
  left: -2px;
  width: 770px;
  min-width: 200px;
  height: max-content;
  margin-bottom: 50px;
  border-radius: 5px;
  background: #fff;
  opacity: 0;
  transform-origin: top left;
  transform: scale(0);
}
.pc_wrap .react-google-flight-datepicker .dialog-date-picker.single {
  width: 385px;
}
.pc_wrap .react-google-flight-datepicker .dialog-date-picker.open {
  animation: showPopup 0.2s forwards;
}
.pc_wrap .react-google-flight-datepicker .dialog-date-picker.hide {
  animation: hidePopup 0.2s forwards;
}
.pc_wrap .react-google-flight-datepicker .dialog-header {
  display: flex;
  padding: 8px 8px 8px 24px;
  justify-content: space-between;
  align-items: center;
}
.pc_wrap .react-google-flight-datepicker .dialog-header .date-picker-input {
  height: 48px;
  width: 50%;
}
.pc_wrap .react-google-flight-datepicker .date:focus,
.react-google-flight-datepicker .date.is-focus {
  background-color: #f4f8ff;
}
.pc_wrap .react-google-flight-datepicker .date:focus::after,
.react-google-flight-datepicker .date.is-focus::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: -1px;
  border: 2px solid #1a73e8;
  border-radius: 4px;
  content: "";
  pointer-events: none;
  z-index: 5;
}
.pc_wrap .react-google-flight-datepicker .back-button {
  display: none;
}
.pc_wrap .react-google-flight-datepicker .dialog-content {
  position: relative;
}
.pc_wrap .react-google-flight-datepicker .reset-button {
  height: 36px;
  padding: 0 8px;
  border: none;
  border-radius: 4px;
  color: #5f6368;
  font-size: 0.9rem;
  min-width: 64px;
}
.pc_wrap .react-google-flight-datepicker .reset-button:hover {
  background-color: #fafafa;
}
.pc_wrap .react-google-flight-datepicker .reset-button.mobile {
  display: none;
}
.pc_wrap .react-google-flight-datepicker .calendar-wrapper {
  margin: 12px 38px 8px;
  overflow: hidden;
  min-height: 353px;
}
.pc_wrap .react-google-flight-datepicker .calendar-wrapper.single {
  margin-left: 36px;
  margin-right: 36px;
}
.pc_wrap .react-google-flight-datepicker .calendar-content {
  display: flex;
  position: relative;
  padding: 0 2px;
  overflow: hidden;
}
.pc_wrap .react-google-flight-datepicker .calendar-content.isAnimating {
  transition: transform 0.2s ease;
  overflow: initial;
}
.pc_wrap .react-google-flight-datepicker .month-calendar {
  width: 308px;
  color: #3c4043;
  margin-right: 43px;
}
.pc_wrap .react-google-flight-datepicker .month-calendar.hidden {
  visibility: hidden;
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.pc_wrap .react-google-flight-datepicker .month-calendar.isAnimating {
  position: absolute;
  left: -350px;
}
.pc_wrap .react-google-flight-datepicker .month-calendar.single {
  margin-right: 39px;
}
.pc_wrap .react-google-flight-datepicker .month-name {
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}
.pc_wrap .react-google-flight-datepicker .weekdays {
  width: 100%;
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.9rem;
  display: flex;
  display: none;
}
.pc_wrap .react-google-flight-datepicker .weekdays .weekday {
  display: flex;
  height: 36px;
  margin: 0;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.pc_wrap .react-google-flight-datepicker .week {
  display: flex;
  justify-content: flex-start;
}
.pc_wrap .react-google-flight-datepicker .week.first {
  justify-content: flex-end;
}
.pc_wrap .react-google-flight-datepicker .day {
  display: flex;
  position: relative;
  width: 44px;
  height: 44px;
  margin: 2px 0;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5px;
  border-radius: 50%;
}
.pc_wrap .react-google-flight-datepicker .day .background-day {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}
.pc_wrap .react-google-flight-datepicker .day::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto;
  border-radius: 100%;
  content: "";
  z-index: 2;
}
.pc_wrap .react-google-flight-datepicker .day:hover::after {
  left: -2px;
  right: -2px;
  bottom: -2px;
  background-color: #eceef0;
  top: -2px;
}
.pc_wrap .react-google-flight-datepicker .day.selected {
  color: #fff;
}
.pc_wrap .react-google-flight-datepicker .day.selected.highlight .text-day {
  font-weight: 400;
}
.pc_wrap .react-google-flight-datepicker .day.selected:hover {
  color: #000;
}
.pc_wrap .react-google-flight-datepicker .day.selected::after {
  background-color: #50555c;
  border-radius: 100%;
}
.pc_wrap .react-google-flight-datepicker .day.selected:hover::after {
  background-color: #fff;
}
.pc_wrap .react-google-flight-datepicker .day.highlight .text-day {
  font-weight: 700;
}
.pc_wrap .react-google-flight-datepicker .day.highlight::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  content: "";
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.pc_wrap .react-google-flight-datepicker .day.hovered {
  background-color: #eceef0;
  border-radius: unset;
}
.pc_wrap .react-google-flight-datepicker .day.hovered .background-day {
  opacity: 1;
}
.pc_wrap .react-google-flight-datepicker .day.hovered.end {
  background: linear-gradient(90deg, #eceef0 50%, #fff 50%);
}
.pc_wrap .react-google-flight-datepicker .day.hovered:hover {
  background-color: #eceef0;
}
.pc_wrap .react-google-flight-datepicker .day.hovered:hover::after {
  border-radius: 100%;
  background-color: #fff;
}
.pc_wrap .react-google-flight-datepicker .day.selected.hovered {
  background: linear-gradient(90deg, #fff 50%, #eceef0 50%);
  color: #fff;
}
.pc_wrap .react-google-flight-datepicker .day.selected.hovered.end {
  background: linear-gradient(90deg, #eceef0 50%, #fff 50%);
}
.pc_wrap .react-google-flight-datepicker .day.selected.hovered:hover {
  color: #000;
}
.pc_wrap .react-google-flight-datepicker .day.selected.hovered::after {
  border-radius: 100%;
  background-color: #50555c;
}
.pc_wrap .react-google-flight-datepicker .day.selected.hovered:hover::after {
  background-color: #fff;
}
.pc_wrap .react-google-flight-datepicker .day.disabled {
  pointer-events: none;
  color: #d4d7dc;
}
.pc_wrap .react-google-flight-datepicker .day.disabled.selected {
  color: #fff;
}
.pc_wrap .react-google-flight-datepicker .day .text-day {
  position: relative;
  z-index: 3;
}
.pc_wrap .react-google-flight-datepicker .calendar-flippers {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}
.pc_wrap .react-google-flight-datepicker .flipper-button {
  display: flex;
  width: 40px;
  height: 40px;
  margin: 0 -20px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  pointer-events: all;
}
.pc_wrap .react-google-flight-datepicker .flipper-button svg {
  width: 24px;
  height: 24px;
}
.pc_wrap .react-google-flight-datepicker .flipper-button.disabled {
  cursor: default;
}
.pc_wrap .react-google-flight-datepicker .flipper-button.disabled svg {
  fill: #93989e;
}
.pc_wrap .react-google-flight-datepicker .dialog-footer {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 8px;
}
.pc_wrap .react-google-flight-datepicker .dialog-footer .submit-button {
  min-width: 88px;
  height: 36px;
  padding: 10px 8px;
  border: none;
  border-radius: 8px;
  background: #50555c;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 16px;
  cursor: pointer;
}
.pc_wrap .form_row input[type="text"] + .ico_wrap .btn_reset:active {
  display: block;
}
