.fillter_wrap .calendar_wrap h3 {
  text-align: left;
  margin-left: 12px;
}
.cal_wrap .calendar_wrap em {
  font-size: 16px;
  text-align: left;
}

.calendar_wrap .react-datepicker__year-read-view--down-arrow,
.calendar_wrap .react-datepicker__month-read-view--down-arrow,
.calendar_wrap .react-datepicker__month-year-read-view--down-arrow,
.calendar_wrap .react-datepicker__navigation-icon::before {
  /* border-color: #ccc;
  border-style: solid;
  border-width: 3px 3px 0 0;
  content: "";
  display: block;
  height: 9px;
  position: absolute;
  top: 6px;
  width: 9px; */
}
.calendar_wrap .react-datepicker-popper[data-placement^='top'] .react-datepicker__triangle,
.calendar_wrap .react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle {
  margin-left: -4px;
  position: absolute;
  width: 0;
}
.calendar_wrap .react-datepicker-popper[data-placement^='top'] .react-datepicker__triangle::before,
.calendar_wrap .react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^='top'] .react-datepicker__triangle::after,
.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::after {
  box-sizing: content-box;
  position: absolute;
  border: 8px solid transparent;
  height: 0;
  width: 1px;
  content: '';
  z-index: -1;
  border-width: 8px;
  left: -8px;
}
.calendar_wrap .react-datepicker-popper[data-placement^='top'] .react-datepicker__triangle::before,
.calendar_wrap .react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::before {
  border-bottom-color: #aeaeae;
}

.calendar_wrap .react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle {
  top: 0;
  margin-top: -8px;
}
.calendar_wrap .react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::after {
  border-top: none;
  border-bottom-color: #f0f0f0;
}
.calendar_wrap .react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::after {
  top: 0;
}
.calendar_wrap .react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::before {
  top: -1px;
  border-bottom-color: #aeaeae;
}

.calendar_wrap .react-datepicker-popper[data-placement^='top'] .react-datepicker__triangle {
  bottom: 0;
  margin-bottom: -8px;
}
.calendar_wrap .react-datepicker-popper[data-placement^='top'] .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^='top'] .react-datepicker__triangle::after {
  border-bottom: none;
  border-top-color: #fff;
}
.calendar_wrap .react-datepicker-popper[data-placement^='top'] .react-datepicker__triangle::after {
  bottom: 0;
}
.calendar_wrap .react-datepicker-popper[data-placement^='top'] .react-datepicker__triangle::before {
  bottom: -1px;
  border-top-color: #aeaeae;
}

.calendar_wrap .react-datepicker-wrapper {
  display: inline-block;
  padding: 0;
  border: 0;
  width: 100%;
}

.calendar_wrap.react-datepicker {
  font-size: 14px;
  border: 0;
  border-radius: 50%;
}

.calendar_wrap .react-datepicker--time-only .react-datepicker__triangle {
  left: 35px;
}
.calendar_wrap .react-datepicker--time-only .react-datepicker__time-container {
  border-left: 0;
}
.calendar_wrap .react-datepicker--time-only .react-datepicker__time,
.calendar_wrap .react-datepicker--time-only .react-datepicker__time-box {
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.calendar_wrap .react-datepicker__triangle {
  position: absolute;
  left: 50px;
}

.calendar_wrap .react-datepicker-popper[data-placement^='bottom'] {
  padding-top: 10px;
}
.calendar_wrap .react-datepicker-popper[data-placement='bottom-end'] .react-datepicker__triangle,
.react-datepicker-popper[data-placement='top-end'] .react-datepicker__triangle {
  left: auto;
  right: 50px;
}
.calendar_wrap .react-datepicker-popper[data-placement^='top'] {
  padding-bottom: 10px;
}
.calendar_wrap .react-datepicker-popper[data-placement^='right'] {
  padding-left: 8px;
}
.calendar_wrap .react-datepicker-popper[data-placement^='right'] .react-datepicker__triangle {
  left: auto;
  right: 42px;
}
.calendar_wrap .react-datepicker-popper[data-placement^='left'] {
  padding-right: 8px;
}
.calendar_wrap .react-datepicker-popper[data-placement^='left'] .react-datepicker__triangle {
  left: 42px;
  right: auto;
}

.calendar_wrap .react-datepicker__header {
  border-radius: 0;
  background: 0;
  border: 0;
  padding: 0;
  background: none;
}
.calendar_wrap .react-datepicker__header--time {
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
}
.calendar_wrap .react-datepicker__header--time:not(.react-datepicker__header--time--only) {
  border-top-left-radius: 0;
}
.calendar_wrap .react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-top-right-radius: 0.3rem;
}

.react-datepicker__year-dropdown-container--select,
.react-datepicker__month-dropdown-container--select,
.react-datepicker__month-year-dropdown-container--select,
.react-datepicker__year-dropdown-container--scroll,
.react-datepicker__month-dropdown-container--scroll,
.react-datepicker__month-year-dropdown-container--scroll {
  display: inline-block;
  margin: 0 2px;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  margin-top: 0;
  color: #000;
  font-weight: bold;
  font-size: 0.944rem;
}

.react-datepicker-time__header {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.react-datepicker__navigation {
  align-items: center;
  background: none;
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 2px;
  padding: 0;
  border: none;
  z-index: 1;
  height: 32px;
  width: 32px;
  text-indent: -999em;
  overflow: hidden;
}
.calendar_wrap .react-datepicker__navigation--previous {
  left: 2px;
}
.calendar_wrap .react-datepicker__navigation--next {
  right: 2px;
}
.calendar_wrap .react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: 85px;
}
.calendar_wrap .react-datepicker__navigation--years {
  position: relative;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.calendar_wrap .react-datepicker__navigation--years-previous {
  top: 4px;
}
.calendar_wrap .react-datepicker__navigation--years-upcoming {
  top: -4px;
}
.calendar_wrap .react-datepicker__navigation:hover *::before {
  border-color: #a6a6a6;
}

.react-datepicker__navigation-icon {
  position: relative;
  top: -1px;
  font-size: 20px;
  width: 0;
}
.calendar_wrap .react-datepicker__navigation-icon--next {
  left: -2px;
}
.calendar_wrap .react-datepicker__navigation-icon--next::before {
  transform: rotate(45deg);
  left: -7px;
}
.calendar_wrap .react-datepicker__navigation-icon--previous {
  right: -2px;
}
.calendar_wrap .react-datepicker__navigation-icon--previous::before {
  transform: rotate(225deg);
  right: -7px;
}

.calendar_wrap .react-datepicker__month-container {
  width: 100%;
}

.react-datepicker__year {
  margin: 0.4rem;
  text-align: center;
}
.calendar_wrap .react-datepicker__year-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 180px;
}
.calendar_wrap .react-datepicker__year .react-datepicker__year-text {
  display: inline-block;
  width: 4rem;
  margin: 2px;
}

.calendar_wrap .react-datepicker__month {
  margin: 10px 0;
  text-align: center;
}
.calendar_wrap .react-datepicker__month .react-datepicker__month-text,
.calendar_wrap .react-datepicker__month .react-datepicker__quarter-text {
  display: inline-block;
  width: 4rem;
  margin: 2px;
}

.react-datepicker__input-time-container {
  clear: both;
  width: 100%;
  float: left;
  margin: 5px 0 10px 15px;
  text-align: left;
}
.calendar_wrap .react-datepicker__input-time-container .react-datepicker-time__caption {
  display: inline-block;
}
.calendar_wrap .react-datepicker__input-time-container .react-datepicker-time__input-container {
  display: inline-block;
}
.calendar_wrap .react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input {
  display: inline-block;
  margin-left: 10px;
}
.calendar_wrap .react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input {
  width: auto;
}
.calendar_wrap .react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input[type='time']::-webkit-inner-spin-button,
.calendar_wrap .react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input[type='time']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.calendar_wrap .react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input[type='time'] {
  -moz-appearance: textfield;
}
.calendar_wrap .react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__delimiter {
  margin-left: 5px;
  display: inline-block;
}

.calendar_wrap .react-datepicker__time-container {
  float: right;
  border-left: 1px solid #aeaeae;
  width: 85px;
}
.calendar_wrap .react-datepicker__time-container--with-today-button {
  display: inline;
  border: 1px solid #aeaeae;
  border-radius: 50%;
  position: absolute;
  right: -72px;
  top: 0;
}
.calendar_wrap .react-datepicker__time-container .react-datepicker__time {
  position: relative;
  background: white;
  border-bottom-right-radius: 0.3rem;
}
.calendar_wrap .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  width: 85px;
  overflow-x: hidden;
  margin: 0 auto;
  text-align: center;
  border-bottom-right-radius: 0.3rem;
}
.calendar_wrap .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  list-style: none;
  margin: 0;
  height: calc(195px + (1.7rem / 2));
  overflow-y: scroll;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  box-sizing: content-box;
}
.calendar_wrap .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
  height: 30px;
  padding: 5px 10px;
  white-space: nowrap;
}
.calendar_wrap .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}
.calendar_wrap .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
  background-color: #50555c;
  color: white;
  font-weight: bold;
}
.calendar_wrap .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected:hover {
  background-color: #50555c;
}
.calendar_wrap .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--disabled {
  color: #ccc;
}
.calendar_wrap .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--disabled:hover {
  cursor: default;
  background-color: transparent;
}

.react-datepicker__week-number {
  color: #ccc;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem;
}
.calendar_wrap .react-datepicker__week-number.react-datepicker__week-number--clickable {
  cursor: pointer;
}
.calendar_wrap .react-datepicker__week-number.react-datepicker__week-number--clickable:hover {
  border-radius: 50%;
  background-color: #f0f0f0;
}

.calendar_wrap .react-datepicker__week {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.calendar_wrap .react-datepicker__day-names {
  display: none;
}

.calendar_wrap .react-datepicker__day-name,
.calendar_wrap .react-datepicker__day,
.calendar_wrap .react-datepicker__time-name {
  display: table-cell;
  width: auto;
  height: 40px;
}

.calendar_wrap .react-datepicker__month--selected,
.calendar_wrap .react-datepicker__month--in-selecting-range,
.calendar_wrap .react-datepicker__month--in-range,
.calendar_wrap .react-datepicker__quarter--selected,
.calendar_wrap .react-datepicker__quarter--in-selecting-range,
.calendar_wrap .react-datepicker__quarter--in-range {
  border-radius: 50%;
  background-color: #50555c;
  color: #fff;
}
.calendar_wrap .react-datepicker__month--disabled,
.calendar_wrap .react-datepicker__quarter--disabled {
  color: #ccc;
  pointer-events: none;
}
.calendar_wrap .react-datepicker__day--today,
.calendar_wrap .react-datepicker__month-text--today,
.calendar_wrap .react-datepicker__quarter-text--today,
.calendar_wrap .react-datepicker__year-text--today {
  font-weight: bold;
}
.calendar_wrap .react-datepicker__day--highlighted,
.calendar_wrap .react-datepicker__month-text--highlighted,
.calendar_wrap .react-datepicker__quarter-text--highlighted,
.calendar_wrap .react-datepicker__year-text--highlighted {
  position: relative;
  border-radius: 0;
  background-color: #9bb2ce;
  color: #fff;
}
.calendar_wrap .react-datepicker__day--outside-month {
  background: #fff !important;
  /* color:#000 !important */
}
.calendar_wrap .react-datepicker__day--outside-month::before,
.calendar_wrap .react-datepicker__day--outside-month::after {
  display: none !important;
}
.calendar_wrap .react-datepicker__day--range-end.exten-end {
  background: #9bb2ce !important;
  border-radius: 0 !important;
}
.calendar_wrap .react-datepicker__day--highlighted + .react-datepicker__day--range-exten:after {
  display: block;
  content: '';
  width: 20px;
  height: 40px;
  background: #9bb2ce;
  position: absolute;
  top: 0;
  z-index: -2;
}
.calendar_wrap .react-datepicker__day--highlighted-custom-1,
.calendar_wrap .react-datepicker__month-text--highlighted-custom-1,
.calendar_wrap .react-datepicker__quarter-text--highlighted-custom-1,
.calendar_wrap .react-datepicker__year-text--highlighted-custom-1 {
  color: magenta;
}
.calendar_wrap .react-datepicker__day--highlighted-custom-2,
.calendar_wrap .react-datepicker__month-text--highlighted-custom-2,
.calendar_wrap .react-datepicker__quarter-text--highlighted-custom-2,
.calendar_wrap .react-datepicker__year-text--highlighted-custom-2 {
  color: green;
}

.calendar_wrap .react-datepicker__day--in-range,
.calendar_wrap .react-datepicker__month-text--in-range,
.calendar_wrap .react-datepicker__quarter-text--in-range,
.calendar_wrap .react-datepicker__year-text--in-range {
  background: #eceef0;
  border-radius: 0;
  color: #50555c;
  position: relative;
  z-index: 10;
}

.calendar_wrap .react-datepicker__day--selected,
.calendar_wrap .react-datepicker__day--in-selecting-range,
.calendar_wrap .react-datepicker__month-text--selected,
.calendar_wrap .react-datepicker__month-text--in-selecting-range,
.calendar_wrap .react-datepicker__quarter-text--selected,
.calendar_wrap .react-datepicker__quarter-text--in-selecting-range,
.calendar_wrap .react-datepicker__year-text--selected,
.calendar_wrap .react-datepicker__year-text--in-selecting-range {
  position: relative;
  background: transparent;
  z-index: 10;
}
.calendar_wrap .react-datepicker__day--selected::before,
.calendar_wrap .react-datepicker__month-text--selected::before,
.calendar_wrap .react-datepicker__month-text--in-selecting-range::before,
.calendar_wrap .react-datepicker__quarter-text--selected::before,
.calendar_wrap .react-datepicker__quarter-text--in-selecting-range::before,
.calendar_wrap .react-datepicker__year-text--selected::before,
.calendar_wrap .react-datepicker__year-text--in-selecting-range::before,
.calendar_wrap .react-datepicker__day--keyboard-selected::before,
.calendar_wrap .react-datepicker__month-text--keyboard-selected::before,
.calendar_wrap .react-datepicker__quarter-text--keyboard-selected::before,
.calendar_wrap .react-datepicker__year-text--keyboard-selected::before,
.calendar_wrap .react-datepicker__day--range-start::before,
.calendar_wrap .react-datepicker__day--range-end::before,
.calendar_wrap .react-datepicker__day--range-exten::before {
  display: inline-block;
  content: '';
  background: #50555c !important;
  border-radius: 50% !important;
  color: #fff !important;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  z-index: -1;
  box-sizing: border-box;
}

.calendar_wrap .react-datepicker__day--range-start,
.calendar_wrap .react-datepicker__day--range-end,
.calendar_wrap .react-datepicker__day--range-exten {
  background: transparent;
  border-radius: 50% !important;
  color: #fff;
  position: relative;
}

.calendar_wrap .react-datepicker__day--range-start::before,
.calendar_wrap .react-datepicker__day--range-end::before,
.calendar_wrap .react-datepicker__day--range-exten::before {
  font-size: 10px;
  line-height: 12px;
  color: #fff;
  padding-top: 22px;
}
.calendar_wrap .react-datepicker__day--range-start::before {
  content: '대여';
}
.calendar_wrap .react-datepicker__day--range-end::before {
  content: '반납';
}
.calendar_wrap .react-datepicker__day--range-exten::before {
  content: '연장';
  /* background:#668CBB !important; */
}
.calendar_wrap .react-datepicker__day--range-start.react-datepicker__day--outside-month::before,
.calendar_wrap .react-datepicker__day--range-end.react-datepicker__day--outside-month::before {
  content: '';
}
.calendar_wrap .react-datepicker__day--range-start::after,
.calendar_wrap .react-datepicker__day--range-end::after {
  display: block;
  content: '';
  width: 20px;
  height: 40px;
  background: #eceef0;
  position: absolute;
  top: 0;
  z-index: -2;
}
.calendar_wrap .react-datepicker__day--range-start::after {
  right: 0;
}
.calendar_wrap .react-datepicker__day--range-end::after {
  left: 0;
}
.calendar_wrap .react-datepicker__day--keyboard-selected,
.calendar_wrap .react-datepicker__month-text--keyboard-selected,
.calendar_wrap .react-datepicker__quarter-text--keyboard-selected,
.calendar_wrap .react-datepicker__year-text--keyboard-selected {
  border-radius: 50%;
  background-color: #50555c;
  color: #fff;
  width: 40px;
  height: 40px;
}

.calendar_wrap .react-datepicker__day--keyboard-selected:hover,
.calendar_wrap .react-datepicker__month-text--keyboard-selected:hover,
.calendar_wrap .react-datepicker__quarter-text--keyboard-selected:hover,
.calendar_wrap .react-datepicker__year-text--keyboard-selected:hover,
.calendar_wrap .react-datepicker__day--selected:hover,
.calendar_wrap .react-datepicker__month-text--selected:hover,
.calendar_wrap .react-datepicker__month-text--in-selecting-range:hover,
.calendar_wrap .react-datepicker__month-text--in-range:hover,
.calendar_wrap .react-datepicker__quarter-text--selected:hover,
.calendar_wrap .react-datepicker__quarter-text--in-selecting-range:hover,
.calendar_wrap .react-datepicker__year-text--selected:hover,
.calendar_wrap .react-datepicker__year-text--in-selecting-range:hover,
.calendar_wrap .react-datepicker__year-text--in-range:hover,
.calendar_wrap .react-datepicker__day:hover,
.calendar_wrap .react-datepicker__month-text:hover,
.calendar_wrap .react-datepicker__quarter-text:hover,
.calendar_wrap .react-datepicker__year-text:hover,
.calendar_wrap .react-datepicker__day--range-start.react-datepicker__day--outside-month::before,
.calendar_wrap .react-datepicker__day--range-end.react-datepicker__day--outside-month::before {
  background-color: transparent !important;
  border-radius: 0 !important;
}
.calendar_wrap .react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day.react-datepicker__day--in-range:hover,
.calendar_wrap .react-datepicker__day--in-selecting-range:hover::before,
.react-datepicker__day.react-datepicker__day--in-range:hover::before {
  background: #eceef0 !important;
  color: #50555c !important;
}

.calendar_wrap
  .react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range, .calendar_wrap .react-datepicker__month-text--in-range, .calendar_wrap
    .react-datepicker__quarter-text--in-range, .calendar_wrap .react-datepicker__year-text--in-range),
.calendar_wrap
  .react-datepicker__month-text--in-selecting-range:not(.react-datepicker__day--in-range, .calendar_wrap .react-datepicker__month-text--in-range, .calendar_wrap
    .react-datepicker__quarter-text--in-range, .calendar_wrap .react-datepicker__year-text--in-range),
.calendar_wrap
  .react-datepicker__quarter-text--in-selecting-range:not(.react-datepicker__day--in-range, .calendar_wrap .react-datepicker__month-text--in-range, .calendar_wrap
    .react-datepicker__quarter-text--in-range, .calendar_wrap .react-datepicker__year-text--in-range),
.calendar_wrap
  .react-datepicker__year-text--in-selecting-range:not(.react-datepicker__day--in-range, .calendar_wrap .react-datepicker__month-text--in-range, .calendar_wrap
    .react-datepicker__quarter-text--in-range, .calendar_wrap .react-datepicker__year-text--in-range) {
  background-color: transparent;
  color: #50555c;
}
.calendar_wrap
  .react-datepicker__month--selecting-range
  .react-datepicker__day--in-range:not(.react-datepicker__day--in-selecting-range, .calendar_wrap .react-datepicker__month-text--in-selecting-range, .calendar_wrap
    .react-datepicker__quarter-text--in-selecting-range, .calendar_wrap .react-datepicker__year-text--in-selecting-range),
.calendar_wrap
  .react-datepicker__month--selecting-range
  .react-datepicker__month-text--in-range:not(.react-datepicker__day--in-selecting-range, .calendar_wrap .react-datepicker__month-text--in-selecting-range, .calendar_wrap
    .react-datepicker__quarter-text--in-selecting-range, .calendar_wrap .react-datepicker__year-text--in-selecting-range),
.calendar_wrap
  .react-datepicker__month--selecting-range
  .react-datepicker__quarter-text--in-range:not(.react-datepicker__day--in-selecting-range, .calendar_wrap .react-datepicker__month-text--in-selecting-range, .calendar_wrap
    .react-datepicker__quarter-text--in-selecting-range, .calendar_wrap .react-datepicker__year-text--in-selecting-range),
.calendar_wrap
  .react-datepicker__month--selecting-range
  .react-datepicker__year-text--in-range:not(.react-datepicker__day--in-selecting-range, .calendar_wrap .react-datepicker__month-text--in-selecting-range, .calendar_wrap
    .react-datepicker__quarter-text--in-selecting-range, .calendar_wrap .react-datepicker__year-text--in-selecting-range) {
  background-color: #f0f0f0;
  color: #000;
}
.calendar_wrap .react-datepicker__day:first-child {
  color: #fa4e29;
}
.calendar_wrap .react-datepicker__day:last-child {
  color: #073fb6;
}
.calendar_wrap .react-datepicker__day.holiday {
  color: #fa4e29;
}
.calendar_wrap .react-datepicker__day--disabled:last-child {
  color: #ccc;
}
.calendar_wrap .react-datepicker__day--disabled:first-child {
  color: #ccc;
}
.calendar_wrap .react-datepicker__day--disabled.holiday {
  color: #ccc;
}

.calendar_wrap .react-datepicker__day--selected,
.calendar_wrap .react-datepicker__day--keyboard-selected,
.react-datepicker__day--range-end {
  color: #fff !important;
}

.calendar_wrap .react-datepicker__day--range-start:hover,
.calendar_wrap .react-datepicker__day--range-end:hover {
  color: #fff !important;
  background: #fff !important;
}
.calendar_wrap .react-datepicker__day--range-start:hover:before,
.calendar_wrap .react-datepicker__day--range-end:hover:before {
  background: #505050 !important ;
  color: #fff !important;
}

.calendar_wrap .react-datepicker__day--disabled,
.calendar_wrap .react-datepicker__month-text--disabled,
.calendar_wrap .react-datepicker__quarter-text--disabled,
.calendar_wrap .react-datepicker__year-text--disabled {
  cursor: default;
  color: #ccc;
}
.calendar_wrap .react-datepicker__day--disabled:hover,
.calendar_wrap .react-datepicker__month-text--disabled:hover,
.calendar_wrap .react-datepicker__quarter-text--disabled:hover,
.calendar_wrap .react-datepicker__year-text--disabled:hover {
  background-color: transparent;
}

.calendar_wrap .react-datepicker__month-text.react-datepicker__month--selected:hover,
.react-datepicker__month-text.react-datepicker__month--in-range:hover,
.react-datepicker__month-text.react-datepicker__quarter--selected:hover,
.react-datepicker__month-text.react-datepicker__quarter--in-range:hover,
.calendar_wrap .react-datepicker__quarter-text.react-datepicker__month--selected:hover,
.calendar_wrap .react-datepicker__quarter-text.react-datepicker__month--in-range:hover,
.calendar_wrap .react-datepicker__quarter-text.react-datepicker__quarter--selected:hover,
.calendar_wrap .react-datepicker__quarter-text.react-datepicker__quarter--in-range:hover {
  background-color: #50555c;
}
.calendar_wrap .react-datepicker__month-text:hover,
.calendar_wrap .react-datepicker__quarter-text:hover {
  background-color: #f0f0f0;
}

.calendar_wrap .react-datepicker__year-read-view,
.calendar_wrap .react-datepicker__month-read-view,
.calendar_wrap .react-datepicker__month-year-read-view {
  border: 1px solid transparent;
  border-radius: 50%;
  position: relative;
}

.calendar_wrap .react-datepicker__year-read-view:hover,
.calendar_wrap .react-datepicker__month-read-view:hover,
.calendar_wrap .react-datepicker__month-year-read-view:hover {
  cursor: pointer;
}
.calendar_wrap .react-datepicker__year-read-view:hover .react-datepicker__year-read-view--down-arrow,
.calendar_wrap .react-datepicker__year-read-view:hover .react-datepicker__month-read-view--down-arrow,
.calendar_wrap .react-datepicker__month-read-view:hover .react-datepicker__year-read-view--down-arrow,
.calendar_wrap .react-datepicker__month-read-view:hover .react-datepicker__month-read-view--down-arrow,
.calendar_wrap .react-datepicker__month-year-read-view:hover .react-datepicker__year-read-view--down-arrow,
.calendar_wrap .react-datepicker__month-year-read-view:hover .react-datepicker__month-read-view--down-arrow {
  border-top-color: #b3b3b3;
}
.calendar_wrap .react-datepicker__year-read-view--down-arrow,
.calendar_wrap .react-datepicker__month-read-view--down-arrow,
.calendar_wrap .react-datepicker__month-year-read-view--down-arrow {
  transform: rotate(135deg);
  right: -16px;
  top: 0;
}

.calendar_wrap .react-datepicker__year-dropdown,
.calendar_wrap .react-datepicker__month-dropdown,
.calendar_wrap .react-datepicker__month-year-dropdown {
  background-color: #f0f0f0;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 30px;
  z-index: 1;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #aeaeae;
}
.calendar_wrap .react-datepicker__year-dropdown:hover,
.calendar_wrap .react-datepicker__month-dropdown:hover,
.calendar_wrap .react-datepicker__month-year-dropdown:hover {
  cursor: pointer;
}
.calendar_wrap .react-datepicker__year-dropdown--scrollable,
.calendar_wrap .react-datepicker__month-dropdown--scrollable,
.calendar_wrap .react-datepicker__month-year-dropdown--scrollable {
  height: 150px;
  overflow-y: scroll;
}

.calendar_wrap .react-datepicker__year-option,
.calendar_wrap .react-datepicker__month-option,
.calendar_wrap .react-datepicker__month-year-option {
  line-height: 20px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.calendar_wrap .react-datepicker__year-option:first-of-type,
.calendar_wrap .react-datepicker__month-option:first-of-type,
.calendar_wrap .react-datepicker__month-year-option:first-of-type {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.calendar_wrap .react-datepicker__year-option:last-of-type,
.calendar_wrap .react-datepicker__month-option:last-of-type,
.calendar_wrap .react-datepicker__month-year-option:last-of-type {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
.calendar_wrap .react-datepicker__year-option:hover,
.calendar_wrap .react-datepicker__month-option:hover,
.calendar_wrap .react-datepicker__month-year-option:hover {
  background-color: #ccc;
}
.calendar_wrap .react-datepicker__year-option:hover .react-datepicker__navigation--years-upcoming,
.calendar_wrap .react-datepicker__month-option:hover .react-datepicker__navigation--years-upcoming,
.calendar_wrap .react-datepicker__month-year-option:hover .react-datepicker__navigation--years-upcoming {
  border-bottom-color: #b3b3b3;
}
.calendar_wrap .react-datepicker__year-option:hover .react-datepicker__navigation--years-previous,
.calendar_wrap .react-datepicker__month-option:hover .react-datepicker__navigation--years-previous,
.calendar_wrap .react-datepicker__month-year-option:hover .react-datepicker__navigation--years-previous {
  border-top-color: #b3b3b3;
}
.calendar_wrap .react-datepicker__year-option--selected,
.calendar_wrap .react-datepicker__month-option--selected,
.calendar_wrap .react-datepicker__month-year-option--selected {
  position: absolute;
  left: 15px;
}

.react-datepicker__close-icon {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 0 6px 0 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.calendar_wrap .react-datepicker__close-icon::after {
  cursor: pointer;
  background-color: #50555c;
  color: #fff;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  padding: 2px;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  content: '×';
}

.calendar_wrap .react-datepicker__today-button {
  background: #f0f0f0;
  border-top: 1px solid #aeaeae;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  clear: left;
}

.calendar_wrap .react-datepicker__portal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 2147483647;
}
.calendar_wrap .react-datepicker__portal .react-datepicker__day-name,
.calendar_wrap .react-datepicker__portal .react-datepicker__day,
.calendar_wrap .react-datepicker__portal .react-datepicker__time-name {
  width: 3rem;
  line-height: 3rem;
}
@media (max-width: 400px), (max-height: 550px) {
  .react-datepicker__portal .react-datepicker__day-name,
  .react-datepicker__portal .react-datepicker__day,
  .react-datepicker__portal .react-datepicker__time-name {
    width: 2rem;
    line-height: 2rem;
  }
}
.calendar_wrap .react-datepicker__portal .react-datepicker__current-month,
.calendar_wrap .react-datepicker__portal .react-datepicker-time__header {
  font-size: 1.44rem;
}
/* .calendar_wrap .react-google-flight-datepicker .date-picker-input,
.calendar_wrap .react-google-flight-datepicker .weekdays,
.calendar_wrap .react-google-flight-datepicker .day .text-desc,
.calendar_wrap .react-google-flight-datepicker .calendar-flippers {
  display: none !important;
}

.calendar_wrap .react-google-flight-datepicker .dialog-date-picker,
.calendar_wrap .react-google-flight-datepicker .dialog-date-picker.hide {
  animation: showPopup 0.2s forwards !important;
}

.calendar_wrap .react-google-flight-datepicker .day.selected .text-day:after {
  content: "대여";
  display: block;
  font-size: 10px;
}
.calendar_wrap .react-google-flight-datepicker .day.highlight .text-day:after {
  content: "오늘";
  display: block;
  font-size: 10px;
}
@media screen and (max-width: 768px) {
  .calendar_wrap .react-google-flight-datepicker .date-picker-input {
    display: block;
  }
  .calendar_wrap .react-calendar .range-date,
  .calendar_wrap .react-calendar + .react-google-flight-datepicker .text-desc {
    display: none;
  }

  .calendar_wrap .react-google-flight-datepicker .dialog-date-picker.open {
    transform: none !important;
  }
}

.calendar_wrap .react-google-flight-datepicker {font-size:14px; height:100%;}
.calendar_wrap .react-google-flight-datepicker>* {box-sizing:border-box}
.calendar_wrap .react-google-flight-datepicker .date-picker-demo {width:400px}
.calendar_wrap .react-google-flight-datepicker .btn-outline {
	border:none; background-color:rgba(0,0,0,0); background-repeat:no-repeat;
	cursor:pointer;
	overflow:hidden
}
.calendar_wrap .react-google-flight-datepicker .date-picker {position:relative; border-radius:4px; background:#fff; padding:6px}
.calendar_wrap .react-google-flight-datepicker .date-picker.disabled {opacity:.6; cursor:default}
.calendar_wrap .react-google-flight-datepicker .date-picker-input {
	display:flex;
	width:100%; height:56px;
	border:1px solid #dadce0; border-radius:4px;
	color:#3c4043; font-size:14px;
	justify-content:space-between;letter-spacing:.2px;align-items:center;overflow:visible
}
.calendar_wrap .react-google-flight-datepicker .date-picker-input svg {min-width:24px; min-height:24px}
.calendar_wrap .react-google-flight-datepicker .date-picker-date-group {
	display:flex; position:relative;
	height:100%;
	justify-content:space-between;flex-grow:1
}
.calendar_wrap .react-google-flight-datepicker .date {
	display:flex; position:relative;
	width:50%; height:100%; padding:0 13px;
	border-radius:2px 0 0 2px; background:#fff;
	align-items:center;flex-grow:1;border-radius:4px
}
.calendar_wrap .react-google-flight-datepicker .date.is-single::before {display:none}
.calendar_wrap .react-google-flight-datepicker .date:first-child::before {
	position:absolute; top:50%; right:0;
	width:1px; height:70%;
	content:"";
	transform:translate(0, -50%);background:#dadce0
}
.calendar_wrap .react-google-flight-datepicker .selected-date {
	display:flex;
	height:100%; overflow:hidden;
	font-size:.9rem; text-overflow:ellipsis; line-height:normal;
	flex:1 1 0px;align-items:center;white-space:nowrap
}
.calendar_wrap .react-google-flight-datepicker .date-placeholder {color:rgba(0,0,0,.56)}
.calendar_wrap .react-google-flight-datepicker .change-date-group {width:48px; display:flex}
.calendar_wrap .react-google-flight-datepicker .change-date-group .change-date-button {height:40px; padding:8px 0; color:#5f6368; cursor:pointer; flex-grow:1}
.calendar_wrap .react-google-flight-datepicker .change-date-group .change-date-button:disabled {cursor:default}
.calendar_wrap .react-google-flight-datepicker .change-date-group .change-date-button:disabled .icon-arrow {fill:#93989e}
.calendar_wrap .react-google-flight-datepicker .icon-calendar {width:24px; height:24px; fill:#1a73e8;margin-right:12px}
.calendar_wrap .react-google-flight-datepicker .icon-calendar.mobile {display:none}
.calendar_wrap .react-google-flight-datepicker .icon-arrow {width:24px; height:24px; fill:#5f6368}
@keyframes showPopup {0% {transform:scale(0.7);opacity:0}
100% {transform:scale(1);opacity:1}
}
@keyframes hidePopup {0% {transform:scale(1);opacity:1}
100% {opacity:0; transform:scale(0.7);visibility:hidden}
}
.calendar_wrap .react-google-flight-datepicker .dialog-date-picker {
	z-index:120; top:-2px; left:-2px;
	width:770px; min-width:200px; height:max-content; margin-bottom:50px;
	border-radius:5px; background:#fff; opacity:0;
	transform-origin:top left;transform:scale(0)
}
.calendar_wrap .react-google-flight-datepicker .dialog-date-picker.single {width:385px}
.calendar_wrap .react-google-flight-datepicker .dialog-date-picker.open {animation:showPopup .2s forwards}
.calendar_wrap .react-google-flight-datepicker .dialog-date-picker.hide {animation:hidePopup .2s forwards}
.calendar_wrap .react-google-flight-datepicker .dialog-header {
	display:flex;
	padding:8px 8px 8px 24px;
	justify-content:space-between;align-items:center
}
.calendar_wrap .react-google-flight-datepicker .dialog-header .date-picker-input {height:48px; width:50%}
.calendar_wrap .react-google-flight-datepicker .date:focus,.react-google-flight-datepicker .date.is-focus {background-color:#f4f8ff}
.calendar_wrap .react-google-flight-datepicker .date:focus::after,.react-google-flight-datepicker .date.is-focus::after {
	position:absolute; top:0; left:0; right:0; bottom:0;
	margin:-1px;
	border:2px solid #1a73e8; border-radius:4px;
	content:"";
	pointer-events:none;z-index:5
}
.calendar_wrap .react-google-flight-datepicker .back-button {display:none}
.calendar_wrap .react-google-flight-datepicker .dialog-content {
	position:relative
}
.calendar_wrap .react-google-flight-datepicker .reset-button {
	height:36px; padding:0 8px;
	border:none; border-radius:4px;
	color:#5f6368; font-size:.9rem;
	min-width:64px
}
.calendar_wrap .react-google-flight-datepicker .reset-button:hover {background-color:#fafafa}
.calendar_wrap .react-google-flight-datepicker .reset-button.mobile {display:none}
.calendar_wrap .react-google-flight-datepicker .calendar-wrapper {margin:12px 38px 8px; overflow:hidden; min-height:353px}
.calendar_wrap .react-google-flight-datepicker .calendar-wrapper.single {margin-left:36px; margin-right:36px}
.calendar_wrap .react-google-flight-datepicker .calendar-content {display:flex; position:relative; padding:0 2px; overflow:hidden}
.calendar_wrap .react-google-flight-datepicker .calendar-content.isAnimating {transition:transform .2s ease;overflow:initial}
.calendar_wrap .react-google-flight-datepicker .month-calendar {width:308px; color:#3c4043; margin-right:43px}
.calendar_wrap .react-google-flight-datepicker .month-calendar.hidden {visibility:hidden; position:absolute; z-index:-1; opacity:0}
.calendar_wrap .react-google-flight-datepicker .month-calendar.isAnimating {position:absolute; left:-350px}
.calendar_wrap .react-google-flight-datepicker .month-calendar.single {margin-right:39px}
.calendar_wrap .react-google-flight-datepicker .month-name {font-size:16px; text-align:center; margin-bottom:10px}
.calendar_wrap .react-google-flight-datepicker .weekdays {width:100%; color:rgba(0,0,0,.54); font-size:.9rem; display:flex}
.calendar_wrap .react-google-flight-datepicker .weekdays .weekday {
	display:flex;
	height:36px; margin:0;
	align-items:center;justify-content:center;flex-grow:1
}
.calendar_wrap .react-google-flight-datepicker .week {display:flex; justify-content:flex-start}
.calendar_wrap .react-google-flight-datepicker .week.first {justify-content:flex-end}
.calendar_wrap .react-google-flight-datepicker .day {
	display:flex; position:relative;
	width:44px; height:44px; margin:2px 0;
	text-align:center; vertical-align:top; cursor:pointer;
	justify-content:center;align-items:flex-start; padding-top:5px; border-radius:50%
}
.calendar_wrap .react-google-flight-datepicker .day .background-day {
	position:absolute; top:0; bottom:0;
	width:10px;
	opacity:0;
	pointer-events:none;z-index:1
}
.calendar_wrap .react-google-flight-datepicker .day::after {
	position:absolute; top:0; left:0; right:0; bottom:0;
	width:40px; height:40px; margin:auto;
	border-radius:100%;
	content:"";
	z-index:2
}
.calendar_wrap .react-google-flight-datepicker .day:hover::after {
	left:-2px; right:-2px; bottom:-2px; background-color:#ECEEF0;	top:-2px
}
.calendar_wrap .react-google-flight-datepicker .day.selected {color:#fff}
.calendar_wrap .react-google-flight-datepicker .day.selected.highlight .text-day{font-weight:400}
.calendar_wrap .react-google-flight-datepicker .day.selected:hover {color:#000}
.calendar_wrap .react-google-flight-datepicker .day.selected::after {background-color:#50555C; border-radius:100%}
.calendar_wrap .react-google-flight-datepicker .day.selected:hover::after {background-color:#fff}
.calendar_wrap .react-google-flight-datepicker .day.highlight .text-day{font-weight:700}
.calendar_wrap .react-google-flight-datepicker .day.highlight::before {
	position:absolute; top:50%; left:50%;
	width:40px; height:40px;
	content:"";
	transform:translate(-50%, -50%);border-radius:50%
}
.calendar_wrap .react-google-flight-datepicker .day.hovered {background-color:#ECEEF0; border-radius:unset}
.calendar_wrap .react-google-flight-datepicker .day.hovered .background-day {opacity:1}
.calendar_wrap .react-google-flight-datepicker .day.hovered.end {
	background:linear-gradient(90deg, #ECEEF0 50%, #fff 50%)
}
.calendar_wrap .react-google-flight-datepicker .day.hovered:hover {background-color:#ECEEF0}
.calendar_wrap .react-google-flight-datepicker .day.hovered:hover::after {border-radius:100%; background-color:#fff}
.calendar_wrap .react-google-flight-datepicker .day.selected.hovered {
	background:linear-gradient(90deg, #fff 50%, #ECEEF0 50%);
	color:#fff
}
.calendar_wrap .react-google-flight-datepicker .day.selected.hovered.end {
	background:linear-gradient(90deg, #ECEEF0 50%, #fff 50%)
}
.calendar_wrap .react-google-flight-datepicker .day.selected.hovered:hover {color:#000}
.calendar_wrap .react-google-flight-datepicker .day.selected.hovered::after {border-radius:100%; background-color:#50555C}
.calendar_wrap .react-google-flight-datepicker .day.selected.hovered:hover::after {background-color:#fff}
.calendar_wrap .react-google-flight-datepicker .day.disabled {pointer-events:none;color:#D4D7DC}
.calendar_wrap .react-google-flight-datepicker .day.disabled.selected {color:#fff}
.calendar_wrap .react-google-flight-datepicker .day .text-day {position:relative; z-index:3}
.calendar_wrap .react-google-flight-datepicker .calendar-flippers {
	display:flex; position:absolute; top:0; left:0; right:0; bottom:0;
	justify-content:space-between;align-items:center;pointer-events:none
}
.calendar_wrap .react-google-flight-datepicker .flipper-button {
	display:flex;
	width:40px; height:40px; margin:0 -20px;
	border-radius:100%; background-color:#fff; box-shadow:0 0 4px rgba(0,0,0,.12),0 4px 4px rgba(0,0,0,.24);
	cursor:pointer;
	justify-content:center;align-items:center;pointer-events:all
}
.calendar_wrap .react-google-flight-datepicker .flipper-button svg {width:24px; height:24px}
.calendar_wrap .react-google-flight-datepicker .flipper-button.disabled {cursor:default}
.calendar_wrap .react-google-flight-datepicker .flipper-button.disabled svg {fill:#93989e}
.calendar_wrap .react-google-flight-datepicker .dialog-footer {
	display:flex;
	align-items:center;flex-direction:row-reverse;padding:8px
}
.calendar_wrap .react-google-flight-datepicker .dialog-footer .submit-button {
	min-width:88px; height:36px; padding:10px 8px;
	border:none; border-radius:8px; background:#50555C;
	color:#fff; font-size:.9rem; font-weight:500; text-transform:uppercase; line-height:16px;
	cursor:pointer
}
@media screen and (max-width:768px) {
  .calendar_wrap .react-google-flight-datepicker .date-picker-demo {width:100%}
  .calendar_wrap .react-google-flight-datepicker .date-picker-input {height:40px; border:none; border-radius:0; position:relative}
  .calendar_wrap .react-google-flight-datepicker .date {padding:0 10px; border:1px solid #dadce0; border-radius:5px; flex-grow:1}
  .calendar_wrap .react-google-flight-datepicker .date:nth-child(2) {margin-left:10px}
  .calendar_wrap .react-google-flight-datepicker .date.is-focus {height:40px}
  .calendar_wrap .react-google-flight-datepicker .date:first-child::before {display:none}
  .calendar_wrap .react-google-flight-datepicker .icon-calendar {display:none}
  .calendar_wrap .react-google-flight-datepicker .icon-calendar.mobile {display:block}
  .calendar_wrap .react-google-flight-datepicker .reset-button {display:none}
  .calendar_wrap .react-google-flight-datepicker .reset-button.mobile {display:block; min-width:88px; color:rgba(0,0,0,.87); font-weight:500}
  .calendar_wrap .react-google-flight-datepicker .change-date-group,.calendar_wrap .react-google-flight-datepicker .divider,.calendar_wrap .react-google-flight-datepicker .calendar-flippers,.calendar_wrap .react-google-flight-datepicker .weekdays {display:none}
  .calendar_wrap .react-google-flight-datepicker .back-button {
    display:block;
    width:56px; height:100%; margin-right:16px;
    padding:0
  }
  .calendar_wrap .react-google-flight-datepicker .back-button svg {width:20px; height:20px; fill:rgba(0,0,0,.7)}
  .calendar_wrap .react-google-flight-datepicker .dialog-date-picker {
    display:flex; top:100%; left:0; right:0;
    width:100%; height:100%; max-height:100%;
    border-radius:0; opacity:1;
    flex-direction:column;transform:none;z-index:999999999
  }
  .calendar_wrap .react-google-flight-datepicker .dialog-date-picker.open {
    transition:all .2s ease-out;transform:translate(0, -100%);animation:none
  }
  .calendar_wrap .react-google-flight-datepicker .dialog-date-picker.hide {transition:all .2s ease-in;transform:translate(0, 0);animation:none}
  .calendar_wrap .react-google-flight-datepicker .dialog-header {
    padding:8px;
    z-index:50
  }
  .calendar_wrap .react-google-flight-datepicker .dialog-header .date-picker-input {height:40px; width:100%}
  .calendar_wrap .react-google-flight-datepicker .dialog-content {overflow:hidden; border:none; height:100%}
  .calendar_wrap .react-google-flight-datepicker .calendar-wrapper {height:100%; margin:0; display:flex}
  .calendar_wrap .react-google-flight-datepicker .calendar-content {
    width:100%; height:100%; padding:0;
    flex-direction:column;flex-grow:1
  }
  .calendar_wrap .react-google-flight-datepicker .weekdays.mobile {display:none; background-color:#f3f3f3}
  .calendar_wrap .react-google-flight-datepicker .month-calendar {display:flex; width:100%; flex-direction:column}
  .calendar_wrap .react-google-flight-datepicker .day {width:14.2857142857%; max-width:14.2857142857%}
  .calendar_wrap .react-google-flight-datepicker .day.selected:hover,.calendar_wrap .react-google-flight-datepicker .day.hovered:hover {color:#fff !important}
  .calendar_wrap .react-google-flight-datepicker .day.selected:hover::after,.calendar_wrap .react-google-flight-datepicker .day.hovered:hover::after {background-color:#50555C !important}
  .calendar_wrap .react-google-flight-datepicker .month-name {
    margin-top:25px; margin-bottom:0px; margin-left:10px;
    text-align:left;
    font-weight:bold
  }
  .calendar_wrap .react-google-flight-datepicker .dialog-footer {
    box-shadow:0 0 4px rgba(0,0,0,.12),0 4px 4px rgba(0,0,0,.24);
    padding:15px 8px
  }
} */
