@import url('https://webfontworld.github.io/pretendard/Pretendard.css');
/***** s : common *****/
html,
body {
  color: #2e3033;
  font-size: 16px;
  height: 100%;
}
.loading_wrap {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}
.loading_wrap svg {
  margin-top: -48px;
}
.loading_wrap .txt {
  position: absolute;
  bottom: calc(50% - 72px);
  left: 50%;
  transform: translate(-50%);
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.04);
}
.mo_wrap label,
.mo_wrap .label {
  display: inline-block;
  color: #2e3033;
}
.mo_wrap input,
.mo_wrap select,
.mo_wrap textarea,
.mo_wrap button {
  color: #50555c;
  outline: none;
}
.mo_wrap ::placeholder {
  color: #d4d7dc;
  font-weight: 400;
}
a {
  outline: none;
}
.mo_wrap input:disabled,
.mo_wrap input:read-only,
.mo_wrap textarea:disabled,
.mo_wrap textarea:read-only {
  color: #b5b9c0;
  font-weight: 400;
}
.mo_wrap input {
  padding: 11px 16px 13px 16px;
}
.mo_wrap textarea {
  padding: 16px;
}
*:disabled {
  opacity: 1;
}

.clearfix:after {
  content: ' ';
  display: table;
  clear: both;
}
.blind {
  position: absolute;
  left: -9999px;
  top: 0;
  height: 0;
  font-size: 1px;
  line-height: 0;
  text-indent: -9999em;
  overflow: hidden;
}
.go_view {
  /* background-color:rgba(0,0,0,0.3); */
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
* {
  -webkit-tap-highlight-color: transparent;
}
input[type='search'] {
  -webkit-appearance: none;
}
.mo_wrap {
  height: 100%;
}
.mo_wrap button:disabled {
  background: red;
}
/***** e : common *****/
.mo_wrap html.scroll_hidden {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  padding-bottom: env(safe-area-inset-bottom);
  padding-bottom: constant(safe-area-inset-bottom);
}
.mo_wrap html.scroll_hidden body {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
.mo_wrap .wrap {
  max-width: 480px;
  margin: 0 auto;
  background: #f7f7f9;
  min-height: 100%;
}
.mo_wrap .bg_gray {
  background: #f7f7f9;
}
.mo_wrap .bg_white {
  background: #fff !important ;
}
.mo_wrap .ov_x {
  overflow-x: auto;
  overflow-y: hidden;
  margin-right: -20px;
  flex-wrap: nowrap !important;
}
.mo_wrap .ov_x li:last-child {
  margin-right: 0;
}

/* header */
.mo_wrap .bg_white > header {
  background: #fff !important ;
}
.mo_wrap .main_wrap .header,
.mo_wrap .header.fixed {
  position: relative;
  background: transparent;
}
.mo_wrap .header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: 48px;
  background: #f7f7f9;
  z-index: 20;
}
.mo_wrap .header + .tab_wrap {
  position: sticky;
  max-width: 480px;
  top: 48px;
  background: #f7f7f9;
  padding-bottom: 10px;
  margin-bottom: -10px;
  z-index: 10;
}
.mo_wrap .header + .main_tit {
  margin-top: 40px;
}
.mo_wrap .header .nav_wrap {
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  height: 48px;
  align-items: center;
}
.mo_wrap .header .nav_wrap .ico_back {
  display: block;
  width: 24px;
  height: 24px;
}
.mo_wrap .header .nav_wrap h2 {
  display: block;
  font-size: 16px;
  margin-left: 4px;
}
.mo_wrap .header .nav_wrap a + h2 {
  margin-left: 20px;
}
.mo_wrap .header .side_menu {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}
.mo_wrap .header .side_menu a {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 16px;
  vertical-align: middle;
}
.mo_wrap .header .side_menu .blue_label {
  font-size: 11px;
  padding: 5px 10px;
  background: #4c84fa;
  color: #fff;
  text-align: center;
  border-radius: 11px;
}
.mo_wrap .header .side_menu .blue_label em {
  font-weight: 700;
}
.mo_wrap .header .sch_wrap {
  width: 100%;
  margin: 0 56px;
  height: 36px;
  line-height: 33px;
  padding: 0 24px;
  background: #d4d7dc;
  border-radius: 28px;
  text-align: center;
  box-sizing: border-box;
}
.mo_wrap .header .sch_wrap span {
  background: #d4d7dc;
  border-radius: 28px;
  height: 36px;
  border: 0;
  font-size: 12px;
  line-height: 18px;
  color: #3e4146;
}
.mo_wrap .header .sch_wrap span::before {
  display: inline-block;
  vertical-align: middle;
  content: '';
  width: 16px;
  height: 16px;
  background: url(../img/common/ico_place_gr_16x16.png) no-repeat center / contain;
  margin-right: 2px;
}
.mo_wrap .header .brand {
  display: inline-block;
  width: 76px;
  height: 38px;
  vertical-align: middle;
  background: url(../img/common/sk_logo.png) no-repeat center;
  background-size: contain;
  text-indent: -10000px;
  position: relative;
  left: 12px;
}
.mo_wrap .main_wrap .header .brand {
  margin-left: -20px;
  position: static;
}

.mo_wrap .main_wrap .header {
  padding: 5px 0;
}
.mo_wrap .main_wrap .header .side_menu {
  right: 0;
}

.mo_wrap .header.pass {
  background: #ff3a4a !important;
  height: 70px;
}
.mo_wrap .header.pass .nav_wrap img {
  width: 70px;
}
.mo_wrap .header.pass .ico_close {
  background-image: url(../img/common/ico_close_w_12x12.png);
  background-size: 12px;
}

.mo_wrap .ico_back {
  background: url(../img/common/ico_back_24x24.png) no-repeat center / contain;
}
.mo_wrap .ico_menu {
  background: url(../img/common/ico_menu_28x28.png) no-repeat center / contain;
}
.mo_wrap .ico_share {
  background: url(../img/common/ico_share_24x24.png) no-repeat center / contain;
}
.mo_wrap .ico_close {
  background: url(../img/common/ico_close_24x24.png) no-repeat center / contain;
}
.mo_wrap .header .side_menu a.btn_res {
  width: 80px;
  height: 30px;
  padding: 0 10px 0 28px;
  line-height: 28px;
  text-align: center;
  background: url(../img/common/ico_res.png) no-repeat 10px center / 16px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
  color: #50555c;
  border: 1px solid #50555c;
  margin-left: 6px;
}
.mo_wrap .header .side_menu a.btn {
  width: auto;
  height: 30px;
  padding: 0 10px;
  line-height: 28px;
  text-align: center;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
  color: #50555c;
  border: 1px solid #50555c;
}
/* footer */
.mo_wrap .footer_wrap {
  padding: 32px 32px 80px;
  color: #50555c;
}
.mo_wrap .footer_wrap > .tit {
  font-size: 14px;
  margin: 28px 0;
}
.mo_wrap .footer_wrap .banner_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -6px -5px;
}
.mo_wrap .footer_wrap .banner_wrap li {
  width: calc(50% - 10px);
  margin: 6px 5px;
}
.mo_wrap .footer_wrap .banner_wrap a {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eceef0;
  background: #ffffff;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  padding: 12px;
}
.mo_wrap .footer_wrap .banner_wrap img {
  width: 32px;
  height: 32px;
  margin-right: 6px;
}
.mo_wrap .footer_wrap .banner_wrap .cont_wrap em {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}
.mo_wrap .footer_wrap .banner_wrap .cont_wrap em b {
  color: #fa4e29;
}
.mo_wrap .footer_wrap .banner_wrap .cont_wrap span {
  display: block;
  font-size: 10px;
  line-height: 12px;
  color: #858b93;
}
.mo_wrap .footer_wrap .footer .logo {
  width: 78px;
  height: 40px;
}

.mo_wrap .main_wrap .footer_wrap {
  background: #f7f7f9;
  margin: 0 -32px;
}
.mo_wrap .main_wrap .footer_wrap .footer {
  margin-top: 90px;
}

.mo_wrap .footer_info_btn {
  position: relative;
  width: 72px;
  padding: 6px 20px 6px 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  color: #50555c;
  cursor: pointer;
  margin-top: 10px;
}
.mo_wrap .footer_info_btn::after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  content: '';
  width: 12px;
  height: 12px;
  background: url(../img/common/ico_chevronB_12x12.png) no-repeat center;
  background-size: 12px;
}
.mo_wrap .footer_info_btn.open::after {
  transform: translateY(-50%) rotate(180deg);
}

.mo_wrap .footer_wrap .footer .footer_terms {
  display: flex;
  font-size: 12px;
  line-height: 18px;
  margin: 15px -12px 0;
} /* 2023-05-18 font-weight 삭제 */
.mo_wrap .footer_wrap .footer .footer_terms li a {
  position: relative;
  padding: 0 12px;
}
.mo_wrap .footer_wrap .footer .footer_terms li a::after {
  display: inline-block;
  content: '';
  width: 1px;
  height: 5px;
  background: #50555c;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.mo_wrap .footer_wrap .footer .footer_terms li:last-child a:after {
  display: none;
}
.mo_wrap .footer_wrap .footer .footer_terms li:last-child {
  margin-right: 0;
}
.mo_wrap .footer_wrap .footer .footer_terms li:nth-child(2) {
  font-weight: 700;
} /* 2023-05-18 추가 */

.mo_wrap .footer_wrap .footer .footer_info {
  display: none;
  margin-top: 6px;
}
.mo_wrap .footer_wrap .footer .footer_info li {
  font-size: 12px;
  line-height: 18px;
}
.mo_wrap .footer_wrap .footer .footer_info li + li {
  margin-top: 4px;
}
.mo_wrap .footer_wrap .footer .footer_info li span {
  margin-right: -4px;
}
.mo_wrap .footer_wrap .footer .footer_info li em {
  margin-left: 8px;
}
.mo_wrap .footer_wrap .footer .footer_info li .bar:after {
  content: '';
  display: inline-block;
  margin: 0 8px;
  background-color: #b5b9c0;
  width: 1px;
  height: 10px;
  vertical-align: -1px;
}

.mo_wrap .footer_wrap .footer .link_wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.mo_wrap .footer_wrap .footer .link_wrap .sns {
  display: flex;
  flex-wrap: wrap;
  margin-top: -8px;
}
.mo_wrap .footer_wrap .footer .link_wrap .sns li {
  margin-right: 8px;
  margin-top: 8px;
}
.mo_wrap .footer_wrap .footer .link_wrap .sns li a:before {
  content: '';
  display: block;
  width: 28px;
  height: 28px;
}
.mo_wrap .footer_wrap .footer .link_wrap .sns li.youtube a:before {
  background: url(../img/common/ico_youtube.png) center / 28px;
}
.mo_wrap .footer_wrap .footer .link_wrap .sns li.blog a:before {
  background: url(../img/common/ico_blog.png) center / 28px;
}
.mo_wrap .footer_wrap .footer .link_wrap .sns li.facebook a:before {
  background: url(../img/common/ico_facebook.png) center / 28px;
}
.mo_wrap .footer_wrap .footer .link_wrap .sns li.instar a:before {
  background: url(../img/common/ico_instar.png) center / 28px;
}
.mo_wrap .footer_wrap .footer .link_wrap .sns li.naver a:before {
  background: url(../img/common/ico_naver.png) center / 28px;
}
.mo_wrap .footer_wrap .footer .link_wrap .sns li.tstory a:before {
  background: url(../img/common/ico_tstory.png) center / 28px;
}
.mo_wrap .footer_wrap .footer .link_wrap .sns {
  font-size: 11px;
  color: #858b93;
}
.mo_wrap .footer_wrap .footer .select_wrap {
  position: relative;
  width: 111px;
  height: 30px;
  font-size: 12px;
  background: #ffffff;
  border-radius: 20px;
}
.mo_wrap .footer_wrap .footer .select_wrap select {
  width: 111px;
  height: 30px;
  font-size: 12px;
  padding: 0 28px 0 12px;
  box-sizing: border-box;
}
.mo_wrap .footer_wrap .footer .select_wrap:after {
  content: '';
  position: absolute;
  top: 8px;
  right: 10px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/common/ico_chevronB_16x16.png) center right / 16px;
}
.mo_wrap .footer_wrap .footer .copyright {
  font-size: 11px;
  line-height: 16px;
  color: #858b93;
  margin-top: 12px;
}

/* LEFTMENU */
.mo_wrap .layerPopup.leftmenu .layerPopup_wrap.full {
  width: 80%;
  margin-left: 20%;
  min-width: auto;
  background: #fff;
  animation: layerPopRightAnimation 0.2s;
  animation-timing-function: ease-out;
}
.mo_wrap .layerPopup.leftmenu .layerPopup_wrap.close {
  animation: layerPopRightCloseAnimation 0.2s;
  animation-timing-function: ease-out;
}
.mo_wrap .layerPopup.leftmenu .layerPopup_content {
  padding: 0;
  background: #fff;
}
.mo_wrap .layerPopup.leftmenu .layerPopup_heading {
  padding: 0 !important;
  border: 0;
}
.mo_wrap .layerPopup.leftmenu .layerPopup_heading .profile_cont {
  padding: 0 24px 20px 24px;
  margin-top: 48px;
  margin-bottom: -20px;
  background: #fff;
}
.mo_wrap .layerPopup.leftmenu .layerPopup_heading .profile_cont a {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 44px 20px 24px;
  background: #fff;
  border: 1px solid #50555c;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}
.mo_wrap .layerPopup.leftmenu .profile_cont a:after {
  position: absolute;
  right: 20px;
  top: 23px;
  width: 16px;
  height: 16px;
  display: block;
  content: '';
  background: url(../img/common/ico_chevronR_grey_24x24.png) no-repeat center;
  background-size: 24px;
}
.mo_wrap .layerPopup.leftmenu .layerPopup_heading .profile_cont .name {
  font-size: 16px;
  line-height: 24px;
}
.mo_wrap .layerPopup.leftmenu .layerPopup_heading .profile_cont .desc {
  font-size: 12px;
  line-height: 18px;
  color: #50555c;
  margin-top: 4px;
  word-break: keep-all;
}
.mo_wrap .layerPopup.leftmenu .majormenu_wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 8px;
  border-bottom: 1px solid #eceef0;
}
.mo_wrap .layerPopup.leftmenu .majormenu_wrap li {
  width: calc(100% / 3);
}
.mo_wrap .layerPopup.leftmenu .majormenu_wrap li a {
  display: block;
  text-align: center;
  padding: 24px 0;
  font-size: 12px;
  line-height: 18px;
}
.mo_wrap .layerPopup.leftmenu .majormenu_wrap li a:before {
  content: '';
  display: block;
  width: 100%;
  height: 32px;
  margin-bottom: 6px;
}
.mo_wrap .layerPopup.leftmenu .majormenu_wrap li.res01 a:before {
  background: url('../img/common/ico_res01_32x32.png') no-repeat center / 32px;
}
.mo_wrap .layerPopup.leftmenu .majormenu_wrap li.res02 a:before {
  background: url('../img/common/ico_res02_32x32.png') no-repeat center / 32px;
}
.mo_wrap .layerPopup.leftmenu .majormenu_wrap li.cs a:before {
  background: url('../img/common/ico_cs_32x32.png') no-repeat center / 32px;
}
.mo_wrap .layerPopup.leftmenu .menu_wrap {
  padding: 16px 0 36px;
}
.mo_wrap .layerPopup.leftmenu .menu_wrap a {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 32px;
}
.mo_wrap .layerPopup.leftmenu .menu_wrap li.new a:after {
  display: block;
  content: '';
  width: 5px;
  height: 5px;
  background: #fa4e29;
  border-radius: 50%;
  color: #fff;
  margin-left: 2px;
  text-indent: -9999px;
  position: relative;
  top: -8px;
}
.mo_wrap .layerPopup.leftmenu .menu_wrap li.outlink a:after {
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  background: url(../img/common/ico_download.png);
  margin-left: 5px;
  margin-bottom: 5px;
  background-size: 16px;
}
.mo_wrap .layerPopup.leftmenu .layerPopup_content .banner {
  line-height: 0;
  position: relative;
}
.mo_wrap .layerPopup.leftmenu .layerPopup_content .banner .banner_slider {
  display: flex;
}
.mo_wrap .layerPopup.leftmenu .layerPopup_content .banner .banner_slider li {
  width: 100%;
  flex-shrink: 0;
}
.mo_wrap .layerPopup.leftmenu .layerPopup_content .banner .slick-dots {
  position: absolute;
  right: 30px;
  bottom: 12px;
  z-index: 10;
}
.mo_wrap .layerPopup.leftmenu .layerPopup_content .banner .slick-dots li {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #fff;
  opacity: 0.3;
  border-radius: 50%;
}
.mo_wrap .layerPopup.leftmenu .layerPopup_content .banner .slick-dots li ~ li {
  margin-left: 5px;
}
.mo_wrap .layerPopup.leftmenu .layerPopup_content .banner .slick-dots li.slick-active {
  border-radius: 3px;
  opacity: 1;
  width: 20px;
}
.mo_wrap .layerPopup.leftmenu .layerPopup_content .banner .slick-dots li button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.mo_wrap .layerPopup.leftmenu .layerPopup_content .banner img {
  width: 100%;
}
.mo_wrap .layerPopup.leftmenu .layerPopup_content .infocenter_wrap {
  height: 142px;
  padding: 24px 24px 32px 32px;
  background: #eceef0 url(../img/common/leftmenu_bg.png) no-repeat top -72px right -65px/ 283px 226px;
}
.mo_wrap .layerPopup.leftmenu .layerPopup_content .infocenter_wrap .info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.mo_wrap .layerPopup.leftmenu .layerPopup_content .infocenter_wrap .info img {
  width: 64px;
}
.mo_wrap .layerPopup.leftmenu .layerPopup_content .infocenter_wrap .info .tel {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0 12px;
  background: #50555c;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  font-size: 12px;
  font-weight: 700;
}
.mo_wrap .layerPopup.leftmenu .layerPopup_content .infocenter_wrap .info .tel:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/common/icon_infocenter.png) no-repeat center / 20px;
  margin-right: 4px;
}
.mo_wrap .layerPopup.leftmenu .layerPopup_content .infocenter_wrap .txt {
  font-size: 12px;
  line-height: 18px;
  color: #50555c;
  margin-top: 4px;
}
.mo_wrap .layerPopup.leftmenu .layerPopup_content .infocenter_wrap .txt em {
  font-weight: 700;
  color: #2e3033;
  margin-right: 12px;
}

/* SUB */
.mo_wrap .sub_wrap {
  position: relative;
  height: 100%;
  padding-bottom: 80px;
}
.mo_wrap .sub_wrap .sub_cont {
  position: relative;
  padding: 40px 20px;
  margin-top: 12px;
}
.mo_wrap .sub_wrap .sub_cont:first-child {
  padding-top: 32px;
  margin-top: 0;
}
.mo_wrap .sub_wrap .sub_cont:last-child {
  padding-bottom: 0;
}
.mo_wrap .sub_wrap .sub_cont + .sub_cont:before {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 10px;
  background: #eceef0;
}
.mo_wrap .sub_tit {
  margin-bottom: 16px;
}
.mo_wrap .sub_tit.type01 {
  display: flex;
  justify-content: space-between;
}
.mo_wrap .sub_tit h3 {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  padding-left: 4px;
}
.mo_wrap .sub_tit h3.major:after {
  content: '';
  position: absolute;
  top: -1px;
  right: -8px;
  width: 5px;
  height: 5px;
  display: block;
  background: #fa4e29;
  border-radius: 4px;
}
.mo_wrap .sub_tit h3 em {
  font-weight: normal;
  margin-left: 6px;
}
.mo_wrap .sub_tit .h3_desc {
  font-size: 14px;
  line-height: 22px;
  color: #50555c;
  margin-top: 8px;
  padding-left: 4px;
}
.mo_wrap .sub_tit h3 + .h3_desc {
  margin-top: 2px;
}
.mo_wrap .sub_cont .sub_tit .h3_desc_12 {
  font-size: 12px;
  line-height: 18px;
  color: #858b93;
  margin-top: 4px;
  padding-left: 4px;
  margin-bottom: 24px;
}
.mo_wrap .sub_tit.type02 {
  text-align: center;
  padding: 16px 0;
}
.mo_wrap .sub_tit i {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: -2px;
  vertical-align: middle;
  margin-right: 6px;
}
.mo_wrap .sub_tit i img {
  width: 100%;
}

/* SUB type01*/
.mo_wrap .sub_wrap.type01 {
  padding: 16px 20px 80px;
}
.mo_wrap .sub_wrap.type01 .sub_cont {
  padding: 24px 20px;
  background: #fff;
  border: 1px solid #eceef0;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
}
.mo_wrap .sub_wrap.type01 .sub_cont + .sub_cont:before {
  display: none;
}
.mo_wrap .sub_wrap.type01 .sub_cont.ty {
  padding: 20px;
}
.mo_wrap .con_wrap div > .tit {
  padding-left: 4px;
  color: #858b93;
  margin-bottom: 16px;
}
.mo_wrap .con_wrap div .data_none {
  text-align: center;
  margin-bottom: 8px;
  color: #858b93;
  font-size: 12px;
}

/*꺽쇠 있을경우*/
.mo_wrap .branch_serch .branch_wrap + .branch_wrap {
  margin-top: 12px;
}
.mo_wrap .branch_wrap a {
  position: relative;
  display: block;
  padding: 16px 52px 16px 20px;
  background: #fff;
  border: 1px solid #eceef0;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.02);
  border-radius: 8px;
}
.mo_wrap .branch_wrap a::after {
  position: absolute;
  right: 16px;
  top: 0;
  display: block;
  content: '';
  width: 16px;
  height: 100%;
  background: url(../img/common/ico_chevronR_grey02_16x16.png) no-repeat center;
  background-size: 16px;
}
/* common */
.mo_wrap .branch_wrap p + p {
  margin-top: 2px;
}
.mo_wrap .branch_wrap .tit {
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
}
.mo_wrap .branch_wrap .stit {
  font-size: 12px;
  line-height: 18px;
  margin-top: 8px;
}
.mo_wrap .branch_wrap .txt {
  font-size: 12px;
  line-height: 18px;
  color: #858b93;
}

/* Form */
.mo_wrap .check_group .flex_item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.mo_wrap .check_group .flex_item + .flex_item {
  margin-top: 10px;
}
.mo_wrap .check_group .flex_item .btn_link {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-indent: -999rem;
  overflow: hidden;
}
.mo_wrap .check_group .flex_item .btn_link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  vertical-align: top;
  display: inline-block;
  background: url(../images/common/link_arr.png) no-repeat right 0;
  background-size: 20px 20px;
}
.mo_wrap .check_group .flex_item .btn_link.txt {
  all: unset;
  display: inline-block;
  font-size: 13px;
  line-height: 19px;
  color: #343a40;
}
.mo_wrap .check_group .block_item {
  display: block;
  width: 100%;
}
.mo_wrap .check_group .block_item + .block_item {
  margin-top: 10px;
}
.mo_wrap .check_group label,
.mo_wrap .check_group .label {
  word-break: keep-all;
}

.mo_wrap .form_row.alarm_list {
  display: block;
}
.mo_wrap .form_row.alarm_list .check_group .flex_item,
.mo_wrap .form_row.alarm_list .check_group > a {
  width: 25%;
  float: left;
  font-size: 12px;
}
.mo_wrap .form_row.alarm_list .check_group > a {
  line-height: 21px;
  text-align: right;
}
.mo_wrap .form_row.alarm_list .check_group .flex_item + .flex_item {
  margin-top: 0;
}
.mo_wrap .form_row.alarm_list .check_group:after {
  display: block;
  content: '';
  height: 0;
  clear: both;
}

/* input_box */
.mo_wrap .form_row {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  vertical-align: top;
}
.mo_wrap .form_row > .form_row {
  margin-top: 8px;
}
.mo_wrap .form_row + .form_row {
  margin-top: 38px;
}
.mo_wrap .form_row input[type='text'] + input[type='text'] {
  margin-top: 8px;
}
.mo_wrap .form_row input[type='text'] + .ico_wrap .btn_reset {
  width: 24px;
  height: 24px;
  display: block;
  background: url(../img/common/ico_clear_24x24.png) no-repeat center / 24px;
}
.mo_wrap .form_row + .form_row.form_split {
  border-top: 1px solid #d4d7dc;
  padding-top: 15px;
}
.mo_wrap .form_row .select_box {
  margin-top: 8px;
}
.mo_wrap .select_box.error select {
  border-color: #f71010;
}
.mo_wrap .form_row + .btn_group.form_row {
  margin-top: 15px !important;
}
.mo_wrap .form_row .form_label,
.mo_wrap .form_row.in_btn span .form_label {
  position: absolute;
  top: -18px;
  left: 0;
  color: #858b93;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  padding-left: 4px;
}
.mo_wrap .form_row .form_label .required_text {
  color: #d4d7dc;
} /* 2023-06-23 추가 */
.mo_wrap .form_row > .form_label .required::after {
  content: '*';
  font-size: 12px;
  line-height: 18px;
  color: #eb1515;
}
.mo_wrap .form_row .form_label + input,
.mo_wrap .form_row .form_label + textarea,
.mo_wrap .form_row .form_label + select,
.mo_wrap .form_row .form_label + .check_group {
  margin-top: 8px;
}
.mo_wrap .form_row input {
  height: 48px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #d4d7dc;
  border-radius: 8px;
}
.mo_wrap .form_row input:required {
  border: 1px solid #f71010;
}
.mo_wrap .form_row input:focus,
.mo_wrap .form_row textarea:focus,
.mo_wrap .form_row select:focus {
  border: 1px solid #212529;
  outline: none;
}
.mo_wrap .form_row input:disabled {
  color: #b5b9c0;
  border: 0 none !important;
  background: #f7f7f9;
}
.mo_wrap .form_row input:read-only {
  border: 1px solid #d4d7dc;
  background: #f7f7f9;
}
.mo_wrap .form_row .chk_box input {
  margin-top: 0;
} /* 2023-06-27 추가 */
.mo_wrap .form_row .chk_box input:read-only {
  background: #fff;
} /* 2023-06-27 추가 */
.mo_wrap .form_row .ico_wrap {
  position: absolute;
  top: 20px;
  right: 14px;
}
.mo_wrap .form_row.error input,
.mo_wrap .form_row.error textarea {
  border-color: #f71010;
} /* 2023-05-22 textarea error시 border-color 수정 */
.mo_wrap .form_row.error .ico_error {
  display: block;
  width: 24px;
  height: 24px;
  background: url('../img/common/ico_error_24x24.png') no-repeat center / 24px;
}
.mo_wrap .form_row.success input {
  border-color: #3bb000;
}
.mo_wrap .form_row.success .valid_box .txt {
  color: #3bb000;
}
.mo_wrap .form_row textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #d4d7dc;
  border-radius: 8px;
}
.mo_wrap .form_row textarea:disabled,
.mo_wrap .form_row textarea:read-only {
  background: #f7f7f9;
  color: #b5b9c0;
}
.mo_wrap .form_row textarea + .txt_count {
  position: absolute;
  bottom: 48px;
  right: 16px;
  color: #505050;
}
.mo_wrap .form_row.addr .inp {
  position: relative;
  width: 100%;
}
.mo_wrap .form_row.addr .inp input:required {
  background: #fff;
  border: 1px solid #d4d7dc;
  color: #50555c;
  cursor: default;
}

.mo_wrap .form_row.in_btn {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.mo_wrap .form_row.in_btn span {
  width: calc(100% - 98px);
  display: inline-block;
}
.mo_wrap .form_row.in_btn .btn {
  width: 90px;
  height: 48px;
  padding: 13px 10px 16px;
  font-size: 14px;
  line-height: 19px;
  color: #212529;
  margin-left: 8px;
  background: #fff;
  border: 1px solid #50555c;
  border-radius: 8px;
  text-align: center;
}
.mo_wrap .form_row.in_btn .btn.type02 {
  background: #50555c;
  color: #fff;
}
.mo_wrap .form_row.in_btn .valid_box {
  width: 100%;
}
.mo_wrap .form_row.in_btn.error span {
  position: relative;
}
.mo_wrap .form_row.in_btn.error span > label {
  position: absolute;
  top: -18px;
  left: 0;
  color: #89909a;
  font-size: 14px;
  line-height: 18px;
  font-size: 12px;
}
.mo_wrap .form_row.in_btn span.clear {
  position: relative;
}
.mo_wrap .form_row.in_btn span.clear input {
  padding-right: 35px;
}
.mo_wrap .form_row.in_btn .btn + input {
  margin-top: 10px;
}
.mo_wrap .form_row span.clear .btn_reset {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 15px;
  right: 10px;
  background: url(../images/common/ico_reset.png) no-repeat 0 0;
  background-size: 20px 20px;
}

/* serch */
.mo_wrap .serch_wrap .form_row input {
  padding-right: 45px;
}
.mo_wrap .serch_wrap .form_row input::placeholder {
  color: #d4d7dc;
}
.mo_wrap .serch_wrap .form_row .btn_serch {
  width: 28px;
  height: 28px;
  display: block;
  position: absolute;
  top: 9px;
  right: 12px;
  background: url(../img/common/ico_sch_20x20.png) no-repeat center / 20px;
}
.mo_wrap .serch_wrap .form_row .btn_reset {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 10px;
  right: 36px;
  background: url(../img/common/ico_clear_24x24.png) no-repeat center / 24px;
  margin-right: 10px;
}

/* select_box */
.mo_wrap .select_box select {
  position: relative;
  display: block;
  width: 100%;
  height: 48px;
  padding: 14px 32px 15px 15px;
  box-sizing: border-box;
  border: 1px solid #d4d7dc;
  z-index: 2;
  color: #50555c;
  border-radius: 8px;
  background: #fff url(../img/common/ico_acoodw_b_20X20.png) no-repeat center right 15px / 20px;
}
.mo_wrap .select_box select:focus {
  border: 1px solid #495057;
  outline: none;
}
.mo_wrap .select_box select:disabled {
  color: #b8bdc5;
  border-color: #f7f7f9;
  opacity: 1;
  background: #f7f7f9 url(../img/common/ico_acoodw_d_20X20.png) no-repeat center right 15px / 20px;
}

/* valid txt*/
.mo_wrap .form_row .valid_box {
  overflow: hidden;
  padding: 4px 0 0 0;
}
.mo_wrap .form_row .valid_box .txt {
  float: left;
  font-size: 11px;
  color: #f71010;
  line-height: 17px;
}

/* chk_box */
.mo_wrap .chk_box {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.mo_wrap .chk_box label {
  display: block;
  padding: 1px 0 1px 30px;
  line-height: 18px;
  font-size: 14px;
  line-height: 22px;
  color: #50555c;
}

.mo_wrap .chk_box input[type='radio'],
.mo_wrap .chk_box input[type='checkbox'] {
  border: none;
  border-radius: 50%;
}
.mo_wrap .chk_box label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  z-index: 2;
  border-radius: 50%;
  box-sizing: border-box;
}
.mo_wrap .chk_box input[type='checkbox'] + label:before {
  background: url(../img/common/ico_chk_gray_24x24.png) no-repeat center / 24px;
}
.mo_wrap .chk_box input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: absolute;
  left: 0;
  top: 0;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
}
.mo_wrap .chk_box input:checked + label::before,
.mo_wrap .chk_box input:checked ~ label::before {
  height: 24px;
  background: url(../img/common/ico_chk_24x24.png) no-repeat center / 24px;
  border: 0 none;
}
.mo_wrap .chk_box input[type='radio'] + label:before {
  background: url(../img/common/ico_radio_gray_24x24.png) no-repeat center / 24px;
}
.mo_wrap .chk_box input[type='radio']:checked + label::before,
.mo_wrap .chk_box input[type='radio']:checked ~ label::before {
  background: url(../img/common/ico_radio_24x24.png) no-repeat center / 24px;
}
.mo_wrap .chk_box.type_btn {
  width: 100%;
  display: block;
  position: relative;
}
.mo_wrap .chk_box.type_btn input {
  display: none;
}
.mo_wrap .chk_box.type_btn label {
  width: 100%;
  padding: 14px 20px 15px;
  font-size: 13px;
  color: #868e96;
  text-align: center;
  line-height: 19px;
  background: #f8f9fa;
  vertical-align: middle;
  font-weight: 400;
  box-sizing: border-box;
  border: 1px solid #f8f9fa;
  border-radius: 8px;
}
.mo_wrap .chk_box.type_btn input:checked + label,
.mo_wrap .chk_box.type_btn input:checked ~ label {
  background: #fff;
  color: #212529;
  border: 1px solid #212529;
}
.mo_wrap .chk_box.type_btn label::before {
  content: none;
}

/* radio_group */
.mo_wrap .radio_group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.mo_wrap .radio_group > .chk_box {
  margin-left: 22px;
  box-sizing: border-box;
}
.mo_wrap .radio_group > .chk_box:first-child {
  margin-left: 0;
}

/* check_group */
.mo_wrap .check_group {
  width: 100%;
}
.mo_wrap .check_group > .chk_box {
  margin-left: 19px;
  box-sizing: border-box;
}
.mo_wrap .check_group > .chk_box:first-child {
  margin-left: 0;
}
.mo_wrap .check_group > .chk_box > input[type='checkbox'] {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
.mo_wrap .check_group.block_item + .check_group.block_item {
  margin-top: 10px;
}

/* btn_group */
.mo_wrap .btn_group {
  width: 100%;
}
.mo_wrap .btn_group.b_fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  padding: 10px 20px;
  padding-bottom: calc(env(safe-area-inset-bottom) + 34px);
  padding-bottom: calc(constant(safe-area-inset-bottom) + 34px);
  background: #fff;
  z-index: 100;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.02);
}
.mo_wrap .btn_group.b_fixed.type01 {
  background: #fff;
}
.mo_wrap .btn_group .btn {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  line-height: 56px;
  background: #fff;
  border-radius: 12px;
}
.mo_wrap .btn_group .btn.type01 {
  background: url('../img/common/btn_bg.jpg') no-repeat center / cover;
  color: #fff;
  z-index: 1;
}
.mo_wrap .btn_group .btn.type02 {
  background: #eceef0;
  border: 1px solid #e3e6ec;
  color: #50555c;
}
.mo_wrap .btn_group .btn.reset {
  position: relative;
  background: #eceef0;
  border: 1px solid #e3e6ec;
  color: #50555c;
  padding-left: 10px;
}
.mo_wrap .btn_group .btn.reset::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../img/common/ico_reset_24x24.png) no-repeat center;
  background-size: 24px;
  margin: -1px 5px 0 -15px;
  vertical-align: middle;
}

.mo_wrap .btn.disabled {
  background: #f7f7f9 !important;
  border-color: #f7f7f9 !important;
  color: #d4d7dc !important;
  pointer-events: none;
}
.mo_wrap .btn_group .btn.noraund {
  border-radius: unset;
}
.mo_wrap .btn_group .btn.half {
  padding: 3px 6px 3px;
  font-size: 11px;
  font-weight: 400;
  border: 1px solid #ced4da;
  border-radius: 4px;
}
.mo_wrap .btn_group .btn.btn_line {
  border: 1px solid #50555c;
}
.mo_wrap .btn_group .btn.btn_shadow {
  border: 1px solid #eceef0;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.04);
}

.mo_wrap .btn_group.multy {
  display: flex;
  box-sizing: border-box;
}
.mo_wrap .btn_group.multy .btn.type01 {
  background-position: 0 0;
}
.mo_wrap .btn_group.multy .btn:first-child {
  margin-right: 10px;
}
.mo_wrap .btn_group.multy.type01 .btn:first-child {
  width: 50%;
}

.mo_wrap .btn_group .cont_wrap {
  position: relative;
  height: 56px;
  margin-top: -10px;
}
.mo_wrap .btn_group.txt_ty {
  padding-bottom: 50px;
}
.mo_wrap .btn_group.txt_ty .txt {
  position: absolute;
  left: 0;
  top: 74px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  color: #858b93;
}
.mo_wrap .btn_group .txt02 {
  position: absolute;
  left: 0;
  top: -34px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  color: #858b93;
}
.mo_wrap .btn_group.grey_ty {
  width: calc(100% + 64px);
  padding: 30px 32px;
  background: #f7f7f9;
  margin: 0 -32px;
  box-sizing: border-box;
}

.mo_wrap .btn_group .btn + .btn {
  margin-top: 12px;
}
.mo_wrap .btn_group.multy .btn + .btn {
  margin-top: 0;
}

/* 카시트 */
.mo_wrap .btn_group .cont_wrap.car_seat {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #50555c;
}
.mo_wrap .btn_group .cont_wrap.car_seat img {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}
.mo_wrap .btn_group .cont_wrap.car_seat .plus {
  display: block;
  width: 14px;
  height: 14px;
  line-height: 12px;
  background: #50555c;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  margin: 0 14px;
}

.mo_wrap .btn_group .cont_wrap.car_info {
  padding-left: 68px;
}
.mo_wrap .btn_group .cont_wrap.car_info .car_info_img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 62px;
  height: 37px;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
}
.mo_wrap .btn_group .cont_wrap.car_info .car_info_img img {
  width: 100%;
}
.mo_wrap .btn_group .cont_wrap.car_info .name {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  padding-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mo_wrap .btn_group .cont_wrap.car_info .info {
  display: flex;
  align-items: center;
  margin-top: 2px;
}
.mo_wrap .btn_group .cont_wrap.car_info .place {
  font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;
  line-height: 16px;
}
.mo_wrap .btn_group .cont_wrap.car_info .date {
  font-size: 11px;
  line-height: 16px;
  padding-left: 7px;
  position: relative;
  margin-left: 4px;
  white-space: nowrap;
}
.mo_wrap .btn_group .cont_wrap.car_info .date::after {
  content: '';
  display: inline-block;
  width: 3px;
  height: 3px;
  background: #858b93;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.mo_wrap .btn_group .desc {
  color: #858b93;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  margin-top: 8px;
}

/* 탭 */
.mo_wrap .sub_wrap .tab_wrap {
  padding: 0;
}
.mo_wrap .tab_wrap {
  padding: 10px 0;
  overflow-x: auto;
}
.mo_wrap .tab_wrap .basic_tab {
  display: flex;
  padding: 0 24px;
}
.mo_wrap .tab_wrap .basic_tab li {
  position: relative;
  box-sizing: border-box;
  margin-right: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.mo_wrap .tab_wrap .basic_tab li:last-child {
  margin-right: 0;
}
.mo_wrap .tab_wrap .basic_tab.col_2 li {
  width: calc(100% / 2);
}
.mo_wrap .tab_wrap .basic_tab.col_3 li {
  width: calc(100% / 3);
}
.mo_wrap .tab_wrap .basic_tab.col_4 li {
  width: calc(100% / 4);
}
.mo_wrap .tab_wrap .basic_tab.scroll_tab {
  overflow-y: auto;
} /* 2023-08-16 추가 */

.mo_wrap .tab_wrap .basic_tab li a {
  width: 100%;
  display: block;
  padding: 6px 0;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  box-sizing: border-box;
  color: #b5b9c0;
}
.mo_wrap .tab_wrap .basic_tab li.on a {
  font-weight: 700;
  color: #2e3033;
}
.mo_wrap .tab_wrap .basic_tab li a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: block;
  content: '';
  border-bottom: 2px solid transparent;
}
.mo_wrap .tab_wrap .basic_tab li.on a::after {
  border-bottom-color: #50555c;
}

.mo_wrap .tab_wrap .basic_tab.type01 {
  position: relative;
  margin: -10px -4px 0;
}
.mo_wrap .tab_wrap .basic_tab.type01 li {
  margin: -1px 0 0 -1px;
}
.mo_wrap .tab_wrap .basic_tab.type01 li a {
  position: relative;
  padding: 9px 0;
}
.mo_wrap .tab_wrap .basic_tab.type01 li a::after {
  bottom: 0.5px;
  border-bottom: 1px solid #d4d7dc;
}
.mo_wrap .tab_wrap .basic_tab.type01 li.on a::after {
  bottom: 0;
  border-bottom: 2px solid #fa4e29;
}
.mo_wrap .tab_wrap .basic_tab.type01:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 16px;
  height: 16px;
  background: url(../img/common/ico_chevronR_grey02_16x16.png) no-repeat center / 16px;
}

/* 2023-06-12 부가용품 tab 추가 */
.mo_wrap .tab_wrap .basic_tab.progress_type {
  justify-content: space-between;
  flex-flow: row nowrap;
} /* 2023-07-04 수정 */
.mo_wrap .tab_wrap .basic_tab.progress_type li {
  margin-right: 0;
  position: relative;
  overflow: unset;
  flex-shrink: 1;
  flex-basis: 100%;
} /* 2023-07-04 수정 */
.mo_wrap .tab_wrap .basic_tab.progress_type li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 100%;
  transform: translateX(-50%);
  background: #f7f7f9 url(../img/common/ico_chevronR_grey02_16x16.png) no-repeat center / 16px;
  box-sizing: border-box;
}
.mo_wrap .tab_wrap .basic_tab.progress_type li.on a::before {
  border-bottom: 2px solid #fa4e29;
}
.mo_wrap .tab_wrap .basic_tab.progress_type li.on a::after {
  bottom: 0;
  border-bottom: 2px solid #fa4e29;
}
.mo_wrap .tab_wrap .basic_tab.progress_type li:first-child a::before {
  display: none;
}

/* 레이어 팝업 */
.mo_wrap .layerPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 500;
  animation: layerPopAnimation 0.5s;
}
.mo_wrap .layerPopup.open {
  display: flex;
}

.mo_wrap .layerPopup .layerPopup_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
  box-sizing: border-box;
  width: calc(100vw - 60px);
  max-width: 324px;
  min-width: 260px;
  max-height: 500px;
  background: #fff;
  border-radius: 24px;
}
.mo_wrap .layerPopup .layerPopup_heading {
  position: relative;
  padding: 16px 0 16px;
  border-bottom: 1px solid #eceef0;
  z-index: 2;
}
.mo_wrap .layerPopup .layerPopup_heading .heading {
  padding: 0 40px 0 15px;
  color: #2e3033;
  line-height: 22px;
  font-weight: 700;
  text-align: left;
}
.mo_wrap .layerPopup .layerPopup_heading .desc {
  margin-top: 8px;
  font-size: 12px;
  line-height: 18px;
}
.mo_wrap .layerPopup .layerPopup_heading .btn_close {
  position: absolute;
  top: 22px;
  right: 20px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  text-indent: -999rem;
  background: url(../img/common/ico_close_24x24.png) no-repeat center / 24px;
  outline: none;
  z-index: 2;
}

.mo_wrap .layerPopup .layerPopup_heading.bg {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.04);
  border-bottom: 1px solid #b5b9c0;
}
.mo_wrap .layerPopup .layerPopup_heading.bg + .layerPopup_content {
  background: #f7f7f9;
}
.mo_wrap .layerPopup .layerPopup_content {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: auto;
  padding: 32px 20px 30px;
  line-height: 18px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
  background: #f7f7f9;
}

.mo_wrap .layerPopup .layerPopup_bottom .btn_group .btn {
  border-radius: 0px 0px 16px 16px;
}
.mo_wrap .layerPopup .layerPopup_bottom .btn_group.multy {
  display: flex;
}
.mo_wrap .layerPopup .layerPopup_bottom .btn_group.multy .btn:first-child {
  margin-right: 5px;
}
.mo_wrap .layerPopup .layerPopup_bottom .btn_group.multy .btn:last-child {
  margin-left: 5px;
}

.mo_wrap .layerPopup .layerPopup_wrap.full {
  width: 100vw;
  height: 100%;
  max-width: none;
  max-height: none;
  border-radius: 0;
}
.mo_wrap .layerPopup .layerPopup_wrap.full .layerPopup_heading {
  padding: 16px 0 16px;
}
.mo_wrap .layerPopup .layerPopup_wrap.full .layerPopup_heading .heading {
  padding: 0 40px 0;
  text-align: center;
  font-size: 16px;
}
.mo_wrap .layerPopup .layerPopup_wrap.full .layerPopup_heading .btn_close {
  top: 12px;
}
.mo_wrap .layerPopup .layerPopup_wrap.full .layerPopup_bottom .btn_group .btn {
  border-radius: 8px;
}

.mo_wrap .layerPopup.alert .layerPopup_wrap {
  overflow: hidden;
  border-radius: 16px;
  width: 100%;
  max-width: 311px;
  margin: 0 32px;
}
.mo_wrap .layerPopup.alert .layerPopup_heading {
  min-height: 20px;
  height: 20px;
  margin: 10px 10px 0;
  padding-bottom: 0;
  border-bottom: none;
}
.mo_wrap .layerPopup.alert .layerPopup_content {
  min-height: 100px;
  padding: 40px 0 32px;
  font-size: 13px;
  color: #50555c;
  line-height: 19px;
  text-align: center;
  background: #fff;
  box-sizing: border-box;
}
.mo_wrap .layerPopup.alert .layerPopup_content .txt {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #2e3033;
}
.mo_wrap .layerPopup.alert .layerPopup_content .desc {
  font-size: 14px;
  line-height: 22px;
  margin-top: 8px;
}

.mo_wrap .layerPopup.bottom .layerPopup_content .no_result {
  padding: 24px 0;
  text-align: center;
  color: #2e3033;
  font-weight: 700;
}

/* 이미지 얼럿창 */
.mo_wrap .layerPopup.imgPop .layerPopup_content {
  padding: 32px 0 28px;
}
.mo_wrap .layerPopup.imgPop .layerPopup_content img {
  display: block;
  width: 64px;
  height: 64px;
  margin: 0 auto 16px;
}

.mo_wrap .layerPopup.alert.type01 .layerPopup_content {
  padding: 40px 20px 20px;
  overflow-y: hidden;
}
.mo_wrap .layerPopup.alert.type01 .layerPopup_content .btn_group {
  margin-top: 32px;
}
.mo_wrap .layerPopup.alert.type01 .layerPopup_content .btn_group .btn {
  height: 48px;
  line-height: 48px;
}
.mo_wrap .layerPopup.bottom {
  align-items: flex-end;
}
.mo_wrap .layerPopup.bottom.large .layerPopup_wrap {
  height: calc(100% - 92px);
}
.mo_wrap .layerPopup.bottom .layerPopup_wrap {
  width: 100%;
  max-width: 100%;
  max-height: 98%;
  animation: layerPopBottomAnimation 0.2s;
  animation-timing-function: ease-out;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.mo_wrap .layerPopup.bottom .layerPopup_wrap.close {
  animation: layerPopBottomCloseAnimation 0.2s;
  animation-timing-function: ease-in;
}
.mo_wrap .layerPopup.bottom .layerPopup_wrap.delivery_status {
  padding-bottom: 60px;
}
.mo_wrap .layerPopup.bottom .layerPopup_heading {
  padding: 20px;
}
.mo_wrap .layerPopup.bottom .layerPopup_heading .heading {
  font-size: 18px;
  padding-left: 4px;
}
.mo_wrap .layerPopup.bottom .layerPopup_heading .explain {
  padding: 0;
}
.mo_wrap .layerPopup.bottom .layerPopup_heading .explain.col_red {
  color: #f4594b;
}
.mo_wrap .layerPopup.bottom .layerPopup_heading .btn_close {
  top: 20px;
  right: 24px;
}
.mo_wrap .layerPopup.bottom .layerPopup_content .txt_tit {
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #212529;
}
.mo_wrap .layerPopup.bottom .layerPopup_bottom {
  padding: 10px 20px calc(constant(safe-area-inset-bottom) + 24px);
  padding: 10px 20px calc(env(safe-area-inset-bottom) + 24px);
  background: #fff;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.02);
  z-index: 1;
}
.mo_wrap .layerPopup.bottom .layerPopup_bottom .btn_group .btn {
  border-radius: 12px;
}
.mo_wrap .layerPopup.bottom .layerPopup_bottom .btn_group + .btn_group {
  margin-top: 8px;
}
.mo_wrap .layerPopup.bottom .layerPopup_wrap.starbucks_login {
  background: #017143;
}
.mo_wrap .layerPopup.bottom .layerPopup_wrap.starbucks_login .layerPopup_heading .btn_close {
  background: url('../images/brand/close.png') 0 0 no-repeat;
  background-size: contain;
}
.mo_wrap .layerPopup.bottom .layerPopup_wrap.starbucks_login .img_wrap_title {
  width: 132px;
  height: 13px;
  margin: 5px auto 0;
}
.mo_wrap .layerPopup.bottom .layerPopup_wrap.starbucks_login .img_wrap_title img {
  display: block;
  width: 100%;
}
.mo_wrap .layerPopup.bottom .layerPopup_wrap.starbucks_login .img_wrap {
  width: 131px;
  height: 80px;
  margin: 26px auto 0;
}
.mo_wrap .layerPopup.bottom .layerPopup_wrap.starbucks_login .img_wrap img {
  display: block;
  width: 100%;
}
.mo_wrap .layerPopup.bottom .layerPopup_wrap.starbucks_login .starbucks_login_info {
  margin-top: 20px;
  font-size: 14px;
  color: #fff;
  line-height: 1.43;
  text-align: center;
}
.mo_wrap .layerPopup.bottom .layerPopup_wrap.starbucks_login .starbucks_login_info em {
  display: block;
  margin-top: 5px;
  text-align: center;
}
.mo_wrap .layerPopup.bottom .layerPopup_wrap.starbucks_login .chk_today {
  padding: 0 20px;
  margin-top: 17px;
}
.mo_wrap .layerPopup.bottom .layerPopup_wrap.starbucks_login .chk_today label {
  font-size: 13px;
  color: #fff;
}

.mo_wrap .layerPopup.bottom .layerPopup_wrap.open_info {
  background: #fd9c18;
}
.mo_wrap .layerPopup.bottom .layerPopup_wrap.open_info .layer_title {
  font-size: 18px;
  line-height: 24px;
  color: #212529;
  font-weight: 500;
  margin: 5px 0 24px 0;
  text-align: center;
}
.mo_wrap .layerPopup.bottom .layerPopup_wrap.open_info .layer_title img {
  display: inline-block;
  width: 320px;
  height: 20px;
}
.mo_wrap .layerPopup.bottom .layerPopup_wrap.open_info .img_wrap_title {
  text-align: center;
}
.mo_wrap .layerPopup.bottom .layerPopup_wrap.open_info .img_wrap_title img {
  display: inline-block;
  width: 196px;
  height: 112px;
}
.mo_wrap .layerPopup.bottom .layerPopup_wrap.open_info p {
  font-size: 14px;
  line-height: 20px;
  color: #212529;
  text-align: center;
  margin-top: 24px;
}
.mo_wrap .layerPopup.bottom .layerPopup_wrap.open_info .check_group > .chk_box {
  margin-left: 20px;
  margin-top: 30px;
}

/* tooltip */
.mo_wrap .tooltip_wrap .cont {
  display: none;
  position: absolute;
  bottom: 26px;
  left: 50%;
  transform: translateX(-50%);
  width: 260px;
  background: #fff;
  border: 1px solid #50555c;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  font-size: 12px;
  line-height: 18px;
  padding: 20px 28px 20px 20px;
  color: #50555c;
  z-index: 2;
}
.mo_wrap .tooltip_wrap .cont .tit {
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
}
.mo_wrap .tooltip_wrap .btn_close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 28px;
  height: 28px;
  overflow: hidden;
  text-indent: -999rem;
  background: url(../img/common/ico_close_24x24.png) no-repeat center / 20px;
  outline: none;
  z-index: 2;
}
.mo_wrap .tooltip_wrap .dot_list {
  padding: 0;
}
.mo_wrap .tooltip_wrap .dot_list li {
  margin-top: 6px;
  letter-spacing: -1px;
}

/* toast */
.mo_wrap .toastPopup {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 54px;
  text-align: center;
  z-index: 100;
}
.mo_wrap .toastPopup .cont {
  display: inline-block;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  border-radius: 18px;
  background: rgba(33, 37, 41, 0.8);
} /* 2023-06-20 font weight, size 수정 */
@keyframes toastPopAnimation {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes layerPopAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes layerPopBottomAnimation {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}
@keyframes layerPopBottomCloseAnimation {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -100%;
  }
}
@keyframes layerPopLeftAnimation {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
@keyframes layerPopLeftCloseAnimation {
  0% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}
@keyframes layerPopRightAnimation {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}
@keyframes layerPopRightCloseAnimation {
  0% {
    right: 0%;
  }
  100% {
    right: -100%;
  }
}

/* BOX */
.mo_wrap .info_box {
  position: relative;
  padding: 20px;
  background: #fff;
  border: 1px solid #eceef0;
  border-radius: 12px;
}
.mo_wrap .info_box .form_row:first-child {
  margin-top: 18px;
}
.mo_wrap .info_box input {
  margin-top: 8px;
}
.mo_wrap .info_box + .info_box {
  margin-top: 12px;
}
.mo_wrap .info_box .bottom_desc {
  border-top: 1px solid #eceef0;
  margin-top: 16px;
  padding-top: 24px;
  font-size: 14px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #2e3033;
  text-align: center;
}

/* table */

.mo_wrap .form_row .w_box {
  display: flex;
  width: 100%;
}
.mo_wrap .form_row .w_box > input + [class^='btn_'] {
  margin-left: 8px;
}

.mo_wrap .w_box {
  display: flex;
  width: 100%;
}

.mo_wrap .w_box > div {
  position: relative;
}
.mo_wrap .w_box > div + div {
  margin-left: 8px;
}
.mo_wrap .w_box .form_row + .form_row {
  margin-top: 20px;
}
.mo_wrap .info_box > .w_box .form_row {
  margin-top: 38px !important;
}
.mo_wrap .info_box > .w_box + .form_row {
  margin-top: 38px !important;
}
.mo_wrap .w_box .btn {
  display: inline-block;
  width: 100px;
  height: 48px;
  padding: 13px 10px 16px;
  font-size: 14px;
  line-height: 19px;
  color: #212529;
  background: #fff;
  border: 1px solid #50555c;
  border-radius: 8px;
  text-align: center;
}
.mo_wrap .w_box label {
  position: absolute;
  top: -18px;
  left: 0;
  color: #89909a;
  font-size: 14px;
  line-height: 18px;
}
.mo_wrap .form_row label + .w_box {
  margin-top: 8px;
}
.mo_wrap .form_row label + .w_box input {
  margin-top: 0;
}
.mo_wrap .w_box img {
  width: 100%;
  margin-top: 8px;
}
.mo_wrap .w_box .tip img {
  margin-top: 0;
}
.mo_wrap .addr .w_box > div:first-child {
  width: calc(100% - 108px);
}
.mo_wrap .addr .w_box > div:last-child {
  width: 100px;
}
.mo_wrap .tip {
  display: inline-block;
  width: 16px;
  position: relative;
  top: -2px;
}
.mo_wrap .tip img {
  width: 100%;
  vertical-align: middle;
}

.mo_wrap .s_tit {
  padding-left: 4px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  color: #2e3033;
  margin-bottom: 16px;
}
.mo_wrap .s_desc {
  padding-left: 4px;
  font-size: 12px;
  line-height: 18px;
  color: #858b93;
  margin: -14px 0 16px;
}

.mo_wrap .tag_box em {
  display: inline-block;
  background: #fa4e29;
  padding: 0 6px;
  color: #fff;
  border-radius: 6px;
  font-size: 11px;
  font-weight: 700;
  height: 20px;
  line-height: 21px;
  margin-bottom: 2px;
}
.mo_wrap .tag_box em.b {
  background: #50555c;
}
.mo_wrap .tag_box em.blu {
  background: #9bb2ce;
}
.mo_wrap .tag_box em.w {
  background: #fff;
  color: #50555c;
}
.mo_wrap .tag_box em.g {
  background: #d4d7dc;
}

.mo_wrap .btn_group.medium {
  padding: 8px 0 0 !important;
}
.mo_wrap .btn_group.medium .btn {
  height: 40px;
  border-radius: 8px;
  font-size: 14px;
  line-height: 40px;
  background: #eceef0;
  color: #50555c;
}
.mo_wrap .btn_select {
  position: relative;
  padding: 6px 20px 6px 12px;
  height: 30px;
  border: 1px solid #eceef0;
  border-radius: 20px;
  font-size: 12px;
  color: #50555c;
  background: #fff url('../img/common/ico_seldown.png') no-repeat right 4px center / 16px;
  white-space: nowrap;
}

/* 플로팅 배너 */
.mo_wrap .float_wrap {
  position: fixed;
  right: 24px;
  bottom: 130px;
  z-index: 101;
}
.mo_wrap .float_wrap .top_cont:after {
  content: '';
  display: block;
  clear: both;
}
.mo_wrap .float_wrap .chat_cont {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 80px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.mo_wrap .float_wrap .chat_cont .chat_btn {
  background: #fff;
  border-radius: 50%;
}
.mo_wrap .float_wrap .chat_cont a {
  display: block;
  width: 65px;
  height: 56px;
  font-size: 12px;
  line-height: 12px;
  color: #50555c;
  text-align: center;
  margin: 0 auto;
  background-size: 32px;
}
.mo_wrap .float_wrap .chat_cont .chat_btn a {
  width: 56px;
  padding-top: 12px;
}
.mo_wrap .float_wrap .chat_cont a:before {
  content: '';
  display: block;
  width: 100%;
  height: 32px;
  background: url('../img/common/ico_chat.png') center no-repeat;
  margin: 0 auto;
  background-size: 32px;
}
.mo_wrap .float_wrap .chat_cont .chat a:before {
  background: url('../img/common/float_chat.png') no-repeat center / 20px;
}
.mo_wrap .float_wrap .chat_cont .kakao a:before {
  background: url('../img/common/float_kakao.png') no-repeat center / 20px;
}
.mo_wrap .float_wrap .chat_cont .inquiry a:before {
  background: url('../img/common/float_inquiry.png') no-repeat center / 20px;
}
.mo_wrap .float_wrap .chat_cont .chat_list {
  display: none;
  background: #eceef0;
  border-radius: 80px;
}
.mo_wrap .float_wrap .chat_cont .chat_list:after {
  content: '';
  position: absolute;
  right: 0;
  display: block;
  width: 82px;
  height: 56px;
  background: #eceef0;
  z-index: -1;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}
.mo_wrap .float_wrap .chat_cont .chat_list li {
  width: 62px;
  height: 56px;
  margin: 0px 5px;
  padding-top: 3px;
}
.mo_wrap .float_wrap .chat_btn.on + .chat_list {
  display: flex;
}
.mo_wrap .float_wrap .top_cont {
  display: none;
  position: absolute;
  right: 0;
  width: 56px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  margin-top: 12px;
}

.mo_wrap .float_wrap .top_cont a {
  display: block;
  width: 56px;
  height: 56px;
  line-height: 76px;
  font-size: 11px;
  background: url(../img/common/ico_top.png) no-repeat center / 32px;
}

/* 여백 */
.pd0 {
  padding: 0 !important;
}
.pb0 {
  padding-bottom: 0px !important;
}
.pl0 {
  padding-left: 0 !important;
}
.mt0 {
  margin-top: 0px !important;
}
.mtb0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.ml3 {
  margin-left: 3px !important;
}
.mt12 {
  margin-top: 12px !important;
}
.mt16 {
  margin-top: 16px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt24 {
  margin-top: 24px !important;
}
.mt32 {
  margin-top: 32px !important;
}
.mt60 {
  margin-top: 60px !important;
}
.mt90 {
  margin-top: 90px !important;
}
.mb8 {
  margin-bottom: 8px !important;
}
.mb12 {
  margin-bottom: 12px !important;
}
.mb16 {
  margin-bottom: 16px !important;
}
.mb24 {
  margin-bottom: 24px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}

.fr {
  float: right;
}
/* 폰트 */
.c_orange {
  color: #fa4e29 !important;
}
.c_lightgray {
  color: #b5b9c0 !important;
}
.c_gray {
  color: #50555c !important;
}
.c_gray02 {
  color: #858b93 !important;
}
.c_black {
  color: #2e3033 !important;
}
.bold {
  font-weight: 700 !important;
}
.f16 {
  font-size: 16px !important;
}
.f14 {
  font-size: 14px !important;
  line-height: 22px !important;
}
.f12 {
  font-size: 12px !important;
  line-height: 18px;
}
.t_center {
  text-align: center;
}
.t_right {
  text-align: right;
}
.w100 {
  width: 100% !important;
}
.w70 {
  width: 70% !important;
}

/* etc */
.mo_wrap .vt_top {
  vertical-align: top !important;
}
.mo_wrap .link_area {
  text-align: center;
  margin-top: 12px;
}
.mo_wrap .link_area a {
  display: inline-block;
  padding: 8px;
  font-size: 14px;
  line-height: 22px;
  color: #50555c;
  text-decoration: underline;
}
.mo_wrap .boder_n {
  border: none !important;
}
.mo_wrap .m_line {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #eceef0;
  margin: 40px 0 24px;
}
.mo_wrap .layerPopup .m_line {
  margin: 32px 0;
}

.mo_wrap * {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.mo_wrap *::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
