/* 공통 */
.mo_wrap .wrap.main_wrap {
  position: relative;
  background: none;
  padding: 0 32px;
}
.mo_wrap .main_wrap:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/contents/main_bg.png) no-repeat top center / contain;
  z-index: -2;
}

.mo_wrap .main_wrap .main_tit {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
.mo_wrap .main_wrap .main_tit.type {
  font-weight: 400;
  line-height: 30px;
}
.mo_wrap .main_wrap .main_tit.type em {
  font-weight: 700;
}
.mo_wrap .main_wrap .main_desc {
  display: block;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 25px;
}
.mo_wrap .main_wrap .main_desc em {
  font-weight: 700;
}

/* 메인:제휴사 로고 */
.mo_wrap .main_wrap .header .brand.affi_wrap {
  left: 0;
  width: 60px;
  height: 30px;
}
.mo_wrap .main_wrap .header .brand.affi_wrap img {
  position: absolute;
  left: 42px;
  bottom: 7px;
  height: 30px;
} /* 2023-08-30 수정 */

/* 예약하기 */
.mo_wrap .main_wrap > .res_form {
  border-radius: 12px;
  background: #fff;
  margin-top: 20px;
}
.mo_wrap .main_wrap > .res_form .cont {
  position: relative;
  border-bottom: 1px solid #efefef;
}
.mo_wrap .main_wrap > .res_form .cont > a {
  display: flex;
  align-items: center;
  height: 54px;
  box-sizing: border-box;
  padding: 0 20px;
}
.mo_wrap .main_wrap > .res_form .cont:nth-child(3) {
  border-bottom: 0 none;
}
.mo_wrap .main_wrap > .res_form .btn {
  width: 100%;
  height: 56px;
  background: url('../img/common/btn_bg.jpg') no-repeat center / cover;
  color: #fff;
  font-weight: 700;
  border-radius: 0 0 12px 12px;
}
.mo_wrap .main_wrap > .res_form .cont > a:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background-size: 15px;
  margin-right: 10px;
}
.mo_wrap .main_wrap > .res_form .ico_place {
  margin-right: 90px;
}
.mo_wrap .main_wrap > .res_form .ico_place:before {
  background: url(../img/common/ico_place_20x20.png) no-repeat center / 20px;
}
.mo_wrap .main_wrap > .res_form .ico_date:before {
  background: url(../img/common/ico_date_20x20.png) no-repeat center / 20px;
}
.mo_wrap .main_wrap > .res_form .ico_car:before {
  background: url(../img/common/ico_car_20x20.png) no-repeat center / 20px;
}
.mo_wrap .main_wrap > .res_form i {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: auto;
  cursor: pointer;
  z-index: 1;
}
.mo_wrap .main_wrap > .res_form .ico_reset {
  width: 35px;
  height: 54px;
  background-position: right;
}

.mo_wrap .main_wrap > .res_form .ico_car.on .ico_select {
  transform: rotate(180deg);
}

.mo_wrap .ico_select {
  background: url(../img/common/ico_chevronB_16x16.png) no-repeat center / 20px;
  transition: 0.5s all;
}
.mo_wrap .ico_reset {
  background: url(../img/common/ico_reset_22x22.png) no-repeat center / 22px;
}
.mo_wrap .main_wrap > .res_form .inland_btn {
  position: absolute;
  top: 17px;
  right: 20px;
  font-size: 11px;
  color: #50555c;
  border-radius: 20px;
  background: url(../img/common/ico_outlink.png) center right 4px no-repeat;
  background-size: 15px;
  padding: 6px 22px 6px 10px;
}

.mo_wrap .res_form .btn_option_wrap {
  display: flex;
  padding: 0 20px;
  margin-bottom: 27px;
  overflow-x: auto;
  overflow-y: hidden;
}
.mo_wrap .res_form .btn_option_wrap li + li {
  margin-left: 5px;
}
.mo_wrap .res_form .btn_option_wrap li > a {
  display: block;
  height: 34px;
  line-height: 34px;
  padding: 0 10px;
  font-size: 12px;
  background: #fff;
  border: 1px solid #d4d7dc;
  border-radius: 8px;
  white-space: nowrap;
}
.mo_wrap .res_form .btn_option_wrap li.on > a {
  border-color: #50555c;
  color: #2e3033;
  font-weight: 700;
  border: 1px solid #50555c;
}

/* 예약리스트 */
.mo_wrap .main_wrap .res_list_wrap {
  position: relative;
  background-size: cover;
  margin: 0 -32px;
}
.mo_wrap .main_wrap .res_list_wrap > div {
  position: absolute;
  bottom: 65px;
  width: 100%;
}
.mo_wrap .main_wrap .res_list_wrap::before {
  content: '';
  display: block;
  width: 100%;
  height: 250px;
  background: url(../img/contents/main_bg_img.png) top no-repeat;
  background-size: cover;
}
.mo_wrap .main_wrap .res_list_wrap .list {
  position: relative;
  height: 48px;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  padding: 0 16px 0 92px;
  margin: 0 32px;
  cursor: pointer;
  z-index: 1;
}
.mo_wrap .main_wrap .res_list_wrap .list img {
  width: 62px;
  height: 37px;
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
}
.mo_wrap .main_wrap .res_list_wrap .list .name {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  padding-top: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mo_wrap .main_wrap .res_list_wrap .list .info {
  display: flex;
  align-items: center;
}
.mo_wrap .main_wrap .res_list_wrap .list .place {
  font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;
  line-height: 16px;
}
.mo_wrap .main_wrap .res_list_wrap .list .date {
  font-size: 11px;
  line-height: 16px;
  padding-left: 7px;
  position: relative;
  margin-left: 4px;
  white-space: nowrap;
}
.mo_wrap .main_wrap .res_list_wrap .list .date:after {
  content: '';
  display: inline-block;
  width: 3px;
  height: 3px;
  background: #858b93;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.mo_wrap .main_wrap .res_list_wrap .list .dday {
  display: inline-block;
  position: absolute;
  top: -12px;
  left: 12px;
  padding: 3px 14px;
  line-height: 1.5em;
  font-size: 12px;
  font-weight: 700;
  color: #ffd028;
  background-color: #2e3033;
  border-radius: 24px;
  letter-spacing: 0;
}
.mo_wrap .main_wrap .res_list_wrap .list .dday::after {
  position: absolute;
  top: 78%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-top-color: #2e3033;
  border-width: 10px;
  pointer-events: none;
  content: ' ';
}
.mo_wrap .main_wrap .res_list_wrap .link {
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  text-decoration-line: underline;
  padding-top: 15px;
  position: absolute;
  width: 100%;
}
.mo_wrap .main_wrap .res_list_wrap .link::before {
  display: block;
  content: '';
  width: 77%;
  height: 48px;
  position: absolute;
  left: 50%;
  top: -42px;
  transform: translateX(-50%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  opacity: 0.4;
  border-radius: 24px;
}

/* 회원전용 혜택 */
.mo_wrap .main_wrap .res_list_wrap + .benefit_wrap {
  margin: 0 -32px 0 -32px;
}
.mo_wrap .main_wrap .benefit_wrap::before {
  content: '';
  display: block;
  position: absolute;
  top: -20px;
  height: 382px;
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #faad66 72.92%);
  transform: rotate(-180deg);
  z-index: -1;
}
.mo_wrap .main_wrap .benefit_wrap {
  position: relative;
  margin-top: 230px;
  margin: 230px -32px 0 -32px;
}
.mo_wrap .main_wrap .benefit_wrap .test ul {
  display: flex;
}
.mo_wrap .main_wrap .benefit_wrap .test ul li {
  width: 100%;
  flex-shrink: 0;
}
.mo_wrap .main_wrap .benefit_wrap .label {
  padding: 2px 6px;
  background: #fa4e29;
  border-radius: 6px;
  font-size: 11px;
  line-height: 16px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 8px;
}
.mo_wrap .main_wrap .benefit_wrap .main_tit,
.benefit_wrap .main_desc {
  color: #fff;
}
.mo_wrap .main_wrap .benefit_wrap .main_desc {
  line-height: 18px;
  margin: 8px 0 20px;
}
.mo_wrap .main_wrap .benefit_wrap li {
  padding: 0 32px;
}
.mo_wrap .main_wrap .benefit_wrap li a {
  position: relative;
  display: block;
  height: 160px;
  overflow: hidden;
  border-radius: 12px;
}
.mo_wrap .main_wrap .benefit_wrap li img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 101%;
  border-radius: 12px;
}

/* 제주컨텐츠 */
.mo_wrap .main_wrap .jejucont_wrap {
  margin: 60px -32px 0 -32px;
}
.mo_wrap .main_wrap .jejucont_wrap .slick-slide:first-child {
  margin-left: 32px !important;
}
.mo_wrap .main_wrap .jejucont_wrap .main_tit,
.mo_wrap .main_wrap .jejucont_wrap .main_desc {
  padding: 0 32px;
}
.mo_wrap .main_wrap .jejucont_wrap .test {
  padding-left: 32px;
}
.mo_wrap .main_wrap .jejucont_wrap .test ul {
  display: flex;
}
.mo_wrap .main_wrap .jejucont_wrap .test ul li {
  width: 200px;
  flex-shrink: 0;
  margin-right: 16px;
}
.mo_wrap .main_wrap .jejucont_wrap ul li a {
  display: block;
  width: 200px;
  background: #eceef0;
  border-radius: 12px;
  overflow: hidden;
}
.mo_wrap .main_wrap .jejucont_wrap ul li a .img_wrap {
  position: relative;
  height: 150px;
}
.mo_wrap .main_wrap .jejucont_wrap ul li a .img_wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 101%;
}
.mo_wrap .main_wrap .jejucont_wrap ul li a .cont_wrap {
  padding: 16px 16px 40px;
}
.mo_wrap .main_wrap .jejucont_wrap ul li a .cont_wrap .label {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 2px;
}
.mo_wrap .main_wrap .jejucont_wrap ul li a .cont_wrap .txt {
  line-height: 22px;
  font-weight: 700;
  font-size: 14px;
}

/* 이벤트 컨텐츠 */
.mo_wrap .main_wrap .eventcont_wrap .slick-slide:first-child {
  margin-left: 32px !important;
}
.mo_wrap .main_wrap .eventcont_wrap {
  margin: 60px -32px 0 -32px;
}
.mo_wrap .main_wrap .eventcont_wrap .main_tit,
.mo_wrap .main_wrap .eventcont_wrap .main_desc {
  padding: 0 32px;
}
.mo_wrap .main_wrap .eventcont_wrap .test {
  padding-left: 32px;
}
.mo_wrap .main_wrap .eventcont_wrap .test ul {
  display: flex;
}
.mo_wrap .main_wrap .eventcont_wrap .test ul li {
  width: 140px;
  flex-shrink: 0;
  margin-right: 16px;
}
.mo_wrap .main_wrap .eventcont_wrap .slick-slide {
  padding-right: 15px;
}
.mo_wrap .main_wrap .eventcont_wrap ul li a {
  width: 140px;
  display: block;
}
.mo_wrap .main_wrap .eventcont_wrap ul li a .img_wrap {
  position: relative;
  height: 140px;
  overflow: hidden;
  border-radius: 12px;
}
.mo_wrap .main_wrap .eventcont_wrap ul li a .img_wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 101%;
}
.mo_wrap .main_wrap .eventcont_wrap ul li a .cont_wrap {
  width: 140px;
  margin: 12px auto 0 auto;
}
.mo_wrap .main_wrap .eventcont_wrap ul li a .cont_wrap .label {
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* 서비스 */
.mo_wrap .main_wrap .service_wrap .main_tit {
  font-size: 18px;
}
.mo_wrap .main_wrap .service_wrap .list a {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #eceef0;
}
.mo_wrap .main_wrap .service_wrap .list a:before {
  content: '';
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 15px;
}
.mo_wrap .main_wrap .service_wrap .list a.pay:before {
  background: #eceef0 url('../img/common/ico_pay.png') center no-repeat;
  background-size: 32px 32px;
}
.mo_wrap .main_wrap .service_wrap .list a.care:before {
  background: #eceef0 url('../img/common/ico_care.png') center no-repeat;
  background-size: 32px 32px;
}
.mo_wrap .main_wrap .service_wrap .list a.link:before {
  background: #eceef0 url('../img/common/ico_link.png') center no-repeat;
  background-size: 32px 32px;
}
.mo_wrap .main_wrap .service_wrap .list a.live:before {
  background: #eceef0 url('../img/common/ico_live.png') center no-repeat;
  background-size: 32px 32px;
}
.mo_wrap .main_wrap .service_wrap .list a.bilicar:before {
  background: #eceef0 url('../img/common/ico_bilicar.png') center no-repeat;
  background-size: 32px 32px;
}
.mo_wrap .main_wrap .service_wrap .list .cont_wrap em {
  display: block;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
}
.mo_wrap .main_wrap .service_wrap .list .cont_wrap em b {
  color: #fa4e29;
}
.mo_wrap .main_wrap .service_wrap .list .cont_wrap span {
  display: block;
  font-size: 12px;
  color: #858b93;
}

/* 배너 */
.mo_wrap .main_wrap .bannercont_wrap {
  position: relative;
  height: 480px;
  margin: 60px -32px 0 -32px;
}
.mo_wrap .main_wrap .bannercont_wrap .cont {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  height: 104px;
  background: #fff;
  width: calc(100% - 60px);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 20px;
  z-index: 2;
}
.mo_wrap .main_wrap .bannercont_wrap .cont .item {
  position: relative;
}
.mo_wrap .main_wrap .bannercont_wrap .cont .tit {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.mo_wrap .main_wrap .bannercont_wrap .cont .tit em {
  position: relative;
  color: #fa4e29;
}
.mo_wrap .main_wrap .bannercont_wrap .cont .tit em:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;
  display: block;
  width: 100%;
  height: 5px;
  background: #ffd028;
  opacity: 0.4;
}
.mo_wrap .main_wrap .bannercont_wrap .cont .desc {
  display: block;
  font-size: 12px;
  line-height: 18px;
  color: #50555c;
  margin-top: 6px;
}
.mo_wrap .main_wrap .bannercont_wrap .cont .img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 134px;
  height: 80px;
}
.mo_wrap .main_wrap .bannercont_wrap .mov {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.mo_wrap .main_wrap .bannercont_wrap .mov::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  content: '';
  background: url(../img/etc/@banner_bg.jpg) no-repeat center;
  background-size: cover;
  height: 100%;
}
.mo_wrap .main_wrap .bannercont_wrap .mov video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
}
.mo_wrap .main_wrap .bannercont_wrap.response_type {
  height: 100%;
  margin-top: 40px;
} /* 2023-07-20 추가 */
.mo_wrap .main_wrap .bannercont_wrap.response_type .mov {
  padding-bottom: 56.25%;
} /* 2023-07-20 추가 */
.mo_wrap .main_wrap .bannercont_wrap.response_type .mov video {
  top: 0;
  left: 0;
  transform: none;
  width: 100%;
  height: 100%;
} /* 2023-07-20 추가 */
.mo_wrap .main_wrap .bannercont_wrap.response_type .mov + .cont {
  display: none;
} /* 2023-07-20 추가 */

/* 지점선택 */
.mo_wrap .layerPopup_heading.map_height {
  height: 68px;
}
.mo_wrap .layerPopup_heading .search_input {
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: space-between;
  margin: 18px 0 -6px;
}
.mo_wrap .layerPopup_heading .search_input input {
  border: none;
  padding: 0;
  width: 80%;
  height: 32px;
  font-weight: 400;
}
.mo_wrap .layerPopup_heading .search_input input::placeholder {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}
.mo_wrap .layerPopup_heading .search_input .icon_cancel_m {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #50555c url(../img/common/ico_cancel_search_12x12.png) no-repeat center center / 8px;
  border-radius: 100%;
}
.mo_wrap .layerPopup_heading .search_input .icon_search_m {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/common/ico_modal_search.png) no-repeat center center / 18px;
}

.mo_wrap .layerPopup_content.pd_n {
  padding: 0 0 80px;
}
.mo_wrap .spot_map {
  overflow: hidden;
}

.mo_wrap .select_list_wrap .spot_btns .spot_titles {
  display: flex;
  justify-content: space-between;
  height: 22px;
  align-items: center;
  margin-bottom: 8px;
}
.mo_wrap .select_list_wrap .spot_btns .spot_titles p {
  font-size: 14px;
  font-weight: 700;
  color: #2e3033;
}
.mo_wrap .select_list_wrap .spot_btns .spot_titles span {
  font-size: 12px;
  font-weight: 400;
  color: #858b93;
}
.mo_wrap .select_list_wrap .spot_btns .spot_btn_list {
  display: flex;
  overflow-x: auto;
}
.mo_wrap .select_list_wrap .spot_btns .spot_btn_list li {
  margin-left: 6px;
}
.mo_wrap .select_list_wrap .spot_btns .spot_btn_list li:first-child {
  margin-left: 0;
}
.mo_wrap .select_list_wrap .spot_btns .spot_btn_list li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  border: 1px solid #cddfe4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  box-sizing: border-box;
  min-width: 64px;
  white-space: nowrap;
}
.mo_wrap .select_list_wrap .spot_btns .spot_btn_list .jeju_btn a {
  /* width: 110px;  */
  background: #dff3f8;
  border-color: #cddfe4;
}
.mo_wrap .select_list_wrap .spot_btns .spot_btn_list .yeosu_btn a {
  width: 64px;
  background: #fff2da;
  border-color: #f7dcc4;
}
.mo_wrap .select_list_wrap .spot_btns .spot_btn_list .incheon_btn a {
  width: 113px;
  background: #eceef0;
  border-color: #d8dde1;
}
.mo_wrap .select_list_wrap .spot_btns .spot_btn_list .gyeongju_btn a {
  width: 65px;
  background: #fae5ea;
  border-color: #f6d4dc;
}
.mo_wrap .select_list_wrap .spot_btns .spot_btn_list li a span {
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #000;
}
.mo_wrap .select_list_wrap .spot_btns .spot_btn_list li a em {
  display: inline-block;
  font-size: 11px;
  color: #fa4e29;
  padding-top: 2px;
  margin-left: 6px;
}
.mo_wrap .select_list_wrap .spot_btns .spot_btn_list li a::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 22px;
  background-size: 14px;
}
.mo_wrap .select_list_wrap .spot_btns .spot_btn_list li .ico_jeju::before {
  background: url(../img/contents/ico_jeju.png) no-repeat center / 14px;
}
.mo_wrap .select_list_wrap .spot_btns .spot_btn_list li:nth-child(2) .ico_yeosu::before {
  background: url(../img/contents/ico_yeosu.png) no-repeat center / 15px;
  width: 15px;
  height: 15px;
}
.mo_wrap .select_list_wrap .spot_btns .spot_btn_list li .ico_incheon::before {
  background: url(../img/contents/ico_incheon.png) no-repeat center / 14px;
}
.mo_wrap .select_list_wrap .spot_btns .spot_btn_list li .ico_gyeongju::before {
  background: url(../img/contents/ico_gyeongju.png) no-repeat center / 14px;
}

.mo_wrap .spot_result_wrap .result_title {
  font-size: 12px;
  font-weight: 400;
}
.mo_wrap .spot_result_wrap .result_list {
  margin-top: 8px;
}
.mo_wrap .spot_result_wrap .result_list li {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border: 1px solid #eceef0;
  height: 48px;
  padding: 13px 20px 13px 12px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}
.mo_wrap .spot_result_wrap .result_list li:last-child {
  margin-bottom: 0;
}
.mo_wrap .spot_result_wrap .result_list li .navi_rtext {
  display: flex;
}

.mo_wrap .spot_result_wrap .result_list li .navi_rtext p {
  margin-left: 10.67px;
  font-size: 14px;
  font-weight: 700;
}
.mo_wrap .spot_result_wrap .result_list li .navi_rtext span {
  margin-left: 6px;
  color: #858b93;
  font-size: 12px;
}
.mo_wrap .spot_result_wrap .result_list li .navi_map_link a {
  font-size: 12px;
  color: #50555c;
  text-decoration-line: underline;
}
.mo_wrap .spot_result_wrap.no_result {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}
.mo_wrap .spot_result_wrap.no_result dl dt {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #2e3033;
}
.mo_wrap .spot_result_wrap.no_result dl dd {
  font-size: 14px;
  line-height: 22px;
  margin-top: 8px;
  color: #858b93;
}

.mo_wrap .spot_text_group {
  padding: 32px 20px 0 24px;
}
.mo_wrap .spot_text_group .spot_title {
  display: flex;
  align-items: center;
}
.mo_wrap .spot_text_group .spot_title h4 {
  font-size: 20px;
  color: #2e3033;
  font-weight: 700;
}
.mo_wrap .spot_text_group .spot_title span {
  font-size: 14px;
  color: #858b93;
  display: inline-block;
  margin-left: 8px;
}
.mo_wrap .spot_text_sb {
  margin-top: 16px;
}
.mo_wrap .spot_text_sb ul li {
  margin-bottom: 20px;
}
.mo_wrap .spot_text_sb ul li:last-child {
  margin-bottom: 0;
}
.mo_wrap .spot_text_sb ul li .left_txt p {
  font-size: 12px;
  font-weight: 700;
  color: #858b93;
  margin-bottom: 5px;
}
.mo_wrap .spot_text_sb ul li .left_txt span {
  display: block;
  font-size: 14px;
  color: #2e3033;
  line-height: 22px;
}
.mo_wrap .spot_text_sb ul li .left_txt span em {
  color: #505050;
  margin-right: 16px;
}
.mo_wrap .spot_text_sb.type01 ul li .left_txt span {
  margin-bottom: 2px;
}
.mo_wrap .spot_text_sb ul li .left_txt dl {
  display: flex;
  font-size: 14px;
  line-height: 22px;
}
.mo_wrap .spot_text_sb ul li .left_txt dl + dl {
  margin-top: 2px;
}
.mo_wrap .spot_text_sb ul li .left_txt dl dt {
  color: #50555c;
  margin-right: 16px;
}
.mo_wrap .spot_text_sb ul li .right_btn a {
  display: inline-block;
  padding: 6px 10px;
  height: 30px;
  background: #f7f7f9;
  border: 1px solid #eceef0;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 700;
  color: #858b93;
  margin-top: 5px;
}
.mo_wrap .spot_text_sb ul li .right_btn {
  padding-top: 5px;
}
.mo_wrap .spot_text_group .spot_btn_wrap {
  text-align: center;
  margin-top: 44px;
}
.mo_wrap .spot_text_group .spot_btn_wrap a {
  display: inline-block;
  text-align: center;
  padding: 13px 0 15px 0;
  width: 295px;
  height: 56px;
  background: linear-gradient(91.04deg, #f35b5b 1.64%, rgba(254, 83, 45, 0.84) 116.61%);
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  line-height: 28px;
}

.mo_wrap .layerPopup_bottom .select_list_wrap {
  padding: 12px 0 44px 0;
}
.mo_wrap .layerPopup.bottom .layerPopup_bottom.sdw {
  position: relative;
}

/* 지점 아코디언 메뉴 */
.mo_wrap .accordion_wrap {
  margin-top: 32px;
}
.mo_wrap .accordion_wrap .acc_title {
  font-size: 14px;
  font-weight: 700;
}
.mo_wrap .accordion_wrap .que {
  position: relative;
  display: flex;
  height: 48px;
  margin-top: 8px;
  padding: 11px 20px 13px 24px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #eceef0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}
.mo_wrap .accordion_wrap .que:first-child {
  margin-top: 0;
}
.mo_wrap .accordion_wrap .regi_name {
  font-size: 16px;
  line-height: 24px;
  margin-right: 10px;
}
.mo_wrap .accordion_wrap .que.on {
  background: #50555c;
  border-radius: 8px 8px 0px 0px;
}
.mo_wrap .accordion_wrap .que .regi_box {
  background: #eceef0;
  font-size: 12px;
  border-radius: 4px;
  padding: 2px 6px;
  display: inline-block;
  margin-right: 6px;
}
.mo_wrap .accordion_wrap .que .regi_box:last-child {
  margin-right: 0;
}
.mo_wrap .accordion_wrap .que.on .regi_name {
  color: #fff;
}
.mo_wrap .accordion_wrap .anw {
  display: none;
  overflow: hidden;
  font-size: 14px;
  background: #ffffff;
  padding: 20px 20px 40px 20px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 8px 8px;
}
.mo_wrap .accordion_wrap .arrow-wrap {
  position: absolute;
  top: 15px;
  right: 32px;
}
.mo_wrap .accordion_wrap .que .arrow-top {
  display: none;
}
.mo_wrap .accordion_wrap .que .arrow-bottom {
  display: block;
}
.mo_wrap .accordion_wrap .que.on .arrow-bottom {
  display: none;
}
.mo_wrap .accordion_wrap .que.on .arrow-top {
  display: block;
}
.mo_wrap .accordion_wrap .que span::after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: 9.33px 4.67px;
}
.mo_wrap .accordion_wrap .que .arrow-top::after {
  background: url(../img/contents/ico_acoo_w.png) no-repeat center;
}
.mo_wrap .accordion_wrap .que .arrow-bottom::after {
  background: url(../img/contents/ico_acoo_b.png) no-repeat center;
}

.mo_wrap .accordion_wrap .anw .navi_map_lists .navi_map_wrap .navi_map_title {
  font-size: 14px;
  color: #2e3033;
}
.mo_wrap .accordion_wrap .anw .navi_map_lists .navi_map_wrap .navi_list_group {
  margin-top: 24px;
}
.mo_wrap .accordion_wrap .anw .navi_map_lists .navi_map_wrap .navi_list_group:first-child {
  margin-top: 0;
}
.mo_wrap .accordion_wrap .anw .navi_map_lists .navi_map_wrap .navi_list_group ul li {
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eceef0;
  margin-bottom: 10px;
}
.mo_wrap .accordion_wrap .anw .navi_map_lists .navi_map_wrap .navi_list_group ul li:last-child {
  margin-bottom: 0;
}
.mo_wrap .accordion_wrap .anw .navi_map_lists .navi_map_wrap .navi_list_group ul li .navi_rtext {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mo_wrap .accordion_wrap .anw .navi_map_lists .navi_map_wrap .navi_list_group ul li .navi_rtext p {
  margin-left: 10.67px;
  font-size: 14px;
  font-weight: 700;
}
.mo_wrap .accordion_wrap .anw .navi_map_lists .navi_map_wrap .navi_list_group ul li .navi_rtext span {
  margin-left: 6px;
  color: #858b93;
  font-size: 12px;
}
.mo_wrap .accordion_wrap .anw .navi_map_lists .navi_map_wrap .navi_list_group ul li .navi_map_link a {
  font-size: 12px;
  color: #50555c;
  text-decoration-line: underline;
}

/* 팝업 - 지점선택_지역상세보기 */
.mo_wrap .view_finder .img {
  position: relative;
  background-attachment: fixed;
  background-size: cover;
}
.mo_wrap .view_finder .img::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  content: '';
  background: url(../img/contents/viewfinder_grid.png) no-repeat center center;
  background-size: 100% 100%;
}
.mo_wrap .view_finder i {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.mo_wrap .view_finder i:before,
.view_finder i:after {
  content: '';
  position: absolute;
  background-color: #fff;
  transition: transform 0.25s ease-out;
}
.mo_wrap .view_finder i:before {
  top: 0;
  left: 50%;
  width: 3px;
  height: 100%;
  margin-left: -1px;
}
.mo_wrap .view_finder i:after {
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  margin-top: -1px;
}

.mo_wrap .view_cont {
  padding: 0 20px;
}
.mo_wrap .view_desc {
  padding: 0 4px;
  line-height: 24px;
  color: #50555c;
  margin-top: 32px;
}
.mo_wrap .layerPopup_content .con_wrap {
  background: #fff;
  border: 1px solid #eceef0;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  margin-top: 40px;
}
.mo_wrap .layerPopup_content .jejucont_wrap {
  margin-top: 40px;
}

/* 아이콘 백그라운드 처리 */
.mo_wrap .navi_rtext::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
}
.mo_wrap .ico_map_org::before {
  background: url(../img/contents/ico_map_org.png) no-repeat center/ 16px;
}
.mo_wrap .ico_train_org::before {
  background: url(../img/contents/ico_train_org.png) no-repeat center/ 16px;
}

/*캘린더*/

.mo_wrap .layerPopup.cal_wrap .layerPopup_heading {
  padding: 20px 20px 0;
}
.mo_wrap .layerPopup.cal_wrap .fixed {
  margin-top: 8px;
}
.mo_wrap .layerPopup.cal_wrap .fixed tr {
  height: 32px;
}
.mo_wrap .cal_wrap .layerPopup_content {
  padding-bottom: 0;
  background: #fff;
}
.mo_wrap .cal_wrap .cal_day {
  margin-bottom: -20px;
  margin-top: 10px;
}
.mo_wrap .cal_wrap .cal_day .cal_tb tr {
  height: auto;
}
.mo_wrap .cal_wrap .cal_day .cal_tb th {
  font-weight: 400;
}
.mo_wrap .cal_wrap table {
  table-layout: fixed;
}
.mo_wrap .cal_wrap + .cal_wrap {
  margin-top: 20px;
}
.mo_wrap .cal_wrap .cal_tb {
  text-align: center;
}
.mo_wrap .cal_wrap .cal_tb tr {
  height: 50px;
}
.mo_wrap .cal_wrap .cal_tb th {
  color: #666;
  padding: 10px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}
.mo_wrap .cal_wrap .cal_tb td {
  position: relative;
  font-size: 14px;
  text-align: center;
  color: #50555c;
  padding: 5px 0;
  z-index: 1;
}
.mo_wrap .cal_wrap .cal_tb td span {
  display: block;
  height: 26px;
  font-size: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.mo_wrap .cal_wrap .cal_tb td .price {
  color: #999;
}
.mo_wrap .cal_wrap .cal_tb th:first-child,
.mo_wrap .k1kb_popContents .k1kb_terms_box .cal_tb th:last-child,
.mo_wrap .cal_wrap .cal_tb td:first-child,
.mo_wrap .k1kb_popContents .k1kb_terms_box .cal_tb td:last-child {
  color: #fa4e29;
}
.mo_wrap .cal_wrap .cal_tb tr th:last-child,
.mo_wrap .cal_wrap .cal_tb tr td:last-child {
  color: #0764d4 !important;
}
.mo_wrap .cal_wrap .cal_tb td.today {
  color: #333;
  font-weight: 700;
}
.mo_wrap .cal_wrap .cal_tb td.today span {
  font-weight: 400;
}
.mo_wrap .cal_wrap .cal_tb td.holiday {
  color: #fa4e29;
}
.mo_wrap .cal_wrap .cal_tb td.unchecked {
  color: #d4d7dc;
  pointer-events: none;
}
.mo_wrap .cal_wrap .sub_cont + .btn_group {
  padding-top: 10px;
}
.mo_wrap .cal_wrap .sub_cont {
  margin: 0 -20px;
  background: #f7f7f9;
  padding: 24px 20px 8px;
}
.mo_wrap .cal_wrap .sub_tab ul {
  padding: 0;
}
.mo_wrap .cal_wrap .sub_tab li a {
  border-radius: 24px;
  font-size: 14px;
  padding: 0 10px;
}
.mo_wrap .cal_wrap .sub_cont .sub_tit,
.mo_wrap .cal_wrap .sub_cont .sub_tit .h3_desc_12 {
  margin-bottom: 0;
}
.mo_wrap .cal_wrap .sub_cont .sub_tit + .sub_tab_tit {
  margin-top: 24px;
}
.mo_wrap .cal_wrap .sub_tab {
  margin-bottom: 8px;
  padding-bottom: 8px;
}
.mo_wrap .cal_wrap .sub_tab_tit {
  margin: 0 0 8px;
}
.mo_wrap .cal_wrap .txt_cont {
  padding: 24px;
  background: #f7f7f9;
  border-top: 1px solid #eceef0;
  font-size: 14px;
  line-height: 22px;
  color: #50555c;
  margin: 0 -20px;
}
.mo_wrap .cal_wrap .txt_cont dl::after {
  display: block;
  content: '';
  clear: both;
}
.mo_wrap .cal_wrap .txt_cont dl + dl {
  margin-top: 8px;
}
.mo_wrap .cal_wrap .txt_cont dl dt {
  float: left;
}
.mo_wrap .cal_wrap .txt_cont dl dd {
  float: right;
  text-align: right;
}
.mo_wrap .cal_wrap .txt_cont dl dd span {
  display: block;
  font-size: 12px;
  line-height: 18px;
  color: #858b93;
}
.mo_wrap .cal_wrap .txt_cont dl dd span .tag_box {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.mo_wrap .cal_wrap em {
  display: block;
  line-height: 24px;
  font-weight: 700;
  margin-left: 12px;
  margin-bottom: 4px;
}

.mo_wrap .cal_wrap .cal_tb td.checked {
  color: #fff;
}
.mo_wrap .cal_wrap .cal_tb td.checked:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 2px;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background: #50555c;
  border-radius: 50%;
  z-index: -1;
}

.mo_wrap .cal_wrap .cal_tb td.checked.rent:after {
  content: '';
  position: absolute;
  top: 2px;
  right: 0;
  width: 50%;
  height: 40px;
  background: #f7f7f9;
  z-index: -2;
}
.mo_wrap .cal_wrap .cal_tb td.checked.return:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 50%;
  height: 40px;
  background: #f7f7f9;
  z-index: -2;
}
.mo_wrap .cal_wrap .cal_tb td.middle:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 40px;
  background: #f7f7f9;
  z-index: -1;
}

/* 게이트 페이지 */
.mo_wrap .gate_wrap {
  padding: 0 32px;
  position: relative;
} /* 2023-05-23 position 추가 */
.mo_wrap .gate_wrap .header .brand {
  left: 0;
  width: 60px;
  height: 30px;
}
.mo_wrap .gate_wrap .header .brand img {
  position: absolute;
  bottom: 0;
  left: 64px;
  height: 30px;
} /* 2023-08-30 수정 */
.mo_wrap .gate_wrap .header .side_menu {
  top: 12px;
  transform: inherit;
}
.mo_wrap .gate_wrap .main_tit {
  font-weight: 400;
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 24px;
}
.mo_wrap .gate_wrap .main_tit em {
  font-weight: 700;
}
.mo_wrap .gate_wrap .gate_box img {
  width: 100%;
}
.mo_wrap .gate_wrap .gate_box .item {
  cursor: pointer;
}
.mo_wrap .gate_wrap .gate_box .item img {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.02);
}

.mo_wrap .gate_wrap .gate_box > .item + .item {
  margin-top: 12px;
}
.mo_wrap .gate_wrap .btn_group.board {
  background: #eceef0;
  border-radius: 12px;
  margin-top: 30px;
  padding: 20px 24px;
}
.mo_wrap .gate_wrap .btn_group.board h3 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.4px;
  padding-left: 4px;
  margin-bottom: 4px;
}
.mo_wrap .gate_wrap .btn_group.board .btn_group {
  margin-top: 20px;
}

.mo_wrap .gate_wrap .header,
.mo_wrap .gate_wrap .footer_wrap {
  margin: 0 -32px;
}
.mo_wrap .gate_wrap .footer_wrap .banner_wrap .footer {
  margin-top: 80px;
}
.mo_wrap .gate_wrap .footer_wrap > .footer {
  margin-top: 48px;
}

/* 레이어베너 - 2023-05-10 추가 */
.mo_wrap .layer_banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 56px;
  right: 32px;
  border-radius: 12px;
  background: #3617ce;
}
.mo_wrap .layer_banner.korean_air {
  background: #012f87;
} /* 2023-05-11 대한항공 background 추가 */
.mo_wrap .layer_banner.jin_air {
  background: #641f45;
} /* 2023-05-11 진에어 background 추가 */
.mo_wrap .layer_banner.asiana {
  background: #9f9182;
} /* 2023-05-22 아시아나 background 추가 */
.mo_wrap .layer_banner.speed_mate {
  background: #e1002b;
} /* 2023-06-05 스피드메이트 background 추가 */
.mo_wrap .layer_banner.milipass {
  background: #2f4e81;
} /* 2023-08-30 밀리패스 추가 */
.mo_wrap .layer_banner::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/contents/ico_present.png) no-repeat center / 16px;
}
.mo_wrap .layer_banner.open {
  display: flex;
  justify-content: left;
  max-width: calc(100% - 64px);
  width: 100%;
  max-height: 88px;
  height: auto;
  padding: 16px;
  right: 32px;
}
.mo_wrap .layer_banner.hide {
  display: none;
}
.mo_wrap .layer_banner.open::after {
  display: none;
}
.mo_wrap .layer_banner .alert_wrap {
  display: flex;
  justify-content: space-between;
  width: 0;
  height: 0;
  overflow: hidden;
}
.mo_wrap .layer_banner.open .alert_wrap {
  width: 100%;
  max-height: 56px;
  height: auto;
}
.mo_wrap .layer_banner .text_area {
  width: 100%;
  overflow: hidden;
}
.mo_wrap .layer_banner .event_text {
  position: relative;
  left: 100%;
}
.mo_wrap .layer_banner.open .event_text {
  left: 0;
  transition: all 0.2s;
}
.mo_wrap .layer_banner.open .close {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background: url('../img/common/ico_close_w_24x24.png') no-repeat center / 24px;
}
.mo_wrap .layer_banner.open .event_text p {
  font-size: 11px;
  line-height: 16px;
  color: #ffffff;
}
.mo_wrap .layer_banner.open .alert_wrap .event_text p:first-child {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 4px;
} /* 2023-05-11 font-weight 추가 */
