
<!DOCTYPE html>
<html lang="ko">
<head>
    <title>SK렌터카</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" /> -->
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="/assets/css/content.css?v=2" />
    <link rel="stylesheet" type="text/css" href="/pc_assets/css/content.css?v=2" />
    <link rel="icon" type="favicon" href="/assets/img/common/favicon.ico" />
    <!-- Meta Pixel Code -->
    <script>
        !(function(f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function() {
                n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments);
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s);
        })(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '227145773330201');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=227145773330201&ev=PageView&noscript=1"/></noscript>
    <!-- End Meta Pixel Code -->
    <script src="/assets/js/global.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CZQ6J0PW7H"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-CZQ6J0PW7H');
        gtag('config', 'G-RCZFE6130Y');
    </script>
    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KJBHNSV');
    </script>
    <!-- End Google Tag Manager -->
    <!-- 카카오픽셀 -->
    <script type="text/javascript" charset="UTF-8" src="//t1.daumcdn.net/kas/static/kp.js"></script>
    <script type="text/javascript">
        kakaoPixel('2643580108924436254').pageView();
    </script>
    <!-- 카카오픽셀 끝 -->
    <!-- CTS TRACKING SCRIPT V.20 / 1128 : CTS / DO NOT ALTER THIS SCRIPT. -->
    <script type="text/javascript">
        (function(b, s, t, c, k) {
            b[k] = s;
            b[s] =
                b[s] ||
                function() {
                    (b[s].q = b[s].q || []).push(arguments);
                };
            var f = t.getElementsByTagName(c)[0],
                j = t.createElement(c);
            j.async = true;
            j.src = '//cdn.tbase.co.kr/tbase/l4cts.v4.2d.js';
            f.parentNode.insertBefore(j, f);
        })(window, '_dbase_n', document, 'script', 'DBASEAnalyticsObj');
        _dbase_n('1128', 'land');
    </script>
    <!-- END OF CTS TRACKING SCRIPT -->
    <!-- NABUS 공통 SCRIPT -->

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script id="naver-login-sdk" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js"></script>
    <meta name="build-date-time" content="2023-09-01 15:37:49"></head>
<body>
<div id="root" style="height: 100%"></div>
<script src="assets/js/bundle.626c1fd984.js"></script></body>
</html>
