<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="content">
    <th:block layout:fragment="content">
        <th:block layout:fragment="script">
            <script th:inline="javascript">
                $(document).on("click", ".top_cont", function() {
                    $("html, body").animate({ scrollTop: 0 }, 400);  });


            </script>
        </th:block>

<div id="root" style="height: 100%">
    <div class="pc_wrap" style="">
        <div class="wrap sub_wrap">
            <div class="container">
                <div class="inner">
                    <div class="contents use_wrap alliance_wrap">
                        <div class="title_wrap"><h2 class="title_30">단기 렌터카</h2></div>
                        <div class="tab_wrap mb40">
                            <ul class="basic_tab">
                                <li class="on"><a href="/discount">제휴할인</a></li>
                                <li class=""><a href="/electric">전기차안내</a></li>
                                <li class=""><a href="/insurance">보험대차안내</a></li>
                            </ul>
                        </div>
                        <div class="sub_cont">
                            <div class="inner">
                                <div class="title">
                                    <div class="img"><img src="img/@card_01.png" alt="T 멤버십"></div>
                                    <div><p><span>T 멤버십 </span></p>
                                        <p class="label">제주, 내륙 할인</p></div>
                                </div>
                                <ul class="dot_list">
                                    <li>T 멤버십 VIP/GOLD/SILVER 등급 고객 대상</li>
                                    <li>T 멤버십 앱 &gt; 혜택 브랜드 &gt; PLAY 뭐하지? &gt; SK렌터카</li>
                                </ul>
                            </div>
                        </div>
                        <div class="sub_cont">
                            <div class="inner">
                                <div class="title">
                                    <div class="img"><img src="img/@card_02.png" alt="아시아나 클럽"></div>
                                    <div><p><span>대한항공 스카이패스</span></p>
                                        <p class="label">제주, 내륙 할인</p></div>
                                </div>
                                <ul class="dot_list">
                                    <li>렌터카 1일(24시간)이용 시, 100마일리지 적립(1회 최대 1,000마일리지)</li>
                                    <li></li>
                                    <li>대한항공 사이트 &gt; 스카이패스 &gt; 마일리지 적립 &gt; 여행과 라이프 &gt; SK렌터카</li>
                                </ul>
                            </div>
                        </div>
                        <div class="sub_cont">
                            <div class="inner">
                                <div class="title">
                                    <div class="img"><img src="img/@card_03.png" alt="아시아나 클럽"></div>
                                    <div><p><span>아시아나 클럽</span></p>
                                        <p class="label">제주, 내륙 할인</p></div>
                                </div>
                                <ul class="dot_list">
                                    <li>렌터카 1일(24시간)이용 시, 100마일리지 적립(1회 최대 1,000마일리지)</li>
                                    <li>아시아나항공 사이트 &gt; 아시아나 클럽 &gt; 마일리지 적립 &gt; 여행 &gt; SK렌터카</li>
                                </ul>
                            </div>
                        </div>
                        <div class="sub_cont">
                            <div class="inner">
                                <div class="title">
                                    <div class="img"><img src="img/@card_04.png" alt="진에어"></div>
                                    <div><p><span>진에어</span></p>
                                        <p class="label">제주, 내륙 할인</p></div>
                                </div>
                                <ul class="dot_list">
                                    <li>진에어 사이트 &gt; 혜택 &gt; 차량서비스 &gt; SK렌터카</li>
                                </ul>
                            </div>
                        </div>
                        <div class="sub_cont">
                            <div class="inner">
                                <div class="title">
                                    <div class="img"><img src="img/@card_05.png" alt="우리카드"></div>
                                    <div><p><span>우리카드 마이카</span></p>
                                        <p class="label">제주, 내륙 할인</p></div>
                                </div>
                                <ul class="dot_list">
                                    <li>전월실적 30만원 이상 시 혜택 제공</li>
                                    <li>SK렌터카 현장할인으로 실물카드 지참 필요</li>
                                </ul>
                            </div>
                        </div>
                        <div class="sub_cont">
                            <div class="inner">
                                <div class="title">
                                    <div class="img"><img src="img/@card_06.png" alt="KB국민카드"></div>
                                    <div><p><span>KB국민카드 직장인 보너스 체크카드</span></p>
                                        <p class="label">제주, 내륙 할인</p></div>
                                </div>
                                <ul class="dot_list">
                                    <li>전월실적 30만원 이상 시 혜택 제공</li>
                                    <li>SK렌터카 현장할인으로 실물카드 지참 필요</li>
                                </ul>
                            </div>
                        </div>
                        <div class="ex_txt">
                            <ul class="dot_list"><em class="bold">
                                <li>모든 제휴 할인은 24시간 이상 대여 시 적용되며, 보험(차량손해면책제도)은 할인대상에서 제외돼요.</li>
                            </em>
                                <li><em class="bold">성수기 및 비수기 시즌에 따라 할인율이 다르게 적용돼요.</em></li>
                                <li><em class="bold">제휴사 사이트 통해 예약 시, 제휴 할인을 받을 수 있어요.</em></li>
                                <li>SK렌터카 회원일 경우, 최대 할인율 적용이 가능해요. 제휴 사이트에서 SK렌터카 로그인 후 예약해주세요.</li>
                                <li>제휴 할인 간 중복할인은 되지 않아요.</li>
                                <li>쿠폰/상품권은 예약 시 결제 전 단계에서 직접 인증하여 이용할 수 있어요.</li>
                                <li>대여일시 기준으로 주중은 일~목, 주말은 금~토 및 공휴일이에요.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar">
                        <div class="inner">
                            <div class="res_form">
                                <div class="cont"><a class="ico_place" style="cursor: default;">제주지점</a>
                                    <button class="inland_btn">내륙 예약하기</button>
                                </div>
                                <div class="cont"><a class="ico_date">09.22(금) 11:00 ~ 09.24(일) 15:00</a></div>
                                <div class="cont"><a class="ico_car">모든 차량<i class="ico_reset"></i></a>
                                    <div class="carousel">
                                        <ul class="btn_option_wrap small">
                                            <li class="on"><a>전체</a></li>
                                            <li class=""><a>전기차</a></li>
                                            <li class=""><a>수입전기차</a></li>
                                            <li class=""><a>제주 전기차 차박</a></li>
                                            <li class=""><a>경형/소형</a></li>
                                            <li class=""><a>중형/대형</a></li>
                                            <li class=""><a>SUV</a></li>
                                            <li class=""><a>승합</a></li>
                                            <li class=""><a>수입</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="btn_group">
                                    <button class="btn type01">차량 조회하고 예약하기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="float_wrap">
                        <div class="inner">
                            <div class="chat_cont">
                                <div class="chat_btn"><a> 상담하기</a></div>
                                <ul class="chat_list">
                                    <li class="chat"><a>채팅상담</a></li>
                                    <li class="inquiry"><a>1:1문의 작성</a></li>
                                </ul>
                            </div>
                            <div class="top_cont"><a class="top_btn"><span class="blind">TOP</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div style="position: fixed; z-index: 9999; inset: 16px 16px 100px; pointer-events: none;"></div>
            </div>

        </div>
    </div>
</div>
    <script src="/skrentalApp/bundle.29105ee17c.js"></script>

    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps-geocoder.js"></script>
    <script id="kakao-sdk" src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <div id="naverIdLogin" style="position: absolute; top: -10000px;"><a id="naverIdLogin_loginButton" href="#"><img
            src="https://static.nid.naver.com/oauth/big_g.PNG?version=js-2.0.0" height="60"></a></div>
    </body>
</th:block>
</html>