<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <th:block th:replace="fragments/CSS_Fragment::link"></th:block>
</head>
<th:block layout:fragment="content">
    <script>
        $(document).ready(function () {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");


           /* // 수정 레이어----------------------------------
            var modify = $('.modifier');
            var chk_Button = $('.chkBtn');
            modify.on("keyup", function () {

                if (modify.val().length > 0) {
                    chk_Button.removeAttr("disabled");
                } else {
                    chk_Button.attr("disabled", "disabled");
                }
            });

            chk_Button.click(function (){

                var data = modify.val();

                console.log(data);

                $.ajax({
                    type: 'POST',
                    url: '/updatePhone',
                    data: data,

                    beforeSend : function(xhr)
                    {   /!*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*!/
                        xhr.setRequestHeader(header, token);
                    },
                    success: function(response) {


                        if (response === "success") {
                            alert("휴대폰 정보 업데이트 완료")

                            location.href = "/myInfo";
                        } else {
                            // 비밀번호가 일치하지 않는 경우
                            console.error('휴대폰 정보 업데이트 에러 발생');
                        }
                    },
                    error: function() {
                        // 에러 시 처리
                        console.error('POST 전송 오류 발생');
                    }
                })
            });*/

        });
    </script>
<div class="container">
    <div class="inner">
        <div class="contents">
            <div class="title_wrap"><h2 class="title_30">내 정보 관리</h2><a class="link_btn mt40" href="/mypage">마이페이지 홈으로</a></div>
            <div class="sub_cont">
                <div class="title_wrap"><p class="title_18">기본 정보</p></div>
                <div class="white_box border">
                    <div class="form_row">
                        <div class="data_management"><label for="coname" class="form_label">아이디 / 소셜 [[${session.memberInfo.getClient()}]]</label>
                            <p class="data_txt">[[${yourInfo.getEmail()}]]</p></div>
                        <div class="data_management"><label for="password" class="form_label">비밀번호</label>
                            <p class="data_txt notice">개인정보 보호를 위해 주기적으로 변경해주세요</p>
                            <div class="btn_modify">
                                <button class="btn">변경</button>
                            </div>
                        </div>
                        <div class="data_management"><label for="sellphone" class="form_label">휴대폰 번호</label>
                            <p class="data_txt">[[${yourInfo.getPhone()}]]</p>
                            <div class="btn_modify">
                                <button class="btn" id="modifyPhone">변경</button>
                            </div>
                        </div>
                        <div class="layerPopup small phoneLayer" style="display: none">
                            <div class="layerPopup_wrap">
                                <div class="layerPopup_heading"><h2 class="heading">휴대폰 번호를 입력해 주세요</h2>
                                    <button class="btn_close">닫기</button>
                                </div>
                                <div class="layerPopup_content">
                                    <div class="form_control">
                                        <div class="form_row">
                                            <label for="modify_phone" class="form_label">Phone No.</label><!--<p id="pwChkErrMsg"></p>-->
                                            <input id="modifier1" name="names" type="text" placeholder="ex) 010-7878-1212" maxlength="13">
                                        </div>

                                    </div>
                                </div>
                                <div class="layerPopup_bottom bottom_gray">
                                    <div class="btn_group">
                                        <button id="chkBtn1" class="btn type01" disabled>번호 수정 완료</button>


                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="sub_cont">
                <div class="title_wrap"><p class="title_18">추가정보</p></div>
                <div class="white_box border">
                    <div class="form_row">
                        <div class="data_management"><label for="email" class="form_label">이메일</label>
                            <p class="data_txt">[[${yourInfo.getContactEmail()}]]</p></div>
                            <div class="btn_modify">
                                <button class="btn" id="modifyEmail">수정</button>
                            </div>
                        <div class="data_management"><label for="nickname" class="form_label">닉네임</label>
                            <p class="data_txt">[[${yourInfo.getNickname()}]]</p></div>
                            <div class="btn_modify">
                                <button class="btn" id="modifyNickname">수정</button>
                            </div>
                        <div class="data_management"><label for="driverLicense" class="form_label">운전면허정보</label>
                            <p class="data_txt notice">미리 등록하면 예약이 더 빨라져요</p>
                            <div class="btn_modify">
                                <button class="btn" id="modifyAddr">등록</button>
                            </div>
                        </div>
                        <div class="data_management"><label for="payment" class="form_label">결제수단관리</label>
                            <p class="data_txt notice">미리 등록하면 예약이 더 빨라져요</p>
                            <div class="btn_modify">
                                <button class="btn" id="modifyPay">변경</button>
                            </div>
                        </div>
                        <div class="layerPopup small emailLayer" style="display: none">
                            <div class="layerPopup_wrap">
                                <div class="layerPopup_heading"><h2 class="heading">이메일을 입력해 주세요</h2>
                                    <button class="btn_close">닫기</button>
                                </div>
                                <div class="layerPopup_content">
                                    <div class="form_control">
                                        <div class="form_row">
                                            <label for="modify_contactEmail" class="form_label">Contact Email here..</label><!--<p id="pwChkErrMsg"></p>-->
                                            <input  id="modifier2" name="names" type="text" placeholder="ex) busanIT2023@computeracademy.com" maxlength="30">
                                        </div>
                                    </div>
                                </div>
                                <div class="layerPopup_bottom bottom_gray">
                                    <div class="btn_group">
                                        <button id="chkBtn2" class="btn type01" disabled>이메일 수정 완료</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layerPopup small nicknameLayer" style="display: none">
                            <div class="layerPopup_wrap">
                                <div class="layerPopup_heading"><h2 class="heading">닉네임을 입력해 주세요</h2>
                                    <button class="btn_close">닫기</button>
                                </div>
                                <div class="layerPopup_content">
                                    <div class="form_control">
                                        <div class="form_row">
                                            <label for="modify_Nickname" class="form_label">Nickname here...</label><!--<p id="pwChkErrMsg"></p>-->
                                            <input id="modifier3" name="names" type="text" th:placeholder="${yourInfo.getNickname}" maxlength="20">
                                        </div>

                                    </div>
                                </div>
                                <div class="layerPopup_bottom bottom_gray">
                                    <div class="btn_group">
                                        <button id="chkBtn3" class="btn type01" disabled>닉네임 수정 완료</button>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sub_cont">
                <div class="title_wrap"><p class="title_18">계정관리</p></div>
                <div class="white_box border">
                    <div class="form_row">
                        <div class="data_management"><p class="data_txt">개인정보 유효기간 설정</p>
                            <div class="btn_modify">
                                <button class="btn arrow">개인정보 유효기간 설정 버튼</button>
                            </div>
                        </div>
                        <div class="data_management"><p class="data_txt open-layerPopup">로그아웃</p>
                            <div class="btn_modify">
                                <button class="btn arrow open-layerPopup" id="logout">로그아웃 버튼</button>
                            </div>
                        </div>
                        <div class="data_management"><p class="data_txt deleteBtn">회원탈퇴</p>
                            <div class="btn_modify">
                                <button class="btn arrow deleteBtn">회원탈퇴 버튼</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="white_box white_box__sm border mt16">
                    <div class="form_row">
                        <div class="data_management"><p class="data_txt"><img src="/assets/img/contents/ico_id_sk.png"
                                                                              alt="결제 이미지" class="ico">SK 멤버사 인증</p>
                            <div class="btn_modify">
                                <button class="btn arrow">SK 멤버사 인증 버튼</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layerPopup small deletePopup" style="display: none">
                <div class="layerPopup_wrap">
                    <div class="layerPopup_heading"><h2 class="heading" style="color: red">정말 회원 탈퇴 하시겠어요?</h2>
                        <button class="btn_close">닫기</button>
                    </div>
                    <div class="layerPopup_content">
                        <div class="form_control">
                            <div class="form_row">
                                <label for="pwInput" class="form_label">비밀번호를 입력해주세요</label><p id="pwChkErrMsg" style="color:red"></p>
                                <input id="pwInput" name="names" type="password" placeholder="영문, 숫자, 특수문자 포함 10~20자 이내" maxlength="20">
                            </div>

                        </div>
                    </div>
                    <div class="layerPopup_bottom bottom_gray">
                        <div class="btn_group">
                            <button id="delete" class="btn type01 pwBtn" disabled>비밀번호를 입력해 주세요</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form name="reqPCCForm" method="post" action=""><input type="hidden" name="reqInfo" value=""><input
                type="hidden" name="retUrl" value=""><input type="hidden" name="verSion" value="2"></form>
        <th:block th:replace="fragments/sidebarCustomerCenter::sidebarCC"></th:block>
    </div>
</div>
</th:block>