<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <th:block th:replace="fragments/CSS_Fragment::link"></th:block>
</head>
<th:block layout:fragment="content">
    <script>
        $(document).ready(function () {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");


            //----------------------------------
            var phoneInput = $('#phoneInput');
            var chk_Button = $('#chkBtn');
            phoneInput.on("keyup", function () {

                if (phoneInput.val().length > 0) {
                    chk_Button.removeAttr("disabled");
                } else {
                    chk_Button.attr("disabled", "disabled");
                }
            });

            chk_Button.click(function (){

                var phone = phoneInput.val();

                console.log(phone);

                $.ajax({
                    type: 'POST',
                    url: '/updatePhone',
                    data: phone,

                    beforeSend : function(xhr)
                    {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                        xhr.setRequestHeader(header, token);
                    },
                    success: function(response) {


                        if (response === "success") {
                            alert("휴대폰 정보 업데이트 완료")

                            location.href = "/myInfo";
                        } else {
                            // 비밀번호가 일치하지 않는 경우
                            console.error('휴대폰 정보 업데이트 에러 발생');
                        }
                    },
                    error: function() {
                        // 에러 시 처리
                        console.error('POST 전송 오류 발생');
                    }
                })
            });

        });
    </script>
<div class="container">
    <div class="inner">
        <div class="contents">
            <div class="title_wrap"><h2 class="title_30">내 정보 관리</h2><a class="link_btn mt40" href="/mypage">마이페이지 홈으로</a></div>
            <div class="sub_cont">
                <div class="title_wrap"><p class="title_18">기본 정보</p></div>
                <div class="white_box border">
                    <div class="form_row">
                        <div class="data_management"><label for="coname" class="form_label">아이디 / 소셜 [[${session.memberInfo.getClient()}]]</label>
                            <p class="data_txt">[[${memberInfo.getEmail()}]]</p></div>
                        <div class="data_management"><label for="password" class="form_label">비밀번호</label>
                            <p class="data_txt notice">개인정보 보호를 위해 주기적으로 변경해주세요</p>
                            <div class="btn_modify">
                                <button class="btn">변경</button>
                            </div>
                        </div>
                        <div class="data_management"><label for="sellphone" class="form_label">휴대폰 번호</label>
                            <p class="data_txt">[[${session.memberInfo.getPhone()}]]</p>
                            <div class="btn_modify">
                                <button class="btn" id="open-layerPopup1">변경</button>
                            </div>
                        </div>
                        <div class="layerPopup small1" style="display: none">
                            <div class="layerPopup_wrap">
                                <div class="layerPopup_heading"><h2 class="heading">휴대폰 번호를 입력해 주세요</h2>
                                    <button class="btn_close">닫기</button>
                                </div>
                                <div class="layerPopup_content">
                                    <div class="form_control">
                                        <div class="form_row">
                                            <label for="phoneInput" class="form_label">Phone No.</label><!--<p id="pwChkErrMsg"></p>-->
                                            <input id="phoneInput" name="names" type="text" placeholder="ex) 010-7878-1212" maxlength="13">
                                        </div>

                                    </div>
                                </div>
                                <div class="layerPopup_bottom bottom_gray">
                                    <div class="btn_group">
                                        <button class="btn type01 chkBtn" disabled>번호 수정 완료</button>


                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="sub_cont">
                <div class="title_wrap"><p class="title_18">추가정보</p></div>
                <div class="white_box border">
                    <div class="form_row">
                        <div class="data_management"><label for="email" class="form_label">이메일</label>
                            <p class="data_txt">[[${session.memberInfo.getEmail()}]]</p></div>
                            <div class="btn_modify">
                                <button class="btn" id="modifyEmail">수정</button>
                            </div>
                        <div class="data_management"><label for="nickname" class="form_label">닉네임</label>
                            <p class="data_txt">[[${session.memberInfo.getNickname()}]]</p></div>
                            <div class="btn_modify">
                                <button class="btn" id="modifyNick">수정</button>
                            </div>
                        <div class="data_management"><label for="driverLicense" class="form_label">운전면허정보</label>
                            <p class="data_txt notice">미리 등록하면 예약이 더 빨라져요</p>
                            <div class="btn_modify">
                                <button class="btn" id="modifyAddr">등록</button>
                            </div>
                        </div>
                        <div class="data_management"><label for="payment" class="form_label">결제수단관리</label>
                            <p class="data_txt notice">미리 등록하면 예약이 더 빨라져요</p>
                            <div class="btn_modify">
                                <button class="btn" id="modifyPay">변경</button>
                            </div>
                        </div>
                        <div class="layerPopup small2" style="display: none">
                            <div class="layerPopup_wrap">
                                <div class="layerPopup_heading"><h2 class="heading">이메일을 입력해 주세요</h2>
                                    <button class="btn_close">닫기</button>
                                </div>
                                <div class="layerPopup_content">
                                    <div class="form_control">
                                        <div class="form_row">
                                            <label for="emailInput" class="form_label">Phone No.</label><!--<p id="pwChkErrMsg"></p>-->
                                            <input id="emailInput" name="names" type="text" placeholder="ex) 010-7878-1212" maxlength="13">
                                        </div>

                                    </div>
                                </div>
                                <div class="layerPopup_bottom bottom_gray">
                                    <div class="btn_group">
                                        <button id="chkBtn" class="btn type01" disabled>번호 수정 완료</button>


                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="layerPopup small3" style="display: none">
                            <div class="layerPopup_wrap">
                                <div class="layerPopup_heading"><h2 class="heading">닉네임을 입력해 주세요</h2>
                                    <button class="btn_close">닫기</button>
                                </div>
                                <div class="layerPopup_content">
                                    <div class="form_control">
                                        <div class="form_row">
                                            <label for="nickInput" class="form_label">Phone No.</label><!--<p id="pwChkErrMsg"></p>-->
                                            <input id="nickInput" name="names" type="text" placeholder="[[${session.memberInfo.getNickname}]]" maxlength="20">
                                        </div>

                                    </div>
                                </div>
                                <div class="layerPopup_bottom bottom_gray">
                                    <div class="btn_group">
                                        <button class="btn type01 chkBtn" disabled>닉네임 수정 완료</button>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sub_cont">
                <div class="title_wrap"><p class="title_18">계정관리</p></div>
                <div class="white_box border">
                    <div class="form_row">
                        <div class="data_management"><p class="data_txt">개인정보 유효기간 설정</p>
                            <div class="btn_modify">
                                <button class="btn arrow">개인정보 유효기간 설정 버튼</button>
                            </div>
                        </div>
                        <div class="data_management"><p class="data_txt">로그아웃</p>
                            <div class="btn_modify">
                                <button class="btn arrow" id="logout">로그아웃 버튼</button>
                            </div>
                        </div>
                        <div class="data_management"><p class="data_txt">회원탈퇴</p>
                            <div class="btn_modify">
                                <button class="btn arrow">회원탈퇴 버튼</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="white_box white_box__sm border mt16">
                    <div class="form_row">
                        <div class="data_management"><p class="data_txt"><img src="/assets/img/contents/ico_id_sk.png"
                                                                              alt="결제 이미지" class="ico">SK 멤버사 인증</p>
                            <div class="btn_modify">
                                <button class="btn arrow">SK 멤버사 인증 버튼</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form name="reqPCCForm" method="post" action=""><input type="hidden" name="reqInfo" value=""><input
                type="hidden" name="retUrl" value=""><input type="hidden" name="verSion" value="2"></form>
        <div class="sidebar">
            <div id="sideScroll" class="inner">
                <div class="fillter_wrap"><h2>어떤 도움이 필요하세요</h2>
                    <div class="menu_btns row3">
                        <ul class="btns_list">
                            <li><a>
                                <div class="icon"><img src="img/ico_cs_main01.png" alt="결제 이미지"></div>
                                <span>예약·변경</span></a></li>
                            <li><a>
                                <div class="icon"><img src="img/ico_cs_main02.png" alt="결제 이미지"></div>
                                <span>운전자</span></a></li>
                            <li><a>
                                <div class="icon"><img src="img/ico_cs_main03.png" alt="결제 이미지"></div>
                                <span>제휴·할인</span></a></li>
                            <li><a>
                                <div class="icon"><img src="img/ico_cs_main04.png" alt="결제 이미지"></div>
                                <span>보험</span></a></li>
                            <li><a>
                                <div class="icon"><img src="img/ico_cs_main05.png" alt="결제 이미지"></div>
                                <span>고장·사고</span></a></li>
                            <li><a>
                                <div class="icon"><img src="img/ico_cs_main06.png" alt="결제 이미지"></div>
                                <span>장기렌터카</span></a></li>
                            <li><a>
                                <div class="icon"><img src="img/ico_cs_main07.png" alt="결제 이미지"></div>
                                <span>유류비</span></a></li>
                            <li><a>
                                <div class="icon"><img src="img/ico_cs_main08.png" alt="결제 이미지"></div>
                                <span>부가용품</span></a></li>
                        </ul>
                    </div>
                    <div class="btn_group"><a class="btn type02">고객센터로 이동</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
</th:block>