<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AIRCAR 마이페이지</title>
</head>
<body>
<th:block th:replace="fragments/header::headerFragment"></th:block>
<div class="container">
    <div class="inner">
        <div class="contents">
            <div class="title_wrap"><h2 class="title_30">마이페이지</h2></div>
            <div class="sub_cont">
                <div class="profile_cont">
                    <div class="txt"><p class="name"><strong>서해명님 </strong>안녕하세요!</p>
                        <p class="desc">언제나, 어디서나 SK 렌터카와 함께해 주세요</p></div>
                    <button class="link_btn">내 정보 관리</button>
                </div>
            </div>
            <div class="sub_cont">
                <div class="title_wrap"><p class="title_18">나의 단기렌트</p><a class="moreview">전체보기</a></div>
                <div class="car_info_box" style="cursor: pointer;">
                    <div class="car_info__txt"><p class="reservation_num" style="display: flex;">예약번호<span
                            aria-live="polite" aria-busy="true"><span class="react-loading-skeleton"
                                                                      style="margin-left: 5px; width: 5rem;">&zwnj;</span><br></span>
                    </p>
                        <p class="title_18"><span aria-live="polite" aria-busy="true"><span
                                class="react-loading-skeleton">&zwnj;</span><br></span></p>
                        <p class="date"><span aria-live="polite" aria-busy="true"><span class="react-loading-skeleton">&zwnj;</span><br></span>
                        </p>
                        <p class="company"><span aria-live="polite" aria-busy="true"><span
                                class="react-loading-skeleton">&zwnj;</span><br></span></p></div>
                    <span class="photo"></span></div>
                <ul class="flex_box_row row2">
                    <li><a target="_blank" class="white_box border">
                        <div class="down_list_info link_type">
                            <dl>
                                <dt>나의 쿠폰/상품권</dt>
                                <dd>가지고 계신 쿠폰을 확인해 보세요</dd>
                            </dl>
                        </div>
                    </a></li>
                    <li><a target="_blank" class="white_box border">
                        <div class="down_list_info link_type">
                            <dl>
                                <dt>1:1 문의 내역</dt>
                                <dd>정확한 답변으로 안내해 드릴게요</dd>
                            </dl>
                        </div>
                    </a></li>
                </ul>
            </div>
            <div class="sub_cont">
                <div class="title_wrap"><p class="title_18">나의 공유카</p></div>
                <a target="_blank" class="white_box">
                    <figure class="row_cards"><img src="/pc_assets/img/contents/main_b05.jpg" alt="">
                        <figcaption><p class="title_16">스마트 쉐어</p>
                            <p class="title_14">계약부터 장비까지 스마트 쉐어로 관리해 보세요</p></figcaption>
                    </figure>
                </a></div>
        </div>
        <div class="sidebar">
            <div id="sideScroll" class="inner">
                <div class="fillter_wrap"><h2>어떤 도움이 필요하세요</h2>
                    <div class="menu_btns row3">
                        <ul class="btns_list">
                            <li><a>
                                <div class="icon"><img src="/assets/img/contents/ico_cs_main01.png" alt="결제 이미지"></div>
                                <span>예약·변경</span></a></li>
                            <li><a>
                                <div class="icon"><img src="/assets/img/contents/ico_cs_main02.png" alt="결제 이미지"></div>
                                <span>운전자</span></a></li>
                            <li><a>
                                <div class="icon"><img src="/assets/img/contents/ico_cs_main03.png" alt="결제 이미지"></div>
                                <span>제휴·할인</span></a></li>
                            <li><a>
                                <div class="icon"><img src="/assets/img/contents/ico_cs_main04.png" alt="결제 이미지"></div>
                                <span>보험</span></a></li>
                            <li><a>
                                <div class="icon"><img src="/assets/img/contents/ico_cs_main05.png" alt="결제 이미지"></div>
                                <span>고장·사고</span></a></li>
                            <li><a>
                                <div class="icon"><img src="/assets/img/contents/ico_cs_main06.png" alt="결제 이미지"></div>
                                <span>장기렌터카</span></a></li>
                            <li><a>
                                <div class="icon"><img src="/assets/img/contents/ico_cs_main07.png" alt="결제 이미지"></div>
                                <span>유류비</span></a></li>
                            <li><a>
                                <div class="icon"><img src="/assets/img/contents/ico_cs_main08.png" alt="결제 이미지"></div>
                                <span>부가용품</span></a></li>
                        </ul>
                    </div>
                    <div class="btn_group"><a class="btn type02">고객센터로 이동</a></div>
                </div>
            </div>
        </div>
        <div class="float_wrap">
            <div class="inner">
                <div class="chat_cont">
                    <div class="chat_btn"><a> 상담하기</a></div>
                    <ul class="chat_list">
                        <li class="chat"><a>채팅상담</a></li>
                        <li class="inquiry"><a>1:1문의 작성</a></li>
                    </ul>
                </div>
                <div class="top_cont"><a class="top_btn"><span class="blind">TOP</span></a></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>